#
# motor template file for 13-ID-E: modified 2011-Jan-18
#
# This IOC controls 5 OMS VME58.  A Newport XPS is used with a soft IOC.
#
# Motor Numbers     Type         Card   Driver Type
# -------------   ----------   -------  -----------
#   1-8           OMS VME58       0     Step Pak A (XAS Table) -- NO ACTIVE LIMITS
#   9-16          OMS VME58       1     Step Pak B  32M drivers
#  17-24          OMS VME58       2     Step Pak C  6U drivers
#  25-32          OMS VME58       3     BP8000      (KB Mirrors)
#  33-40          OMS-VME58       4     BP8000      (Extra Motors) 
# -------------   ----------   -------  -----------
#
# Note: all motors must be defined for 'motors_all_done' to work

file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,       M,    DTYP,      C,  S,  DESC,               EGU,  DIR,  VELO, VBAS, ACCL, BDST,BVEL,BACC, SREV,UREV,PREC,DHLM,DLLM}
# Step Pak A (XAS Table)
{13IDE:,  m1, "OMS VME58", 0, 0, "Upstream Y",          mm,  Pos,   .2,  .005,   1.,  0,   1, .2, 400,  0.023813, 4,   50,    0}
{13IDE:,  m2, "OMS VME58", 0, 1, "Inboard Y",           mm,  Pos,   .2,  .005,   1.,  0,   1, .2, 400,  0.023813, 4,   50,    0}
{13IDE:,  m3, "OMS VME58", 0, 2, "Outboard Y",          mm,  Pos,   .2,  .005,   1.,  0,   1, .2, 400,  0.023813, 4,   50,    0}
{13IDE:,  m4, "OMS VME58", 0, 3, "Upstream X",          mm,  Pos,   .5,  .005,   .5,  0,   1, .2, 400, -0.035278, 4,   79,  -52}
{13IDE:,  m5, "OMS VME58", 0, 4, "Downstream X",        mm,  Pos,   .5,  .005,   .5,  0,   1, .2, 400,  0.035278, 4,   30,  -75}
{13IDE:,  m6, "OMS VME58", 0, 5, "Base Y",              mm,  Pos,   .5,   .05,   1., .05,.05, .5, 400, -0.10583,  4,  200,    0}
{13IDE:,  m7, "OMS VME58", 0, 6, "Microscope Y",        mm,  Pos,  1.0,    .1,   .5,  0,   1, .2, 200, -.710,     3,   27,    0}
{13IDE:,  m8, "OMS VME58", 0, 7, "Split Ion Chamber X", mm,  Neg,   1.,    .1,   .5,  0,   1, .5, 200,  0.1,      4,   0,   -25}

# Step Pak B (several 32M)
{13IDE:,  m9, "OMS VME58", 1, 0, "Vortex X (32M)",      mm,  Neg,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  4,  80,  -80}
{13IDE:, m10, "OMS VME58", 1, 1, "Vortex Y (32M)",      mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  4,  80,  -80}
{13IDE:, m11, "OMS VME58", 1, 2, "Vortex Z (32M)",      mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  4,  80,  -80}
{13IDE:, m12, "OMS VME58", 1, 3, "unused (32M)",        mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  4,  80,  -80}
{13IDE:, m13, "OMS VME58", 1, 4, "TT Slit Bot",         mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  3,  11,  -11}
{13IDE:, m14, "OMS VME58", 1, 5, "TT Slit Top",         mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  3,  11,  -11}
{13IDE:, m15, "OMS VME58", 1, 6, "TT Slit In",          mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  3,  11,  -11}
{13IDE:, m16, "OMS VME58", 1, 7, "TT Slit Out",         mm,  Neg,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,  3,  11,  -11}

#
# Step Pak C
{13IDE:, m17, "OMS VME58", 2, 0, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -95}
{13IDE:, m18, "OMS VME58", 2, 1, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  20,   0.10,  4,  95,  -95}
{13IDE:, m19, "OMS VME58", 2, 2, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -90}
{13IDE:, m20, "OMS VME58", 2, 3, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -90}
{13IDE:, m21, "OMS VME58", 2, 4, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -90}
{13IDE:, m22, "OMS VME58", 2, 5, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -90}
{13IDE:, m23, "OMS VME58", 2, 6, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -90}
{13IDE:, m24, "OMS VME58", 2, 7, "unused",              mm,  Pos,  1.0,  0.1,  .5, 0, 1, .2,  200,  0.10,  4,  95,  -90}

# {13IDE:, m20, "OMS VME58", 2, 3, "unused",              mm,  Pos,  1.0,  0.1, .5, 0, 1, .2,  400, -.710,  4,  10,  0}
# {13IDE:, m21, "OMS VME58", 2, 4, "unused",              mm,  Neg,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,     4,  80,  -80}
# {13IDE:, m22, "OMS VME58", 2, 5, "unused",              mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,     4,  80,  -80}
# {13IDE:, m23, "OMS VME58", 2, 6, "unused",              mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,     4,  80,  -80}
# {13IDE:, m24, "OMS VME58", 2, 7, "unused",              mm,  Pos,   10.,   1.,  .5,  0,  5,  .5, 400,  0.52,     4,  80,  -80}

# KB Mirrors, BP800 #1 (round connectors)
{13IDE:, m25, "OMS VME58", 3, 0, "Vert mirror angle",    mrad,      Pos,     10,  .1, .2, 0, 1, .2, 48,  -0.8868,3,  30,-30}
{13IDE:, m26, "OMS VME58", 3, 1, "Vert mirror height",    microns,  Pos,  250.0,  10, .2, 0, 1, .2, 48,   11.628, 1, 8e3,  0}
{13IDE:, m27, "OMS VME58", 3, 2, "Vert force UpStream",   microns,  Pos,  200.0,  10, .2, 0, 1, .2, 48,   11.628, 1, 8e3,  0}
{13IDE:, m28, "OMS VME58", 3, 3, "Vert force DownStream", microns,  Pos,  200.0,  10, .2, 0, 1, .2, 48,   11.628, 1, 8e3,  0}

{13IDE:, m29, "OMS VME58", 3, 4, "Hor mirror angle",     mrad,      Pos,     10,  .1, .2, 0, 1, .2, 48,  -0.8868,3,  30,-30}
{13IDE:, m30, "OMS VME58", 3, 5, "Hor mirror height",     microns,  Pos,  150.0,  10, .2, 0, 1, .2, 48,   3.546, 1, 8e3,  0}
{13IDE:, m31, "OMS VME58", 3, 6, "Hor force UpStream",    microns,  Pos,  100.0,  10, .2, 0, 1, .2, 48,   3.546, 1, 8e3,  0}
{13IDE:, m32, "OMS VME58", 3, 7, "Hor force DownStream",  microns,  Pos,  100.0,  10, .2, 0, 1, .2, 48,   3.546, 1, 8e3,  0}


# CMA and additional motors, BP8000 #2 (elco connectors)
#P,      M,    DTYP,       C, S,     DESC,          EGU,   DIR,  VELO, VBAS, ACCL, BDST,BVEL,BACC, SREV,UREV,PREC,DHLM,DLLM
{13IDE:, m33, "OMS VME58",  4, 0, "Microscope X", microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m34, "OMS VME58",  4, 1, "Beamstop X",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m35, "OMS VME58",  4, 2, "Unused CMA",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m36, "OMS VME58",  4, 3, "unused CMA",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m37, "OMS VME58",  4, 4, "unused CMA",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m38, "OMS VME58",  4, 5, "unused CMA",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m39, "OMS VME58",  4, 6, "unused CMA",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
{13IDE:, m40, "OMS VME58",  4, 7, "unused CMA",   microns, Pos,  200.0,  10,  .2,  0,  200,  .2,  10240,  500,   1,  27000,  -150}
}

# XAS table using generic table-record
file "$(OPTICS)/opticsApp/Db/table.db"
{
pattern
{P,         Q,     T, M0X,  M0Y,  M1Y,  M2X,  M2Y,  M2Z, GEOM}
{13IDE:, XAS:T1, XAS:t1, m5,   m2,   m3,   m4,   m1,  junk,  SRI}
}

# Psuedo-motors
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,        DINP,      OUT,       RDBL,    STOO,     DESC, EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL,  BACC, MRES,   RRES, PREC,  DHLM, DLLM}
{13IDE:, pm1, "13IDE:KBV:Done NPP NMS","13IDE:pm1DVAL.VAL PP MS", "13IDE:KBV:Readback.G NPP NMS", "13IDE:KBV:Stop PP MS", "Curvature",    mm, Pos, 1, .1, .1, 0, 1, .1, .1, 1.0, 1, 10000, -10000}
{13IDE:, pm2, "13IDE:KBV:Done NPP NMS","13IDE:pm2DVAL.VAL PP MS", "13IDE:KBV:Readback.H NPP NMS", "13IDE:KBV:Stop PP MS", "Ellipticity",  mm, Pos, 1, .1, .1, 0, 1, .1, .1, 1.0, 1, 10000, -10000}
{13IDE:, pm3, "13IDE:KBH:Done NPP NMS","13IDE:pm3DVAL.VAL PP MS", "13IDE:KBH:Readback.G NPP NMS", "13IDE:KBH:Stop PP MS", "Curvature",    mm, Pos, 1, .1, .1, 0, 1, .1, .1, 1.0, 1, 10000, -10000}
{13IDE:, pm4, "13IDE:KBH:Done NPP NMS","13IDE:pm4DVAL.VAL PP MS", "13IDE:KBH:Readback.H NPP NMS", "13IDE:KBH:Stop PP MS", "Ellipticity",  mm, Pos, 1, .1, .1, 0, 1, .1, .1, 1.0, 1, 10000, -10000}
}

#
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,   SUM, DIFF,  M1DRV,   M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13IDE:, KBV:, pm1, pm2,  m27.VAL, m27.RBV, m28.VAL, m28.RBV, m27.STOP, m27.DMOV, m28.STOP, m28.DMOV, 1}
{13IDE:, KBH:, pm3, pm4,  m31.VAL, m31.RBV, m32.VAL, m32.RBV, m31.STOP, m31.DMOV, m32.STOP, m32.DMOV, 1}
}

# Psuedo-motors
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,        DINP,      OUT,       RDBL,    STOO,     DESC,                                                                EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL,  BACC, MRES,   RRES, PREC,  DHLM, DLLM}
{13IDE:, sm1, "13IDE:SL1:Done NPP NMS","13IDE:sm1DVAL.VAL PP MS", "13IDE:SL1:Readback.G NPP NMS", "13IDE:SL1:Stop PP MS", "center",   mm, Pos, 5., 1., .5, 0, 5, .5, 0.013, 1, 3, 50, -50}
{13IDE:, sm2, "13IDE:SL1:Done NPP NMS","13IDE:sm2DVAL.VAL PP MS", "13IDE:SL1:Readback.H NPP NMS", "13IDE:SL1:Stop PP MS", "width",  mm, Pos, 5., 1., .5, 0, 5, .5, 0.013, 1, 3, 50, -50}
{13IDE:, sm3, "13IDE:SL2:Done NPP NMS","13IDE:sm3DVAL.VAL PP MS", "13IDE:SL2:Readback.G NPP NMS", "13IDE:SL2:Stop PP MS", "center",   mm, Pos, 5., 1., .5, 0, 5, .5, 0.013, 1, 3, 50, -50}
{13IDE:, sm4, "13IDE:SL2:Done NPP NMS","13IDE:sm4DVAL.VAL PP MS", "13IDE:SL2:Readback.H NPP NMS", "13IDE:SL2:Stop PP MS", "width",  mm, Pos, 5., 1., .5, 0, 5, .5, 0.013, 1, 3, 50, -50}
}

file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,   SUM, DIFF,  M1DRV,   M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13IDE:, SL1:, sm1, sm2,  m13.VAL, m13.RBV, m14.VAL, m14.RBV, m13.STOP, m13.DMOV, m14.STOP, m14.DMOV, 3}
{13IDE:, SL2:, sm3, sm4,  m15.VAL, m15.RBV, m16.VAL, m16.RBV, m15.STOP, m15.DMOV, m16.STOP, m16.DMOV, 3}
}

file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13IDE:,SCANREC=13IDE:scan1,Q=XAS:T1X,POS=XAS:t1.X,RDBK=XAS:t1.XRB}
{P=13IDE:,SCANREC=13IDE:scan1,Q=XAS:T1Y,POS=XAS:t1.Y,RDBK=XAS:t1.YRB}
{P=13IDE:,SCANREC=13IDE:scan1,Q=XAS:T1Z,POS=XAS:t1.Z,RDBK=XAS:t1.ZRB}
{P=13IDE:,SCANREC=13IDE:scan1,Q=XAS:T1AX,POS=XAS:t1.AX,RDBK=XAS:t1.AXRB}
{P=13IDE:,SCANREC=13IDE:scan1,Q=XAS:T1AY,POS=XAS:t1.AY,RDBK=XAS:t1.AYRB}
{P=13IDE:,SCANREC=13IDE:scan1,Q=XAS:T1AZ,POS=XAS:t1.AZ,RDBK=XAS:t1.AZRB}
}
