file "$(ASYN)/db/asynRecord.db"
{
pattern
{R         PORT    ADDR    OMAX  IMAX}
{serial1   serial1    0     80  80}
{serial2   serial2    0     80  80}
{serial3   serial3    0     80  80}
{serial4   serial4    0     80  80}
{serial5   serial5    0     80  80}
{serial6   serial6    0     80  80}
{serial7   serial7    0     80  80}
{serial8   serial8    0     80  80}
}
