file "$(CARS)/db/GSE_CD_MonoPositions.template"
{
pattern
{P,      MONO,  EPS_111,             EPS_311,             EPS_WHITE,            THETA_MOTOR,  HEIGHT_MOTOR, PITCH_MOTOR, ROLL_MOTOR}
{13IDA:, CDEn,  13IDA:eps_mbbi204,   13IDA:eps_mbbi205,   13IDA:eps_mbbi206,    13IDA:m57,    13IDA:m58,    13IDA:m59,   13IDA:m60}
}
