# XPS Stages
file "$(CARS)/db/asynMotor.db"
{
pattern
{P,      N,   M,     DTYP,    PORT, ADDR, DESC,                EGU,  DIR, VELO, VBAS, ACCL, BDST,BVEL,BACC, SREV,  UREV,        PREC,  DHLM,   DLLM}
# 0.2 microradian encoder, units in degrees
{13IDA:, 1, m57, "asynMotor", XPS1, 0,   "C/D Mono Theta",     deg,  Pos,  1.0,   0,   2.0,   0,   1, .2,    1,   1.14329268E-05,  5,    40,      -5}
# 200 full steps/rev, 25:1 gear box, 1mm lead screw pitch = 1mm/200/25= .0002
{13IDA:, 2, m58, "asynMotor", XPS1, 1,   "C/D Mono Height",     mm,  Pos,  0.3,   0,   0.5,   0,   1, .2,    1,   0.0002,          4,    8,       0}
# 200 full steps/rev, 28:1 gear box, 1mm lead screw pitch = 1mm/200/28= 0.0001785714
{13IDA:, 3, m59, "asynMotor", XPS1, 2,   "C/D Mono Pitch",      mm,  Pos,  0.3,   0,   0.5,   0,   1, .2,    1,   0.0001785714,    4,    4,       0}
# 200 full steps/rev, 28:1 gear box, 1mm lead screw pitch = 1mm/200/28= 0.0001785714
{13IDA:, 4, m60, "asynMotor", XPS1, 3,   "C/D Mono Roll",       mm,  Pos,  0.3,   0,   0.5,   0,   1, .2,    1,   0.0001785714,    4,    4,       0}
# MFA-CC stage, resolution from Newports StageDataBase.txt
{13IDA:, 5, m61, "asynMotor", XPS1, 4,   "C/D QBPM Height",     mm,  Neg,  1.0,   0,   0.5,   0,   1, .2,    1,   0.0000176994,    4,   25,       0}
# Dummy motor, reserved for future use on this XPS
{13IDA:, 6, m62, "asynMotor", XPS1, 5,   "Dummy 1",             mm,  Neg,  1.0,   0,   0.5,   0,   1, .2,    1,   0.0000176994,    4,   25,       0}
# Dummy motor, reserved for future use on this XPS
{13IDA:, 7, m63, "asynMotor", XPS1, 6,   "Dummy 2",             mm,  Neg,  1.0,   0,   0.5,   0,   1, .2,    1,   0.0000176994,    4,   25,       0}
# Dummy motor, reserved for future use on this XPS
{13IDA:, 8, m64, "asynMotor", XPS1, 7,   "Dummy 3",             mm,  Neg,  1.0,   0,   0.5,   0,   1, .2,    1,   0.0000176994,    4,   25,       0}
}

file "$(MOTOR)/db/XPS_extra.db"
{
pattern
{P,     R,  PORT,  ADDR}
{13IDA:,  m57, XPS1,  0}
{13IDA:,  m58, XPS1,  1}
{13IDA:,  m59, XPS1,  2}
{13IDA:,  m60, XPS1,  3}
{13IDA:,  m61, XPS1,  4}
{13IDA:,  m62, XPS1,  5}
{13IDA:,  m63, XPS1,  6}
{13IDA:,  m64, XPS1,  7}
}

file "$(MOTOR)/db/profileMoveController.template"
{
pattern
{P,       R,       PORT, NAXES, NPOINTS, NPULSES, TIMEOUT}
{13IDA:,  CDProf:, XPS1,     2,   10010,   10010,       1}
}

file "$(MOTOR)/db/profileMoveControllerXPS.template"
{
pattern
{P,         R,     PORT, NAXES, NPOINTS, NPULSES, TIMEOUT}
{13IDA:,  CDProf:, XPS1,     6,   10010,   10010,       1}
}

file "$(MOTOR)/db/profileMoveAxis.template"
{
pattern
{P,       R,       M,  PORT, ADDR, NPOINTS,  NREADBACK,     MOTOR, PREC, TIMEOUT}
{13IDA:,  CDProf:, 1,  XPS1,    0,   10010,      10010, 13IDA:m57,    5,       1}
{13IDA:,  CDProf:, 2,  XPS1,    1,   10010,      10010, 13IDA:m58,    4,       1}
}

file "$(MOTOR)/db/profileMoveAxisXPS.template"
{
pattern
{P,       R,       M,  PORT, ADDR, NPOINTS,  NREADBACK, PREC, TIMEOUT}
{13IDA:,  CDProf:, 1,  XPS1,    0,   10010,      10010,    5,       1}
{13IDA:,  CDProf:, 2,  XPS1,    1,   10010,      10010,    4,       1}
}



