file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13IDA:,SCANREC=13BMD_XPS:scan1,Q=m57,POS=m57.VAL,RDBK=m57.RBV}
{P=13IDA:,SCANREC=13BMD_XPS:scan1,Q=m58,POS=m58.VAL,RDBK=m58.RBV}
{P=13IDA:,SCANREC=13BMD_XPS:scan1,Q=m59,POS=m59.VAL,RDBK=m59.RBV}
{P=13IDA:,SCANREC=13BMD_XPS:scan1,Q=m60,POS=m60.VAL,RDBK=m60.RBV}
}
