file "$(SSCAN)/db/scanParms.db"
{
{P=13IDA:,SCANREC=13IDA:scan1,Q=m57,POS=m57.VAL,RDBK=m57.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m58,POS=m58.VAL,RDBK=m58.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m59,POS=m59.VAL,RDBK=m59.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m60,POS=m60.VAL,RDBK=m60.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m61,POS=m61.VAL,RDBK=m61.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m62,POS=m62.VAL,RDBK=m62.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m63,POS=m63.VAL,RDBK=m63.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m64,POS=m64.VAL,RDBK=m64.RBV}
}
