# XPS Stages
file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,      N,   M,     DTYP,    PORT, ADDR, DESC,       EGU,  DIR, VELO, VBAS, ACCL, BDST,BVEL,BACC,  SREV,  UREV, PREC,  DHLM,     DLLM}
{13SXD:, 1,  m1, "asynMotor", XPS1, 0, "2-theta",     deg,  Pos,  8.,   0,   0.5,   0,    1,  .2,   10000, 1,    4,      50,       -50}
{13SXD:, 2,  m2, "asynMotor", XPS1, 1, "omega",       deg,  Pos,  8.,   0,   0.5,   0,    1,  .2,   10000, 1,    4,      50,       -50}
{13SXD:, 3,  m3, "asynMotor", XPS1, 2, "chi",         deg,  Pos,  8.,   0,   0.5,   0,    1,  .2,   10000, 1,    4,      50,       -50}
{13SXD:, 4,  m4, "asynMotor", XPS1, 3, "horizontal",   mm,  Pos,  8.,   0,   0.5,   0,    1,  .2,   10000, 1,    4,      50,       -50}
{13SXD:, 5,  m5, "asynMotor", XPS1, 4, "distance",     mm,  Pos,  5.,   0,   0.5,   0,    1,  .2,   10000, 1,    4,      50,       -50}
{13SXD:, 6,  m6, "asynMotor", XPS1, 5, "phi",         deg,  Pos, 20.,   0,   0.5,   0,    1,  .2,     750, 1,    4,     360,         0}
}

file "$(MOTOR)/motorApp/Db/XPS_extra.db"
{
pattern
{P,       R,  PORT,  ADDR}
{13SXD:,  m1, XPS1,  0}
{13SXD:,  m2, XPS1,  1}
{13SXD:,  m3, XPS1,  2}
{13SXD:,  m4, XPS1,  3}
{13SXD:,  m5, XPS1,  4}
{13SXD:,  m6, XPS1,  5}
}



