file "$(CARS)/db/asynMotor.db"
{
pattern
{P,          M,     DTYP,       PORT, ADDR,  DESC,     EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,    PREC, DHLM, DLLM}
{13IDA:,   m73,   "asynMotor",  PMAC1, 1,     "M1",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m74,   "asynMotor",  PMAC1, 2,     "M2",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m75,   "asynMotor",  PMAC1, 3,     "M3",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m76,   "asynMotor",  PMAC1, 4,     "M4",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m77,   "asynMotor",  PMAC1, 5,     "M5",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m78,   "asynMotor",  PMAC1, 6,     "M6",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m79,   "asynMotor",  PMAC1, 7,     "M7",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13IDA:,   m80,   "asynMotor",  PMAC1, 8,     "M8",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
# 0.2 microradian encoder, units in degrees
{13IDA:,   m81,   "asynMotor",  PMAC1, 9, "E_Mono_Theta", deg,  Pos,   5.0,      0,     .05,    0,     0.1,     .1,    1, 1.14329268E-05, 5, 40,     -5}
}
