record(bo,"$(P)eps_bo$(N)")
{
  field(DESC, "$(DESC)")
  field(DTYP, "asynUInt32Digital")
  field(OUT,  "@asynMask($(PORT) $(OFFSET) 0x1)")
  field(ZNAM, "$(ZNAM)")
  field(ZSV,  "$(ZSV)")
  field(ONAM, "$(ONAM)")
  field(OSV,  "$(OSV)")
  field(PINI, "YES")
}
