file "$(CARS)/db/asynMotor.db"

{
pattern
{P,        M,       DTYP,      PORT,   ADDR, DESC,    EGU,   DIR,   VELO,  VBAS, ACCL,  BDST, BVEL, BACC,  SREV, UREV,  PREC,   DHLM,  DLLM, INIT}
{13IDC:, "m65", "asynMotor",  HEXAPOD,  0,   "Tx",      mm,  Pos,    2.0,   0.0,  0.10,    0,    1,   .2,  1,   1.e-4,    4,    20,   -20,    ""}
{13IDC:, "m66", "asynMotor",  HEXAPOD,  1,   "Ty",      mm,  Pos,    2.0,   0.0,  0.10,    0,    1,   .2,  1,   1.e-4,    4,    20,   -20,    ""}
{13IDC:, "m67", "asynMotor",  HEXAPOD,  2,   "Tz",      mm,  Pos,    2.0,   0.0,  0.10,    0,    1,   .2,  1,   1.e-4,    4,    20,   -20,    ""}
{13IDC:, "m68", "asynMotor",  HEXAPOD,  3,   "Rx",     deg,  Pos,    2.0,   0.0,  0.10,    0,    1,   .2,  1,   1.e-4,    4,    15,   -15,    ""}
{13IDC:, "m69", "asynMotor",  HEXAPOD,  4,   "Ry",     deg,  Pos,    2.0,   0.0,  0.10,    0,    1,   .2,  1,   1.e-4,    4,    15,   -15,    ""}
{13IDC:, "m70", "asynMotor",  HEXAPOD,  5,   "Rz",     deg,  Pos,    2.0,   0.0,  0.10,    0,    1,   .2,  1,   1.e-4,    4,    15,   -15,    ""}
}

