file "$(ASYN)/db/asynRecord.db"
{
pattern
{P          R         PORT    ADDR    OMAX  IMAX}
{13BMC:     serial1   serial1    0     80  80}
{13BMC:     serial2   serial2    0     80  80}
{13BMC:     serial3   serial3    0     80  80}
{13BMC:     serial4   serial4    0     80  80}
{13BMC:     serial5   serial5    0     80  80}
{13BMC:     serial6   serial6    0     80  80}
{13BMC:     serial7   serial7    0     80  80}
{13BMC:     serial8   serial8    0     80  80}
}
