file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,        M,          DTYP,  C,  S, DESC,                  EGU,  DIR,  VELO,   VBAS,ACCL,BDST,BVEL,BACC,SREV,UREV,  PREC,  DHLM, DLLM}
{13BMC:,  m1,   "OMS VME58",   0,  0, "Klinger Stage",        mm,  Pos,   1.0,  0.1,  .5,  0,  1, .2, 200,    0.10,   4,    95,    5}
{13BMC:,  m2,   "OMS VME58",   0,  1, "Huber Rotary"     degrees,  Pos,    .3,  .05,  .2,  0,  1, .2, 400,   -0.05,   4,   180, -180}
{13BMC:,  m3,   "OMS VME58",   0,  2, "Washer Wheel",        deg,  Pos,  50.0,   10,  .2,  0,  1, .2, 400,     360,   3,    8e3,-10000}
{13BMC:,  m4,   "OMS VME58",   0,  3, "Mirror-Yd",            mm,  Pos,    .5,   .0,  2.,  0, .0, .0, 400, .016071,   4,    100,   0}
{13BMC:,  m5,   "OMS VME58",   0,  4, "Upstream-X",           mm,  Pos,     1,   .0,  .5,  0, .0, .0, 400,     .02,   2,    101,  -1}
{13BMC:,  m6,   "OMS VME58",   0,  5, "Downstream-X",         mm,  Pos,     1,   .0,  .5,  0, .0, .0, 400,     .02,   2,    101,  -1}
{13BMC:,  m7,   "OMS VME58",   0,  6, "Slit-1",               mm,  Neg,     1,   .0,  .5,  0, .0, .0, 400,      .5,   3,    100,  -10}
{13BMC:,  m8,   "OMS VME58",   0,  7, "Slit-2",               mm,  Neg,     1,   .0,  .5,  0, .0, .0, 400,      .5,   3,    100,  -10}

# Diffractometer detector slits
{13BMC:,  m9,   "OMS VME58",   1, 0, "Hp UpStream",      microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m10,   "OMS VME58",   1, 1, "Hw UpStream",      microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
{13BMC:, m11,   "OMS VME58",   1, 2, "Vp UpStream",      microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m12,   "OMS VME58",   1, 3, "Vw UpStream",      microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
{13BMC:, m13,   "OMS VME58",   1, 4, "Hp DownStream",    microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m14,   "OMS VME58",   1, 5, "Hw DownStream",    microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
{13BMC:, m15,   "OMS VME58",   1, 6, "Vp DownStream",    microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m16,   "OMS VME58",   1, 7, "Vw DownStream",    microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
 	     		      	
# Diffractometer bench slits		       		  	      	     	   	       
{13BMC:, m17,   "OMS VME58",   2, 0, "Hp UpStream",      microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m18,   "OMS VME58",   2, 1, "Hw UpStream",      microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
{13BMC:, m19,   "OMS VME58",   2, 2, "Vp UpStream",      microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m20,   "OMS VME58",   2, 3, "Vw UpStream",      microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
{13BMC:, m21,   "OMS VME58",   2, 4, "Hp DownStream",    microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m22,   "OMS VME58",   2, 5, "Hw DownStream",    microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}
{13BMC:, m23,   "OMS VME58",   2, 6, "Vp DownStream",    microns, Pos,    100,   100, .2, 0,  1,  .2,  2571,  -350,   0,   5100, -100}
{13BMC:, m24,   "OMS VME58",   2, 7, "Vw DownStream",    microns, Pos,    200,   100, .2, 0,  1,  .2,  2571,  -700,   0,  10100, -100}

#13BMB Motors
{13BMC:, m25,   "OMS VME58",   3, 0, "BMC Mono X",            mm, Pos,    1.0,   0.1, .5, 0,  1,  .2,    200,  0.010,   4,   1000,  -1000}
{13BMC:, m26,   "OMS VME58",   3, 1, "BMC Mono Theta",       deg, Neg,    5.0,   1.0, .5, 0,  1,  .2,    200,   0.10,   4,    361,   -361}
{13BMC:, m27,   "OMS VME58",   3, 2, "Unused",             steps, Pos,   1000.,   10, .5, 0,  1,  .2,      1,      1,   1,    1e6,   -1e6}
{13BMC:, m28,   "OMS VME58",   3, 3, "Unused",             steps, Pos,   1000.,   10, .5, 0,  1,  .2,      1,      1,   1,    1e6,   -1e6}
{13BMC:, m29,   "OMS VME58",   3, 4, "Unused",             steps, Pos,   1000.,   10, .5, 0,  1,  .2,      1,      1,   1,    1e6,   -1e6}
{13BMC:, m30,   "OMS VME58",   3, 5, "Unused",             steps, Pos,   1000.,   10, .5, 0,  1,  .2,      1,      1,   1,    1e6,   -1e6}
{13BMC:, m31,   "OMS VME58",   3, 6, "Unused",             steps, Pos,   1000.,   10, .5, 0,  1,  .2,      1,      1,   1,    1e6,   -1e6}
{13BMC:, m32,   "OMS VME58",   3, 7, "Unused",             steps, Pos,   1000.,   10, .5, 0,  1,  .2,      1,      1,   1,    1e6,   -1e6}
}

#file "$(STD)/stdApp/Db/table.db"
#{
#pattern
#{P,            Q,      T,  M0X,  M1X,    M2X,  M0Y,   M1Y,    M2Y,    M2Z,  GEOM}
#{13BMC:, MON:T1, MON:t1, junk, junk,   junk,   m6,    m7,     m5,   junk,   SRI}
#}

#file "$(STD)/stdApp/Db/table.db"
#{
#pattern
#{P,            Q,      T,  M0X,  M1X,    M2X,  M0Y,   M1Y,    M2Y,    M2Z,  GEOM}
#{13BMC:, MIR:T1, MIR:t1, junk, junk,   junk,   m4,  junk,     m3,   junk,   SRI}
#}


file "$(CARS)/CARSApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13BMC:,  pm1, "13BMC:KBH:Done NPP NMS", "13BMC:pm1DVAL.VAL PP MS", "13BMC:KBH:Readback.G NPP NMS", "13BMC:KBH:Stop PP MS",
"Height (Sum)",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
{13BMC:,  pm2, "13BMC:KBH:Done NPP NMS", "13BMC:pm2DVAL.VAL PP MS", "13BMC:KBH:Readback.H NPP NMS", "13BMC:KBH:Stop PP MS",
"Pitch (Diff)",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
}

file "$(CARS)/CARSApp/Db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMC:, KBH:,  pm1, pm2,    m3.VAL,  m3.RBV,  m4.VAL, m4.RBV, m3.STOP, m3.DMOV, m4.STOP, m4.DMOV, 3}
}

