file "$(DXP)/db/dxpMED.db"
{
pattern
{P,           MCAALL,    INP          } 
{13SDD1: mcaAll, "@asyn(DXP1,-1)"}
}

file "$(MCA)/db/simple_mca.db"
{
pattern
{P,           M,       DTYP,         INP           PREC,  CHANS}
{13SDD1:   mca1  "asynMCA",   "@asyn(DXP1,0)",   2,     2048}
{13SDD1:   mca2  "asynMCA",   "@asyn(DXP1,1)",   2,     2048}
{13SDD1:   mca3  "asynMCA",   "@asyn(DXP1,2)",   2,     2048}
{13SDD1:   mca4  "asynMCA",   "@asyn(DXP1,3)",   2,     2048}
{13SDD1:   mca5  "asynMCA",   "@asyn(DXP1,4)",   2,     2048}
{13SDD1:   mca6  "asynMCA",   "@asyn(DXP1,5)",   2,     2048}
{13SDD1:   mca7  "asynMCA",   "@asyn(DXP1,6)",   2,     2048}
{13SDD1:   mca8  "asynMCA",   "@asyn(DXP1,7)",   2,     2048}
{13SDD1:  mcaAll "asynMCA",   "@asyn(DXP1,-1)",  2,     2048}
}

# DXP records
file "$(DXP)/db/xmap_reset.db"
{
pattern
{P,           R,        INP       }
{13SDD1:   dxp1   "@asyn(DXP1,0)"}
{13SDD1:   dxp2   "@asyn(DXP1,1)"}
{13SDD1:   dxp3   "@asyn(DXP1,2)"}
{13SDD1:   dxp4   "@asyn(DXP1,3)"}
{13SDD1:   dxp5   "@asyn(DXP1,4)"}
{13SDD1:   dxp6   "@asyn(DXP1,5)"}
{13SDD1:   dxp7   "@asyn(DXP1,6)"}
{13SDD1:   dxp8   "@asyn(DXP1,7)"}
#{13SDD1:  dxpAll  "@asyn(DXP1,-1)"}
}
