file mcaApp/Db/simple_mca_aim.db, mca
{
pattern
{P,           M,       DTYP,            CARD, SIGNAL, CHANS}
{13IDC:med:   mca1  "Canberra AIM MCA",   2     0,    2048}
{13IDC:med:   mca2  "Canberra AIM MCA",   2     1,    2048}
{13IDC:med:   mca3  "Canberra AIM MCA",   2     2,    2048}
{13IDC:med:   mca4  "Canberra AIM MCA",   2     3,    2048}
{13IDC:med:   mca5  "Canberra AIM MCA",   3     0,    2048}
{13IDC:med:   mca6  "Canberra AIM MCA",   3     1,    2048}
{13IDC:med:   mca7  "Canberra AIM MCA",   3     2,    2048}
{13IDC:med:   mca8  "Canberra AIM MCA",   3     3,    2048}
{13IDC:med:   mca9  "Canberra AIM MCA",   4     0,    2048}
{13IDC:med:   mca10 "Canberra AIM MCA",   4     1,    2048}
{13IDC:med:   mca11 "Canberra AIM MCA",   4     2,    2048}
{13IDC:med:   mca12 "Canberra AIM MCA",   4     3,    2048}
{13IDC:med:   mca13 "Canberra AIM MCA",   5     0,    2048}
}

file mcaApp/Db/icb_amp.db, mca
{
pattern
{P,          AMP,    ICB}
{13IDC:med:  amp1  NI8D7:1}
{13IDC:med:  amp2  NI8D7:2}
{13IDC:med:  amp3  NI8D7:3}
{13IDC:med:  amp4  NI8D7:4}
{13IDC:med:  amp5  NI8D7:5}
{13IDC:med:  amp6  NI8D7:6}
{13IDC:med:  amp7  NI8D7:8}
{13IDC:med:  amp8  NI8D7:9}
{13IDC:med:  amp9  NI3EC:1}
{13IDC:med:  amp10 NI3EC:2}
{13IDC:med:  amp11 NI3EC:3}
{13IDC:med:  amp12 NI3EC:4}
{13IDC:med:  amp13 NI3EC:5}
}

file mcaApp/Db/icb_adc.db, mca
{
pattern
{P,          ADC,    ICB}
{13IDC:med:  adc1  NI8D7:B}
{13IDC:med:  adc2  NI8D7:0}
{13IDC:med:  adc3  NI3EC:B}
{13IDC:med:  adc4  NI3EC:7}
}

file mcaApp/Db/icb_hvps.db, mca
{
pattern
{P,          HVPS,    ICB}
{13IDC:med:  hvps1  NI3EC:A}
}
