file CARSApp/Db/singleDAC.db, top
{
pattern
{P,      D, N, C, IPSLOT, S,  EGUL, DRVL, LOPR, EGUF, DRVH, HOPR, PREC, LINR,  VAL}

# Channels 1-3 are piezo on slit - set range  0V to +10V = 0V to 10V
{13IDC:, 1, 1, 0,   e,    0, -10.0,  0.,   0.,  10., 10,   10,     3,  LINEAR, 0.0}
{13IDC:, 1, 2, 0,   e,    1, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
{13IDC:, 1, 3, 0,   e,    2, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
{13IDC:, 1, 4, 0,   e,    3, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
{13IDC:, 1, 5, 0,   e,    4, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
{13IDC:, 1, 6, 0,   e,    5, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
{13IDC:, 1, 7, 0,   e,    6, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
{13IDC:, 1, 8, 0,   e,    7, -10.0,  0.,   0.,  10., 10.,  10.,    3,  LINEAR, 0.0}
}
