file ipApp/Db/IpUnidigLi.db, ip
{
pattern
{P,       R,       C,   IPSLOT}
{13IDC:,  Unidig,  0,   d}
}

file ipApp/Db/IpUnidigBi.db, ip
{
pattern
{P,       R,       BIT}
{13IDC:,  Unidig,  0}
{13IDC:,  Unidig,  1}
{13IDC:,  Unidig,  2}
{13IDC:,  Unidig,  3}
{13IDC:,  Unidig,  4}
{13IDC:,  Unidig,  5}
{13IDC:,  Unidig,  6}
{13IDC:,  Unidig,  7}
{13IDC:,  Unidig,  8}
{13IDC:,  Unidig,  9}
{13IDC:,  Unidig,  10}
{13IDC:,  Unidig,  11}
{13IDC:,  Unidig,  12}
{13IDC:,  Unidig,  13}
{13IDC:,  Unidig,  14}
{13IDC:,  Unidig,  15}
{13IDC:,  Unidig,  16}
{13IDC:,  Unidig,  17}
{13IDC:,  Unidig,  18}
{13IDC:,  Unidig,  19}
{13IDC:,  Unidig,  20}
{13IDC:,  Unidig,  21}
{13IDC:,  Unidig,  22}
{13IDC:,  Unidig,  23}
}

file ipApp/Db/IpUnidigBo.db, ip
{
pattern
{P,       R,       C, IPSLOT, BIT}
{13IDC:,  Unidig,  0,    d,    0}
{13IDC:,  Unidig,  0,    d,    1}
{13IDC:,  Unidig,  0,    d,    2}
{13IDC:,  Unidig,  0,    d,    3}
{13IDC:,  Unidig,  0,    d,    4}
{13IDC:,  Unidig,  0,    d,    5}
{13IDC:,  Unidig,  0,    d,    6}
{13IDC:,  Unidig,  0,    d,    7}
{13IDC:,  Unidig,  0,    d,    8}
{13IDC:,  Unidig,  0,    d,    9}
{13IDC:,  Unidig,  0,    d,    10}
{13IDC:,  Unidig,  0,    d,    11}
{13IDC:,  Unidig,  0,    d,    12}
{13IDC:,  Unidig,  0,    d,    13}
{13IDC:,  Unidig,  0,    d,    14}
{13IDC:,  Unidig,  0,    d,    15}
{13IDC:,  Unidig,  0,    d,    16}
{13IDC:,  Unidig,  0,    d,    17}
{13IDC:,  Unidig,  0,    d,    18}
{13IDC:,  Unidig,  0,    d,    19}
{13IDC:,  Unidig,  0,    d,    20}
{13IDC:,  Unidig,  0,    d,    21}
{13IDC:,  Unidig,  0,    d,    22}
{13IDC:,  Unidig,  0,    d,    23}
}
