file "$(IPUNIDIG)/ipUnidigApp/Db/IpUnidigLi.db"
{
pattern
{P,       R,       C,   SERVER}
{13IDC:,  Unidig,  0,   Unidig1}
}

file "$(IPUNIDIG)/ipUnidigApp/Db/IpUnidigBi.db"
{
pattern
{P,       R,       BIT}
{13IDC:,  Unidig,  0}
{13IDC:,  Unidig,  1}
{13IDC:,  Unidig,  2}
{13IDC:,  Unidig,  3}
{13IDC:,  Unidig,  4}
{13IDC:,  Unidig,  5}
{13IDC:,  Unidig,  6}
{13IDC:,  Unidig,  7}
{13IDC:,  Unidig,  8}
{13IDC:,  Unidig,  9}
{13IDC:,  Unidig,  10}
{13IDC:,  Unidig,  11}
{13IDC:,  Unidig,  12}
{13IDC:,  Unidig,  13}
{13IDC:,  Unidig,  14}
{13IDC:,  Unidig,  15}
{13IDC:,  Unidig,  16}
{13IDC:,  Unidig,  17}
{13IDC:,  Unidig,  18}
{13IDC:,  Unidig,  19}
{13IDC:,  Unidig,  20}
{13IDC:,  Unidig,  21}
{13IDC:,  Unidig,  22}
{13IDC:,  Unidig,  23}
}

file "$(IPUNIDIG)/ipUnidigApp/Db/IpUnidigBo.db"
{
pattern
{P,       R,       C, SERVER,    BIT}
{13IDC:,  Unidig,  0,  Unidig1, 0}
{13IDC:,  Unidig,  0,  Unidig1, 1}
{13IDC:,  Unidig,  0,  Unidig1, 2}
{13IDC:,  Unidig,  0,  Unidig1, 3}
{13IDC:,  Unidig,  0,  Unidig1, 4}
{13IDC:,  Unidig,  0,  Unidig1, 5}
{13IDC:,  Unidig,  0,  Unidig1, 6}
{13IDC:,  Unidig,  0,  Unidig1, 7}
{13IDC:,  Unidig,  0,  Unidig1, 8}
{13IDC:,  Unidig,  0,  Unidig1, 9}
{13IDC:,  Unidig,  0,  Unidig1, 10}
{13IDC:,  Unidig,  0,  Unidig1, 11}
{13IDC:,  Unidig,  0,  Unidig1, 12}
{13IDC:,  Unidig,  0,  Unidig1, 13}
{13IDC:,  Unidig,  0,  Unidig1, 14}
{13IDC:,  Unidig,  0,  Unidig1, 15}
{13IDC:,  Unidig,  0,  Unidig1, 16}
{13IDC:,  Unidig,  0,  Unidig1, 17}
{13IDC:,  Unidig,  0,  Unidig1, 18}
{13IDC:,  Unidig,  0,  Unidig1, 19}
{13IDC:,  Unidig,  0,  Unidig1, 20}
{13IDC:,  Unidig,  0,  Unidig1, 21}
{13IDC:,  Unidig,  0,  Unidig1, 22}
{13IDC:,  Unidig,  0,  Unidig1, 23}
}

# Second IP Unidig module
file "$(IPUNIDIG)/ipUnidigApp/Db/IpUnidigLi.db"
{
pattern
{P,       R,       C,   SERVER}
{13IDC:,  Unidig_2,  0, Unidig2}
}

file "$(IPUNIDIG)/ipUnidigApp/Db/IpUnidigBi.db"
{
pattern
{P,       R,       BIT}
{13IDC:,  Unidig_2,  0}
{13IDC:,  Unidig_2,  1}
{13IDC:,  Unidig_2,  2}
{13IDC:,  Unidig_2,  3}
{13IDC:,  Unidig_2,  4}
{13IDC:,  Unidig_2,  5}
{13IDC:,  Unidig_2,  6}
{13IDC:,  Unidig_2,  7}
{13IDC:,  Unidig_2,  8}
{13IDC:,  Unidig_2,  9}
{13IDC:,  Unidig_2,  10}
{13IDC:,  Unidig_2,  11}
{13IDC:,  Unidig_2,  12}
{13IDC:,  Unidig_2,  13}
{13IDC:,  Unidig_2,  14}
{13IDC:,  Unidig_2,  15}
{13IDC:,  Unidig_2,  16}
{13IDC:,  Unidig_2,  17}
{13IDC:,  Unidig_2,  18}
{13IDC:,  Unidig_2,  19}
{13IDC:,  Unidig_2,  20}
{13IDC:,  Unidig_2,  21}
{13IDC:,  Unidig_2,  22}
{13IDC:,  Unidig_2,  23}
}

file "$(IPUNIDIG)/ipUnidigApp/Db/IpUnidigBo.db"
{
pattern
{P,       R,        C,   SERVER,   BIT}
{13IDC:,  Unidig_2,  0,  Unidig2,  0}
{13IDC:,  Unidig_2,  0,  Unidig2,  1}
{13IDC:,  Unidig_2,  0,  Unidig2,  2}
{13IDC:,  Unidig_2,  0,  Unidig2,  3}
{13IDC:,  Unidig_2,  0,  Unidig2,  4}
{13IDC:,  Unidig_2,  0,  Unidig2,  5}
{13IDC:,  Unidig_2,  0,  Unidig2,  6}
{13IDC:,  Unidig_2,  0,  Unidig2,  7}
{13IDC:,  Unidig_2,  0,  Unidig2,  8}
{13IDC:,  Unidig_2,  0,  Unidig2,  9}
{13IDC:,  Unidig_2,  0,  Unidig2,  10}
{13IDC:,  Unidig_2,  0,  Unidig2,  11}
{13IDC:,  Unidig_2,  0,  Unidig2,  12}
{13IDC:,  Unidig_2,  0,  Unidig2,  13}
{13IDC:,  Unidig_2,  0,  Unidig2,  14}
{13IDC:,  Unidig_2,  0,  Unidig2,  15}
{13IDC:,  Unidig_2,  0,  Unidig2,  16}
{13IDC:,  Unidig_2,  0,  Unidig2,  17}
{13IDC:,  Unidig_2,  0,  Unidig2,  18}
{13IDC:,  Unidig_2,  0,  Unidig2,  19}
{13IDC:,  Unidig_2,  0,  Unidig2,  20}
{13IDC:,  Unidig_2,  0,  Unidig2,  21}
{13IDC:,  Unidig_2,  0,  Unidig2,  22}
{13IDC:,  Unidig_2,  0,  Unidig2,  23}
}

