file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m25,POS=m25.VAL,RDBK=m25.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m26,POS=m26.VAL,RDBK=m26.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m27,POS=m27.VAL,RDBK=m27.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m28,POS=m28.VAL,RDBK=m28.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m29,POS=m29.VAL,RDBK=m29.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m30,POS=m30.VAL,RDBK=m30.RBV}
#{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m31,POS=m31.VAL,RDBK=m31.RBV}
#{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m32,POS=m32.VAL,RDBK=m32.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m33,POS=m33.VAL,RDBK=m33.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m34,POS=m34.VAL,RDBK=m34.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m35,POS=m35.VAL,RDBK=m35.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m36,POS=m36.VAL,RDBK=m36.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m37,POS=m37.VAL,RDBK=m37.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m38,POS=m38.VAL,RDBK=m38.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m39,POS=m39.VAL,RDBK=m39.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=m40,POS=m40.VAL,RDBK=m40.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm7,POS=pm7.VAL,RDBK=pm7.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm8,POS=pm8.VAL,RDBK=pm8.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm9,POS=pm9.VAL,RDBK=pm9.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm10,POS=pm10.VAL,RDBK=pm10.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm11,POS=pm11.VAL,RDBK=pm11.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm12,POS=pm12.VAL,RDBK=pm12.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm13,POS=pm13.VAL,RDBK=pm13.RBV}
{P=13IDC:,SCANREC=13IDC_XPS:scan1,Q=pm14,POS=pm14.VAL,RDBK=pm14.RBV}
}
