file "$(SSCAN)/db/scanParms.db"
{
{SCANREC=13IDD:scan1,Q=m81,POS=m81.VAL,RDBK=m81.RBV}
{SCANREC=13IDD:scan1,Q=m82,POS=m82.VAL,RDBK=m82.RBV}
{SCANREC=13IDD:scan1,Q=m83,POS=m83.VAL,RDBK=m83.RBV}
{SCANREC=13IDD:scan1,Q=m84,POS=m84.VAL,RDBK=m84.RBV}
{SCANREC=13IDD:scan1,Q=m93,POS=m93.VAL,RDBK=m93.RBV}
{SCANREC=13IDD:scan1,Q=m94,POS=m94.VAL,RDBK=m94.RBV}

{SCANREC=13IDD:scan1,Q=m85,POS=m85.VAL,RDBK=m85.RBV}
{SCANREC=13IDD:scan1,Q=m86,POS=m86.VAL,RDBK=m86.RBV}
{SCANREC=13IDD:scan1,Q=m87,POS=m87.VAL,RDBK=m87.RBV}
{SCANREC=13IDD:scan1,Q=m88,POS=m88.VAL,RDBK=m88.RBV}
{SCANREC=13IDD:scan1,Q=m89,POS=m89.VAL,RDBK=m89.RBV}
{SCANREC=13IDD:scan1,Q=m90,POS=m90.VAL,RDBK=m90.RBV}
{SCANREC=13IDD:scan1,Q=m91,POS=m91.VAL,RDBK=m91.RBV}
{SCANREC=13IDD:scan1,Q=m92,POS=m92.VAL,RDBK=m92.RBV}

}
