file "$(SSCAN)/db/scanParms.db"
{
{P=13IDD:,SCANREC=13IDD:scan1,Q=m1,POS=m1.VAL,RDBK=m1.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m2,POS=m2.VAL,RDBK=m2.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m3,POS=m3.VAL,RDBK=m3.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m4,POS=m4.VAL,RDBK=m4.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m5,POS=m5.VAL,RDBK=m5.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m6,POS=m6.VAL,RDBK=m6.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m7,POS=m7.VAL,RDBK=m7.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m8,POS=m8.VAL,RDBK=m8.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m9,POS=m9.VAL,RDBK=m9.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m10,POS=m10.VAL,RDBK=m10.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m11,POS=m11.VAL,RDBK=m11.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m12,POS=m12.VAL,RDBK=m12.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m13,POS=m13.VAL,RDBK=m13.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m14,POS=m14.VAL,RDBK=m14.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m15,POS=m15.VAL,RDBK=m15.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m16,POS=m16.VAL,RDBK=m16.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m17,POS=m17.VAL,RDBK=m17.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m18,POS=m18.VAL,RDBK=m18.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m19,POS=m19.VAL,RDBK=m19.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m20,POS=m20.VAL,RDBK=m20.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m21,POS=m21.VAL,RDBK=m21.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m22,POS=m22.VAL,RDBK=m22.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m23,POS=m23.VAL,RDBK=m23.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m24,POS=m24.VAL,RDBK=m24.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m25,POS=m25.VAL,RDBK=m25.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m26,POS=m26.VAL,RDBK=m26.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m27,POS=m27.VAL,RDBK=m27.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m28,POS=m28.VAL,RDBK=m28.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m29,POS=m29.VAL,RDBK=m29.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m30,POS=m30.VAL,RDBK=m30.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m31,POS=m31.VAL,RDBK=m31.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m32,POS=m32.VAL,RDBK=m32.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m33,POS=m33.VAL,RDBK=m33.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m34,POS=m34.VAL,RDBK=m34.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m35,POS=m35.VAL,RDBK=m35.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m36,POS=m36.VAL,RDBK=m36.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m37,POS=m37.VAL,RDBK=m37.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m38,POS=m38.VAL,RDBK=m38.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m39,POS=m39.VAL,RDBK=m39.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m40,POS=m40.VAL,RDBK=m40.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m41,POS=m41.VAL,RDBK=m41.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m42,POS=m42.VAL,RDBK=m42.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m43,POS=m43.VAL,RDBK=m43.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m44,POS=m44.VAL,RDBK=m44.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m45,POS=m45.VAL,RDBK=m45.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m46,POS=m46.VAL,RDBK=m46.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m47,POS=m47.VAL,RDBK=m47.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m48,POS=m48.VAL,RDBK=m48.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m49,POS=m49.VAL,RDBK=m49.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m50,POS=m50.VAL,RDBK=m50.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m51,POS=m51.VAL,RDBK=m51.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m52,POS=m52.VAL,RDBK=m52.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m53,POS=m53.VAL,RDBK=m53.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m54,POS=m54.VAL,RDBK=m54.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m55,POS=m55.VAL,RDBK=m55.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m56,POS=m56.VAL,RDBK=m56.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m57,POS=m57.VAL,RDBK=m57.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m58,POS=m58.VAL,RDBK=m58.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m59,POS=m59.VAL,RDBK=m59.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m60,POS=m60.VAL,RDBK=m60.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m61,POS=m61.VAL,RDBK=m61.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m62,POS=m62.VAL,RDBK=m62.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m63,POS=m63.VAL,RDBK=m63.RBV}
#{P=13IDD:,SCANREC=13IDD:scan1,Q=m64,POS=m64.VAL,RDBK=m64.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m65,POS=m65.VAL,RDBK=m65.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m66,POS=m66.VAL,RDBK=m66.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m67,POS=m67.VAL,RDBK=m67.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m68,POS=m68.VAL,RDBK=m68.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m69,POS=m69.VAL,RDBK=m69.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m70,POS=m70.VAL,RDBK=m70.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m71,POS=m71.VAL,RDBK=m71.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m72,POS=m72.VAL,RDBK=m72.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m73,POS=m73.VAL,RDBK=m73.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m74,POS=m74.VAL,RDBK=m74.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m75,POS=m75.VAL,RDBK=m75.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m76,POS=m76.VAL,RDBK=m76.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m77,POS=m77.VAL,RDBK=m77.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m78,POS=m78.VAL,RDBK=m78.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m79,POS=m79.VAL,RDBK=m79.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m80,POS=m80.VAL,RDBK=m80.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m85,POS=m85.VAL,RDBK=m85.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m86,POS=m86.VAL,RDBK=m86.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m87,POS=m87.VAL,RDBK=m87.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m88,POS=m88.VAL,RDBK=m88.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m89,POS=m89.VAL,RDBK=m89.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m90,POS=m90.VAL,RDBK=m90.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m91,POS=m91.VAL,RDBK=m91.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=m92,POS=m92.VAL,RDBK=m92.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm1,POS=pm1.VAL,RDBK=pm1.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm2,POS=pm2.VAL,RDBK=pm2.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm3,POS=pm3.VAL,RDBK=pm3.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm4,POS=pm4.VAL,RDBK=pm4.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm5,POS=pm5.VAL,RDBK=pm5.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm6,POS=pm6.VAL,RDBK=pm6.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm7,POS=pm7.VAL,RDBK=pm7.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm8,POS=pm8.VAL,RDBK=pm8.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm9,POS=pm9.VAL,RDBK=pm9.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm10,POS=pm10.VAL,RDBK=pm10.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm11,POS=pm11.VAL,RDBK=pm11.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm12,POS=pm12.VAL,RDBK=pm12.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm13,POS=pm13.VAL,RDBK=pm13.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm14,POS=pm14.VAL,RDBK=pm14.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm15,POS=pm15.VAL,RDBK=pm15.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm16,POS=pm16.VAL,RDBK=pm16.RBV}
{P=13IDD:,SCANREC=13IDD:scan1,Q=pm17,POS=pm17.VAL,RDBK=pm17.RBV}
}
