file "$(SSCAN)/db/scanParms.db"
{
{SCANREC=13IDD:scan1,Q=m81,POS=m81.VAL,RDBK=m81.RBV}
{SCANREC=13IDD:scan1,Q=m82,POS=m82.VAL,RDBK=m82.RBV}
{SCANREC=13IDD:scan1,Q=m83,POS=m83.VAL,RDBK=m83.RBV}
{SCANREC=13IDD:scan1,Q=m84,POS=m84.VAL,RDBK=m84.RBV}
{SCANREC=13IDD:scan1,Q=m93,POS=m93.VAL,RDBK=m93.RBV}
{SCANREC=13IDD:scan1,Q=m94,POS=m94.VAL,RDBK=m94.RBV}
}
