file "$(SSCAN)/db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m121,POS=m121.VAL,RDBK=m121.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m122,POS=m122.VAL,RDBK=m122.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m123,POS=m123.VAL,RDBK=m123.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m124,POS=m124.VAL,RDBK=m124.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m125,POS=m125.VAL,RDBK=m125.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m126,POS=m126.VAL,RDBK=m126.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m127,POS=m127.VAL,RDBK=m127.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m128,POS=m128.VAL,RDBK=m128.RBV}
}
