file "$(STD)/stdApp/Db/pid_control.db"
{
pattern
{P,      PID,       INP,             OUT,    LOPR,  HOPR,  DRVL, DRVH, PREC,   KP,    KI,    KD,  SCAN}
{13IDD:, PID1,  IP330_7.VAL,       m13.RLV,   0,     10,   -20,   20,    3,    1,     1,     0.,  ".1 second"}
}

file "$(IP330)/ip330App/Db/ip330PID.db"
{
pattern
{P,      PID,   C,  SERVER,     LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,  KI,   KD,  DT,      SCAN}
{13IDD:, PID2,  0, Ip330PID_1,  0,    65535,  1024,  3072,   3,    .02,  100.,  0., .001, ".1 second"}
}
