file CARSApp/Db/ID_LVP_pressure.db, top
{
pattern
{P,      R,      C, IPSLOT, CHAN, BAUD, PRTY, DBIT, SBIT, RADIAL_DAC, SYRINGE_DAC,  KP,    KI,   KD,   SCAN}
{13IDD:, Press_, 0,    b,     0,  9600,  None, 7,     2,   DAC1_4,      DAC1_8,     20,     0.,   0.,  ".5 second"}
}
