file "$(CARS)/CARSApp/Db/ID_LVP_pressure.db"
{
pattern
{P,      R,      C, PORT, RADIAL_DAC, SYRINGE_DAC,  KP,    KI,   KD,   SCAN}
{13IDD:, Press_, 0, serial9, DAC1_4,      DAC1_8,     20,     0.,   0.,  ".5 second"}
}
