# This file contains the motor definitions for motors in 13IDD.
# Here is the correspondence of motor numbers, cards and patch panel positions
# Motors   Card    Patch panel  Common use
#  1-8       0        R         DAC sample (1-6), DAC X-ray Detector (7-8), m6 gear box
#  9-16      1        P         DAC slits (9-12), Open (13-14), DAC Table (15-16)
#  17-24     2        N         DAC Table (17-19), DAC clean-up (20-22), Carbon Mirror (23-24)
#  25-32     3        T         LVP Front slits (25-26), phosphor X (27), CCD Stage (28-30), open (31), Laser stage (32)
#  33-40     4        U         LVP Detector (33-39) open (40)
#  41-48     5        V         Open (41-44), LVP Press Table (45-48)
#  49-56     6      None        DAC K/B mirrors
#  57-64     7      None        LVP Detector Slits (57-60)
#  65-72     8        S         DAC Carbon Mirror (65-66), Microscope (67-69), Laser power control (70-72)


file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,       M,        DTYP,       C,    S,   DESC,                   EGU,      DIR,   VELO,  VBAS,  ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV,   PREC,   DHLM,   DLLM}
#13IDD DAC Huber 2-theta and theta stages have been removed. (GS-6/11/04)
#{13IDD:,  m1,    "OMS VME58",   0,    0, "Two theta",             deg,       Neg,   1.0,   0.1,   .2,    0,      1,     .2,     400,    1.0,     3,      270,    250}
#{13IDD:,  m2,    "OMS VME58",   0,    1, "Theta",                 deg,       Neg,   1.0,   0.1,   .2,    0,      1,     .2,     400,    1.0,     3,      360,    -360}
#
#13IDD DAC sample stages
{13IDD:,  m1,    "OMS VME58",   0,    0, "X (in-out) stage",       mm,        Neg,   1.0,   0.2,   .1,    -.0,   1,     .1,     200,    -.1,     3,      25.,    0}
{13IDD:,  m2,    "OMS VME58",   0,    1, "Z (along beam) stage",   mm,        Neg,   1.0,   0.2,   .2,    0,      1,     .2,     200,    -.1,     3,      25.,    0}
{13IDD:,  m3,    "OMS VME58",   0,    2, "Y (vertical) stage",     mm,        Pos,   0.2,   0.03,  .5,    0,      1,     .2,     400,    -.02,    3,      40.,     0}
{13IDD:,  m4,    "OMS VME58",   0,    3, "Omega",                  deg,       Pos,   5.0,   0.2,   .2,    0,      1,     .2,     400,     4.,     3,      360,    -360}
#change m5 and m6 to microsteper card M32,current set to 0.5A
{13IDD:,  m5,    "OMS VME58",   0,    4, "Sample-X1",              mm,        Pos,   0.15,  .01,   .2,    0.02,      1,     .2,     480,    .03546,  3,      24.,    0}
{13IDD:,  m6,    "OMS VME58",   0,    5, "Gear box",               mm,        Pos,   0.15,  .01,   .2,    0.02,      1,     .2,     480,    .03546,  3,      24.,    0}
#
#13IDD DAC Detector
#{13IDD:, m8,    "OMS VME58",   0,    6, "Detector X",             mm,       Neg,   5.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,  3,      25,     0}
#Motor with 1 micron resolution
{13IDD:,  m7,    "OMS VME58",   0,    6, "Detector Z pos",        mm,       Pos,   0.5,   .1,    .5,    .0,      1,    .2,     200,     0.10,  3,      25,     0}
#Motor from ??? company
{13IDD:,  m8,    "OMS VME58",   0,    7, "Detector X Pos",        mm,       Neg,   2.0,   .5,    .5,    0.1,      1,     .2,   1600,     5.,  3,      10.,     -340}
#
#13IDD DAC Table top slits
{13IDD:,  m9,    "OMS VME58",   1,    0, "Top Slit",               mm,       Pos,   1.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,  3,      25.,    0}
{13IDD:,  m10,    "OMS VME58",  1,    1, "Bottom Slit",            mm,       Neg,   1.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,  3,      25.,    0}
{13IDD:,  m11,    "OMS VME58",  1,    2, "Inboard Slit",           mm,       Pos,   1.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,  3,      25.,    0}
{13IDD:,  m12,   "OMS VME58",   1,    3, "Outboard slit",          mm,       Pos,   1.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,  3,      25.,    0}
#
#13IDD DAC multi-purpose motors
{13IDD:,  m13,   "OMS VME58",   1,    4, "TEM01 Total Power",      deg,      Pos,   10.0,  5.0,   10.0,    0,      1,     5.0,     10,    .1,     3,      360.,    -360.}
{13IDD:,  m14,   "OMS VME58",   1,    5, "Microscope-zoom",       mm,        Neg,   1.0,   0.2,   .5,    -0.2,      1,     .2,     200,    -.1,     3,      150,    0}
#
#13IDD DAC Lift Table
{13IDD:,  m15,   "OMS VME58",   1,    6, "Inboard Y",              mm,       Pos,    .5,  .05,    .2,    0.1,   .5,     .2,     400,   -0.10583,   3,      50,     0}
{13IDD:,  m16,   "OMS VME58",   1,    7, "Outboard Y",             mm,       Pos,    .5,  .05,    .2,    0.1,   .5,     .2,     400,   -0.10583,   3,      50,     0}
{13IDD:,  m17,   "OMS VME58",   2,    0, "Downstream Y",           mm,       Pos,    .5,  .05,    .2,    0.1,   .5,     .2,     400,   -0.10583,   3,      50,     0}
{13IDD:,  m18,   "OMS VME58",   2,    1, "Downstream X",           mm,       Neg,    .2,  .005,   .2,    0.1,    1,     .2,     400,   -0.035278,   3,      50,     0}
{13IDD:,  m19,   "OMS VME58",   2,    2, "Inboard X",              mm,       Neg,    .2,  .005,   .2,    0.1,    1,     .2,     400,   -0.035278,   3,      50,     0}
#
#13IDD DAC clean-up slits
#Micro-scale
#{13IDD:,  m13,   "OMS VME58",   2,    3, "Clean_up Y pos.",        microns,  Pos,  150.0,    10,    .2,    0,      1,     .2,       48,     3.546,  1,      8e3,    0}
#Milimeter scale
{13IDD:,  m20,   "OMS VME58",   2,    3, "Clean_up X pos.",        mm,       Neg,    0.15,  .01,   .2,  0,      1,     .2,   480,    .03546,  3,      24.,    0}
{13IDD:,  m21,   "OMS VME58",   2,    4, "Clean_up Y pos.",        mm,       Neg,    0.15,  .01,   .2,  0,      1,       .2,   480,    .03546,  3,      24.,    0}
{13IDD:,  m22,   "OMS VME58",   2,    5, "Clean_up Z pos.",        mm,       Neg,   0.5,   .1,    .5,    .0,      1,    .2,     200,     0.010,  3,      25,     0}
#
#13IDD DAC motors for carbon mirors
{13IDD:,  m23,   "OMS VME58",   2,    6, "UpStream C-mirror",       mm,       Pos,   5.0,   0.2,   .2,    0,      1,     .2,     200,    -.1,    3,      150,    0}
{13IDD:,  m24,   "OMS VME58",   2,    7, "DownStream C-mirror",     mm,       Pos,   5.0,   0.2,   .2,    0,      1,     .2,     200,    -.1,    3,      150,    0}
#

#******************************************************************************************************************************************************************
# LVP front slits
#{13IDD:,  m25,   "OMS VME58",   3,    0, "beam filter for DAC",     deg,       Pos,   5.0,   0.2,   .2,    0,      1,     .2,     200,    -.1,     3,      360,    -360}
{13IDD:,  m25,   "OMS VME58",   3,    0, "Vert. slit pos. (Y)",     mm,     Pos,   0.5,   .1,   .05,   0.1,  .1,       .2,     400,       1.0,  3,     25,   -25}
{13IDD:,  m26,   "OMS VME58",   3,    1, "Hori. slit Pos. (X)",       mm,     Pos,   1.0,   .2,   .05,   0.1,  .1,       .2,     400,       1.0,  3,     25,   -25}

# LVP CCD camera stage
{13IDD:,  m27,   "OMS VME58",   3,    2, "Phosphor X",                mm,     Neg,   1.0,   .1,    .5,    0,      1,     .2,     200,     -0.10,  3,     95,     5}
{13IDD:,  m28,   "OMS VME58",   3,    3, "Stage X",                   mm,     Pos,   1.0,   .1,    .5,    0,      1,     .2,     200,     -0.10,  3,     95,     5}
{13IDD:,  m29,   "OMS VME58",   3,    4, "Stage Y",                   mm,     Neg,   1.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,  3,     70,     0}
{13IDD:,  m30,   "OMS VME58",   3,    5, "Stage Z",                   mm,     Neg,   1.0,   .1,    .5,    0,      1,     .2,     200,     -0.10,  3,     70,     0}

# 
#Laser stage X is installed, TU 5/28/02
{13IDD:,  m31,   "OMS VME58",   3,    6, "M31 Unused"                    mm,       Pos,   1.0,   0.2,   .1,    -.02,      1,     .1,     200,    -.1,    3,      150,    0}
{13IDD:,  m32,   "OMS VME58",   3,    7, "Laser stage X",            mm,     Neg,   2.0,   .1,    .5,    0,      1,     .2,     200,     -0.10,  3,      70,    0}

# Detector X: 100:1 gear reducer, 5 threads/inch leadscrew, UREV = 25.4/(100*5) = .0508
{13IDD:,  m33,   "OMS VME58",   4,    0, "Detector X",             mm,        Pos,    0.5,   .01,   .5,   .2,     1.,     .5,     400,     .0508, 3,      100,    0}
# Detector Y: 10:1 and 36:1 gear reducers, 5 thread/inch pitch leadscrew, UREV = 25.4/(10*36*5) = .01411111
# Det Y changed to 6:1 and 36:1 gear reducers, UREV - 25.4/(6*36*5) = 0.0235185 - YBW, 5/20/2000.
# Det Y changed to 1:2 and 36:1 gear reducers, UREV - 25.4/(.5*36*5) = 0.2822222 - MLR, 10/26/2001.
{13IDD:,  m34,   "OMS VME58",   4,    1, "Detector Y",             mm,        Neg,    0.5,   .01,   .5,   .2,     2.4,     .1,     400,  .28222222, 3,      100,    0}
# Detector Z: 100:1 gear reducer, 5 thread/inch leadscrew, UREV = 25.4/(100*5) = .0508
{13IDD:,  m35,   "OMS VME58",   4,    2, "Detector Z",             mm,        Pos,    0.5,   .01,   .5,   .2,     1.,     .5,     400,    -.0508, 3,      100,    0}
# Detector AY: 500:1 gear reducer, 80 mm lever arm, full rotation of shaft = 2*PI*80mm motion at end of arm, UREV = 502.655/(500) = 1.00531
{13IDD:,  m36,   "OMS VME58",   4,    3, "Detector base AY",       mm,        Pos,    .5,   .01,   .5,   .2,     .5,     .5,     400,   1.00531, 3,      100,    0}
# Detector AX : 100:1 gear reducer, 20:1 jack, 5 threads/inch leadscrew, UREV = 25.4/(100*20*5) = .00254
{13IDD:,  m37,   "OMS VME58",   4,    4, "Detector base AX",       mm,        Pos,    .1,   .01,   .5,    0,     .1,     .5,     400,    .00254, 3,      100,    0}
# Detector theta: 1800:1 total gear reducer, UREV=360/1800. = .2
{13IDD:,  m38,   "OMS VME58",   4,    5, "Gimbal AY/AX",           degrees,     Pos,    2.,   .01,   .5,    -0.05,     2.,     .5,     400,     .20,   3,      360,    -360}
# Detector tilt: 2000:1 total gear reducer, UREV=360/2000. = .18
{13IDD:,  m39,   "OMS VME58",   4,    6, "Gimbal AZ",              degrees,     Pos,    2.,   .01,   .5,    -0.01,     2.,     .5,     400,     .18,   3,      92,   -2}
# used for DAC rotary stage, 8.6.2005, vitali
{13IDD:,  m40,   "OMS VME58",   4,    7, "beam filter for DAC",     deg,       Pos,   1.0,   0.2,   .2,    0,      1,     .2,     200,    -.1,     3,      360,    -360}
#{13IDD:,  m40,   "OMS VME58",   4,    7, "M40",                    steps,     Pos,  1000,   100,   .5,    0,   1000,     .5,     400,     .0025, 1,      1e6,    -1e6}

# Unused
{13IDD:,  m41,   "OMS VME58",   5,    0, "M41",                    steps,     Pos,  1000,   100,   .5,    0,   1000,     .5,     400,     .0025, 1,      1e6,    -1e6}
{13IDD:,  m42,   "OMS VME58",   5,    1, "M42",                    steps,     Pos,  1000,   100,   .5,    0,   1000,     .5,     400,     .0025, 1,      1e6,    -1e6}
#motors m43 and m44 are used for DAC clean-up slit tilt, Vitali: March 12, 2007
{13IDD:,  m43,   "OMS VME58",   5,    2, "tilt vertical",           steps,     Pos,  1,   1,   .5,    0,   1,     .5,     400,     1.27,    3,      11,    0}
{13IDD:,  m44,   "OMS VME58",   5,    3, "tilt horizontal",         steps,     Pos,  1,   1,   .5,    0,   1,     .5,     400,     1.27,    3,      11,   0}
# LVP Y (vertical).  5000 steps/rev microstepper, SREV=5000
#                    10:1 gear reducer, 1 turn of jack = 1/16" (0.5" pitch, 8:1 gear ratio) UREV(mm) = 25.4/160 = .15875
{13IDD:,  m45,   "OMS VME58",   5,    4, "LVP Y",                   mm,       Neg,    .2,  .005,   .2,    -.2,    .1,     .1,   5000,  -0.15875, 3,      100,     0}
# LVP X (inboard-outboard). 5000 steps/rev microstepper, SREV=5000
#                           10:1 gear reducer, 0.5" pitch UREV(mm) = 25.4/20 = 1.27
{13IDD:,  m46,   "OMS VME58",   5,    5, "LVP X",                   mm,       Neg,    .2,  .005,   .2,    .2,     .1,     .1,   5000,     1.27,  3,      100,     0}
# LVP Z outboard (upstream-downstream). 5000 steps/rev microstepper, SREV=5000
#                                       10:1 gear reducer, 0.5" pitch UREV(mm) = 25.4/20 = 1.27
{13IDD:,  m47,   "OMS VME58",   5,    6, "LVP Z outboard",          mm,       Neg,    .2,  .005,   .2,    .2,      .1,    .1,   5000,     1.27,  3,      100,    0}
{13IDD:,  m48,   "OMS VME58",   5,    7, "LVP Z inboard",           mm,       Neg,    .2,  .005,   .2,    .2,      .1,    .1,   5000,     1.27,  3,      100,    0}

# K/B mirrors on DAC table.  Note these are full-step (UREV=24) not half-step (UREV=48)
{13IDD:,  m49,   "OMS VME58",   6,    0, "Vert. mirror Y pos.",      microns,  Pos,  150.0,    10,    .2,    0,      1,     .2,     48,     3.546,  1,      8e3,    0}
{13IDD:,  m50,   "OMS VME58",   6,    1, "Vert. mirror rotation",    mrad,     Pos,     10,    .1,    .2,    0,      1,     .2,     48,    -0.8868, 3,       30,  -30}
{13IDD:,  m51,   "OMS VME58",   6,    2, "Vert. force UpStream.",    microns,  Pos,  100.0,    10,    .2,    0,      1,     .2,     48,     3.546,  1,      8e3,    0}
{13IDD:,  m52,   "OMS VME58",   6,    3, "Vert. force DownStream.",  microns,  Pos,  100.0,    10,    .2,    0,      1,     .2,     48,     3.546,  1,      8e3,    0}
{13IDD:,  m53,   "OMS VME58",   6,    4, "Hor. mirror X pos",        microns,  Pos,  150.0,    10,    .2,    0,      1,     .2,     48,     3.546,  1,      8e3,    0}
{13IDD:,  m54,   "OMS VME58",   6,    5, "Hor. mirror rotation",     mrad,     Neg,     10,    .1,    .2,    0,      1,     .2,     48,    -0.8868, 3,       30,  -30}
{13IDD:,  m55,   "OMS VME58",   6,    6, "Hor. force UpStream",      microns,  Pos,  100.0,    10,    .2,    0,      1,     .2,     48,     3.546,  1,      8e3,    0}
{13IDD:,  m56,   "OMS VME58",   6,    7, "Hor. force DownStream",    microns,  Pos,  100.0,    10,    .2,    0,      1,     .2,     48,     3.546,  1,      8e3,    0}

# LVP Detector slits
#Replace ThorLab 4-jaw with Peter's new design, YW, Feb-21-05
#Slit position motors: 48 steps/turn w/ 43:1 gear = 2064 steps/rev; screw pitch: 0.25 mm/turn. Motor res = 0.121 microns/step.
#Slit width motors: 48 steps/turn w/ 43:1 gear = 2064 steps/rev; screw pitch: 80 threads/inch=>0.3175 mm/turn for each blade. Equiv. pitch for width=0.635 mm, Motor res=0.308microns/step.
#Channels for vertical slit position and width are bad, swapped channels by renaming them - Nov. 20,2010.
#*{13IDD:,  m63,   "OMS VME58",   7,    0,  "Vertical position",       mm,       Neg,    .250,   .100,    2.0,    0,      1,     .2,   2064,    .250,    3,    10.00, -.100}
#*{13IDD:,  m64,   "OMS VME58",   7,    1,  "Veritcal width",          mm,       Pos,    .600,   .100,    2.0,    0,      1,     .2,   2064,    .635,    3,   10.100, -.100}
#Channels for horizontal slit position and width are bad, swapped channels by renaming them - Nov. 19,2010.
#*{13IDD:,  m61,   "OMS VME58",   7,    2,  "Horizontal position",     mm,       Pos,    .250,   .100,    2.0,    0,      1,     .2,   2064,    .250,    3,    5.100, -.100}
#*{13IDD:,  m62,   "OMS VME58",   7,    3,  "Horizontal width",        mm,       Pos,    .600,   .100,    2.0,    0,      1,     .2,   2064,    .635,    3,   10.100, -.100}
#*{13IDD:,  m59,   "OMS VME58",   7,    4,  "Vertical position",     mm,       Pos,    .200,   .100,    1.0,    0,      1,     .2,   2064,   -.250,    6,    5.100, -.100}
#*{13IDD:,  m60,   "OMS VME58",   7,    5,  "Vertical width",        mm,       Neg,    .400,   .100,    1.0,    0,      1,     .2,   2064,   -.635,    6,   10.100, -.100}
#*{13IDD:,  m57,   "OMS VME58",   7,    6,  "Horizontal position",       mm,       Neg,    .200,   .100,    1.0,    0,      1,     .2,   2064,    .250,    3,   10.100, -.100}
#*{13IDD:,  m58,   "OMS VME58",   7,    7,  "Horizontal width",          mm,       Pos,    .400,   .100,    1.0,    0,      1,     .2,   2064,    .635,    3,   10.100, -.100}
{13IDD:,  m57,   "OMS VME58",   7,    0,  "Horizontal position",     mm,       Pos,    .250,   .100,    .2,    0,      1,     .2,   2064,   -.350,    3,    5.100, -.100}
{13IDD:,  m58,   "OMS VME58",   7,    1,  "Horizontal width",        mm,       Neg,    .200,   .100,    .1,    0,      1,     .2,   2064,   -.700,    3,   10.100, -.100}
{13IDD:,  m59,   "OMS VME58",   7,    2,  "Vertical position",       mm,       Neg,    .250,   .100,    .2,    0,      1,     .2,   2064,   -.350,    3,    5.100, -.100}
{13IDD:,  m60,   "OMS VME58",   7,    3,  "Vertical width",          mm,       Neg,    .200,   .100,    .1,    0,      1,     .2,   2064,   -.700,    3,   10.100, -.100}
{13IDD:,  m61,   "OMS VME58",   7,    4,  "Horizontal position",     mm,       Pos,    .250,   .100,    .2,    0,      1,     .2,   2064,   -.350,    3,    5.100, -.100}
{13IDD:,  m62,   "OMS VME58",   7,    5,  "Horizontal width",        mm,       Pos,    .200,   .100,    .1,    0,      1,     .2,   2064,   -.700,    3,   10.100, -.100}
{13IDD:,  m63,   "OMS VME58",   7,    6,  "Test position",       mm,       Pos,    .250,   .100,    1.0,    0,      1,     .2,   2064,   -.250,    6,    5.100, -.100}
{13IDD:,  m64,   "OMS VME58",   7,    7,  "Test width",          mm,       Neg,    .200,   .100,    1.0,    0,      1,     .2,   2064,   -.635,    6,   10.100, -.100}

#13IDD DAC motors for carbon mirors
{13IDD:,  m65,   "OMS VME58",   8,    0, "Upstream focus",          mm,       Neg,    0.15,  .01,   .2,  0.02,      1,     .2,   480,    .03546,  3,      8.,    0}
{13IDD:,  m66,   "OMS VME58",   8,    1, "Downstream focus",        mm,       Neg,    0.15,  .01,   .2,  0.02,      1,     .2,   480,    .03546,  3,      8.,    0}

#13IDD DAC microscope stages
{13IDD:,  m67,   "OMS VME58",   8,    2, "DAC Microscope X pos",    mm,       Pos,   5.0,   0.2,   .2,    0.02,      1,     .2,     200,    -.1,    3,      100,    0}
{13IDD:,  m68,   "OMS VME58",   8,    3, "DAC Microscope Y pos",    mm,       Neg,    0.15,  .01,   .2,  0.0,      1,     .2,   480,    .03546,  3,      24.,    0}
{13IDD:,  m69,   "OMS VME58",   8,    4, "DAC Microscope Z pos",    mm,       Pos,    0.15,  .01,   .2,  0,      1,     .2,   480,    .03546,  3,      24.,    0}
{13IDD:,  m70,   "OMS VME58",   8,    5, "CO2 Total Power",        deg,      Pos,   1.0,   0.2,   .2,    0,      1,     .2,     200,    -.1,     3,      360,    -360}
#m70 was used for new Newport rotary stage 
#{13IDD:,  m70,   "OMS VME58",   8,    5, "TEM00 Total Power",      deg,      Pos,    1.0,  1.0,   2.50,    0,      1,     1.0,     100,    .083,     5,      360.,    -360.}
#for CO2 laser and IR camera mirrors, vitali 2007-08-09
{13IDD:,  m71,   "OMS VME58",   8,    6, "IR camera mirrors",      mm,       Pos,      1.,  1.,   .5,   0,   1, .5, 400,  2,      3,   50,  -50}
{13IDD:,  m72,   "OMS VME58",   8,    7, "CO2 laser mirrors",      mm,       Pos,      1.,  1.,   .5,   0,   1, .5, 400,  2,      3,   50,  -50}
#{13IDD:,  m71,   "OMS VME58",   8,    6, "TEM00 Split Power",      deg,      Pos,   10.0,  5.0,   10.0,    0,      1,     5.0,     10,    .1,     3,      360.,    -360.}
#{13IDD:,  m72,   "OMS VME58",   8,    7, "TEM01 Split Power",      deg,      Pos,   10.0,  5.0,   10.0,    0,      1,     5.0,     10,    .1,     3,      360.,    -360.}

{13IDD:,  m73,   "OMS VME58",   9,    0, "M73",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m74,   "OMS VME58",   9,    1, "M74",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m75,   "OMS VME58",   9,    2, "M75",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m76,   "OMS VME58",   9,    3, "M76",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m77,   "OMS VME58",   9,    4, "M77",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m78,   "OMS VME58",   9,    5, "M78",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m79,   "OMS VME58",   9,    6, "M79",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13IDD:,  m80,   "OMS VME58",   9,    7, "M80",                    mm,        Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}

}

# XPS Stages
file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,   N, M,  DTYP,   PORT, ADDR,  DESC,             EGU,  DIR, VELO, VBAS, ACCL, BDST,BVEL,BACC,  SREV,UREV, PREC,  DHLM,     DLLM}
{13IDD:, 1, m81, "asynMotor", XPS1, 0, "Horiz X",     mm,  Neg,  5.,   1,   0.5,   0, 1, .2,      10000, 1,    3,    12.45,  -12.45}
{13IDD:, 2, m82, "asynMotor", XPS1, 1, "Focus Z",     mm,  Neg,  5.,   1,   0.5,   0, 1, .2,      10000, 1,    3,    12.45,  -12.45}
{13IDD:, 3, m83, "asynMotor", XPS1, 2, "fine  Y",     mm,  Pos,  5.,   1,   0.5,   0, 1, .2,      50000, 1,    3,     2.45,   -2.45}
{13IDD:, 4, m84, "asynMotor", XPS1, 3, "CCD Z",       mm,  Pos,  2.,   1,   5.0,   0, 1, .5,       1000, 1,    3,    50.0,    -50.0}
#{13IDD:, 5, m85, "asynMotor", XPS1, 4, "unused",      mm,  Pos,  5.,   1,   1.0,   0, 1, .5,       5000, 1,    3,   292.0,     -8.0}
#{13IDD:, 6, m86, "asynMotor", XPS1, 5, "unused",      mm,  Pos,  5.,   1,   1.0,   0, 1, .5,       5000, 1,    3,   292.0,     -8.0}
#{13IDD:, 7, m87, "asynMotor", XPS1, 6, "unused",      mm,  Pos,  5.,   1,   1.0,   0, 1, .5,       5000, 1,    3,   292.0,     -8.0}
#{13IDD:, 8, m88, "asynMotor", XPS1, 7, "unused",      mm,  Pos,  5.,   1,   1.0,   0, 1, .5,       5000, 1,    3,   292.0,     -8.0}
}

file "$(MOTOR)/motorApp/Db/XPS_extra.db"
{
pattern
{P,     R,  PORT,  ADDR}
{13IDD:,  m81, XPS1,  0}
{13IDD:,  m82, XPS1,  1}
{13IDD:,  m83, XPS1,  2}
{13IDD:,  m84, XPS1,  3}
#{13IDD:,  m85, XPS1,  4}
#{13IDD:,  m86, XPS1,  5}
#{13IDD:,  m87, XPS1,  6}
#{13IDD:,  m88, XPS1,  7}
}



# Pseudomotors for LVP T-cup mode and rotation
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,                  EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}

# LVP T-cup motion
{13IDD:,  pm1, "13IDD:Tcup:Done NPP NMS",   "13IDD:pm1DVAL.VAL PP MS", "13IDD:Tcup:Readback.G NPP NMS",   "13IDD:Tcup:Stop PP MS",   "T-Cup X'",           mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
{13IDD:,  pm2, "13IDD:Tcup:Done NPP NMS",   "13IDD:pm2DVAL.VAL PP MS", "13IDD:Tcup:Readback.H NPP NMS",   "13IDD:Tcup:Stop PP MS",   "T-Cup Y'",           mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
# LVP Rotation
{13IDD:,  pm3, "13IDD:LVPROT:Done NPP NMS", "13IDD:pm3DVAL.VAL PP MS", "13IDD:LVPROT:Readback.G NPP NMS", "13IDD:LVPROT:Stop PP MS", "LVP Z (compound)",   mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
{13IDD:,  pm4, "13IDD:LVPROT:Done NPP NMS", "13IDD:pm4DVAL.VAL PP MS", "13IDD:LVPROT:Readback.H NPP NMS", "13IDD:LVPROT:Stop PP MS", "Rotation",           deg, Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}

# K/B mirrors
{13IDD:,  pm5, "13IDD:KBH:Done NPP NMS",    "13IDD:pm5DVAL.VAL PP MS", "13IDD:KBH:Readback.G NPP NMS",    "13IDD:KBH:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
{13IDD:,  pm6, "13IDD:KBH:Done NPP NMS",    "13IDD:pm6DVAL.VAL PP MS", "13IDD:KBH:Readback.H NPP NMS",    "13IDD:KBH:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
{13IDD:,  pm7, "13IDD:KBV:Done NPP NMS",    "13IDD:pm7DVAL.VAL PP MS", "13IDD:KBV:Readback.G NPP NMS",    "13IDD:KBV:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
{13IDD:,  pm8, "13IDD:KBV:Done NPP NMS",    "13IDD:pm8DVAL.VAL PP MS", "13IDD:KBV:Readback.H NPP NMS",    "13IDD:KBV:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}

# LVP detector mount
{13IDD:,  pm9, "13IDD:pm9Done  NPP NMS",   "13IDD:pm9Move      PP MS", "13IDD:pm9Readback     NPP NMS",   "13IDD:pm9Stop   PP MS",   "Radius",             mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,   1000, -100}
{13IDD:, pm10, "13IDD:pm9Done  NPP NMS",   "13IDD:pm10Move     PP MS", "13IDD:pm10Readback    NPP NMS",   "13IDD:pm9Stop   PP MS",   "Compound Two-theta", deg, Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
{13IDD:, pm11, "13IDD:pm9Done  NPP NMS",   "13IDD:pm11Move     PP MS", "13IDD:pm11Readback    NPP NMS",   "13IDD:pm9Stop   PP MS",   "Compound Chi",       deg, Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}

# DAC laser splitter power
{13IDD:,  pm12, "13IDD:LaserSplit:Done NPP NMS", "13IDD:pm12DVAL.VAL PP MS", "13IDD:LaserSplit:Readback.G NPP NMS", "13IDD:LaserSplit:Stop PP MS", "Split Sum",   deg,  Pos,   1,    .1,   .1,    0,    1,   .1, .01,  1.0,  3,    10000, -10000}
{13IDD:,  pm13, "13IDD:LaserSplit:Done NPP NMS", "13IDD:pm13DVAL.VAL PP MS", "13IDD:LaserSplit:Readback.H NPP NMS", "13IDD:LaserSplit:Stop PP MS", "Split Difference",   deg,  Pos,   1,    .1,   .1,    0,    1,   .1, .01,  1.0,  3,    10000, -10000}

}

# 13IDD DAC TableTop Slit
file "$(OPTICS)/opticsApp/Db/2slit.db"
{
pattern
{P,      SLIT,   mXp,   mXn}
{13IDD:, DACV,   m9,    m10}
{13IDD:, DACH,   m12,   m11}
}

# LVP T-cup mode
file "$(MOTOR)/motorApp/Db/coordTrans2D.db"
{
pattern
{P,      T,     MXP, MYP,    XDRV,    XRBV,      XSTOP,       XDONE,       YDRV,   YRBV,        YSTOP,       YDONE,    PREC}
{13IDD:, Tcup:, pm1, pm2,   m46.VAL,  m46.RBV,  m46.STOP,   m46.DMOV,    m45.VAL, m45.RBV     m45.STOP,    m45.DMOV,   3}
}

# LVP rotation 
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,        SUM, DIFF,    M1DRV,    M1RBV,    M1STOP,   M1DONE,   M2DRV,  M2RBV,   M2STOP,   M2DONE,  PREC}
{13IDD:, LVPROT:,  pm3, pm4,    m47.VAL,  m47.RBV,  m47.STOP, m47.DMOV, m48.VAL, m48.RBV, m48.STOP, m48.DMOV, 3}
}

# K/B mirrors
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13IDD:, KBH:,  pm5, pm6,    m55.VAL,  m55.RBV,  m56.VAL, m56.RBV, m55.STOP, m55.DMOV, m56.STOP, m56.DMOV, 1}
{13IDD:, KBV:,  pm7, pm8,    m51.VAL,  m51.RBV,  m52.VAL, m52.RBV, m51.STOP, m51.DMOV, m52.STOP, m52.DMOV, 1}
}

# Laser splitter power
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,           SUM,  DIFF,    M1DRV,    M1RBV,    M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13IDD:, LaserSplit:,  pm12, pm13,    m71.VAL,  m71.RBV,  m72.VAL, m72.RBV, m71.STOP, m71.DMOV, m72.STOP, m72.DMOV, 3}
}

file "$(CARS)/CARSApp/Db/IDD_LVP_Detector.db"
{
pattern
{P,      X,    Y,   Z,  TX,    TZ,  PMR,  PMT,  PMC}
{13IDD:, m33, m34, m35, m38,  m39,  pm9,  pm10, pm11}
}

# 13IDD DAC Lift Table
file "$(OPTICS)/opticsApp/Db/table.db"
{
pattern
{P,          Q,      T,  M0X,  M0Y,  M1Y,  M2X,  M2Y,  M2Z, GEOM}
{13IDD:, DAC:T1, DAC:t1, m19,  m15,  m16,  m18,  m17,  junk, SRI}
}

file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13IDD:,SCANREC=13IDD:scan1,Q=DAC:T1X,POS=DAC:t1.X,RDBK=DAC:t1.XRB}
{P=13IDD:,SCANREC=13IDD:scan1,Q=DAC:T1Y,POS=DAC:t1.Y,RDBK=DAC:t1.YRB}
{P=13IDD:,SCANREC=13IDD:scan1,Q=DAC:T1Z,POS=DAC:t1.Z,RDBK=DAC:t1.ZRB}
{P=13IDD:,SCANREC=13IDD:scan1,Q=DAC:T1AX,POS=DAC:t1.AX,RDBK=DAC:t1.AXRB}
{P=13IDD:,SCANREC=13IDD:scan1,Q=DAC:T1AY,POS=DAC:t1.AY,RDBK=DAC:t1.AYRB}
{P=13IDD:,SCANREC=13IDD:scan1,Q=DAC:T1AZ,POS=DAC:t1.AZ,RDBK=DAC:t1.AZRB}
}

