file "$(IP)/ipApp/Db/picoMotor.db"
{
pattern
{P,      S,       D,     M, PORT}
{13IDD:, pico,    A1,    0, serial11}
{13IDD:, pico,    A1,    1, serial11}
{13IDD:, pico,    A1,    2, serial11}
{13IDD:, pico,    A2,    0, serial11}
{13IDD:, pico,    A2,    1, serial11}
{13IDD:, pico,    A2,    2, serial11}
{13IDD:, pico,    A3,    0, serial11}
{13IDD:, pico,    A3,    1, serial11}
{13IDD:, pico,    A3,    2, serial11}
}
