file "$(IP)/ipApp/Db/picoMotor.db"
{
pattern
{P,      S,       D,     M, PORT}
{13IDD:, pico,    A1,    0, serial11}
{13IDD:, pico,    A1,    1, serial11}
{13IDD:, pico,    A1,    2, serial11}
{13IDD:, pico,    A2,    0, serial11}
{13IDD:, pico,    A2,    1, serial11}
{13IDD:, pico,    A2,    2, serial11}
{13IDD:, pico,    A3,    0, serial11}
{13IDD:, pico,    A3,    1, serial11}
{13IDD:, pico,    A3,    2, serial11}
{13IDD:, pico,    A4,    0, serial11}
{13IDD:, pico,    A4,    1, serial11}
{13IDD:, pico,    A4,    2, serial11}
}

file "$(IP)/ipApp/Db/picoStop12.db"
{
pattern
{P,      S,       D1, M1, D2, M2, D3, M3, D4, M4, D5, M5, D6, M6, D7, M7, D8, M8, D9, M9, D10, M10, D11, M11, D12, M12}
{13IDD:, pico,    A1, 0,  A1, 1,  A1, 2,  A2, 0,  A2, 1,  A2, 2,  A3, 0,  A3, 1,  A3, 2,  A4,  0,   A4,  1,   A4,  2}
}
