file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13IDD:,SCANREC=13IDD_XPS:scan1,Q=m81,POS=m81.VAL,RDBK=m81.RBV}
{P=13IDD:,SCANREC=13IDD_XPS:scan1,Q=m82,POS=m82.VAL,RDBK=m82.RBV}
{P=13IDD:,SCANREC=13IDD_XPS:scan1,Q=m83,POS=m83.VAL,RDBK=m83.RBV}
{P=13IDD:,SCANREC=13IDD_XPS:scan1,Q=m84,POS=m84.VAL,RDBK=m84.RBV}
}
