file "$(ASYN)/db/asynRecord.db"
{
pattern
{P            R         PORT     ADDR  OMAX IMAX}
{13DAC_piezo:     serial1   serial1    0    256  256} 
{13DAC_piezo:     serial2   serial2    0    256  256} 
{13DAC_piezo:     serial3   serial3    0    256  256} 
{13DAC_piezo:     serial4   serial4    0    256  256} 
}
