file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,          M,      DTYP,       PORT, ADDR,  DESC,     EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,    PREC, DHLM, DLLM}
{13PMAC1:,   m1,   "asynMotor",  PMAC1, 1,     "M1",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m2,   "asynMotor",  PMAC1, 2,     "M2",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m3,   "asynMotor",  PMAC1, 3,     "M3",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m4,   "asynMotor",  PMAC1, 4,     "M4",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m5,   "asynMotor",  PMAC1, 5,     "M5",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m6,   "asynMotor",  PMAC1, 6,     "M6",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m7,   "asynMotor",  PMAC1, 7,     "M7",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
{13PMAC1:,   m8,   "asynMotor",  PMAC1, 8,     "M8",      mm,    Pos,     1,      0,     .2,    0,     0.1,     .1,    1,     0.001,    5,   25,    -25}
}
