file "$(ASYN)/db/asynRecord.db"
{
pattern
{P            R        PORT    ADDR    OMAX  IMAX}
{13RAMAN2:   serial1   serial1    0     80     80}
{13RAMAN2:   serial2   serial2    0     80     80}
{13RAMAN2:   serial3   serial3    0     80     80}
{13RAMAN2:   serial4   serial4    0     80     80}
{13RAMAN2:   serial5   serial5    0     80     80}
{13RAMAN2:   serial6   serial6    0     80     80}
}
