file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,         M,      DTYP,      C, S,  DESC,    EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,  PREC,  DHLM, DLLM}
{13Win32:, m1, "ACS MCB-4B",  0, 0, "X",      mm,    Pos,     2,     .1,     1.,    0,      1,     .2,    200,     -.1,    4,   100,    0}
{13Win32:, m2, "ACS MCB-4B",  0, 1, "Y",      mm,    Pos,     2,     .1,     1.,    0,      1,     .2,    200,     -.1,    4,   100,    0}
{13Win32:, m3, "ACS MCB-4B",  0, 2, "M3",     steps,  Pos,    2000,   1,     1.,    0,      1,     .2,    400,     400,    0,   1e6, -1e6}
{13Win32:, m4, "ACS MCB-4B",  0, 3, "M4",     steps,  Pos,    2000,   1,     1.,    0,      1,     .2,    400,     400,    0,   1e6, -1e6}
{13Win32:, m5, "MM4000",      0, 0, "Omega",  degrees,  Pos,  10.0,  .1,     1.,     0,     1,     .2,     1,     .001,    4,   180, -180}
{13Win32:, m6, "MM4000",      0, 1, "Kappa",  degrees,  Pos,  60.0,  .1,     1.5,    0,     1,     .2,     1,     .001,    4,   180, -180}
{13Win32:, m7, "MM4000",      0, 2, "Phi",    degrees,  Pos,  60.0,  .1,     1.,     0,     1,     .2,     1,     .001,    3,   180, -180}
}}

