file "$(CARS)/CARSApp/Db/eps_valves.db"
{
pattern
{P,      NAME,       DESC,         A_OS,C_OS,S_OS,A_CS,C_CS,S_CS,A_OP,C_OP,S_OP,A_CP,C_CP,S_CP,A_OR,C_OR,S_OR,A_CR,C_CR,S_CR}
{13IDA:,       "V1", "Valve V1",     0,  14,   8,   0,  14,   9,   1,   2,   8,   1,   2,   9,   0,   5,   6,   0,   5,   7}
{13IDA:,       "V2", "Valve V2",     0,  14,   0,   0,  14,   1,   1,   2,   0,   1,   2,   1,   0,   5,   0,   0,   5,   1}
{13IDA:,       "V3", "Valve V3",     0,  14,   2,   0,  14,   3,   1,   2,   2,   1,   2,   3,   0,   5,   2,   0,   5,   3}
{13IDA:,       "V4", "Valve V4",     0,  14,   4,   0,  14,   5,   1,   2,   4,   1,   2,   5,   0,   5,   4,   0,   5,   5}
{13IDA:,       "V5", "Valve V5",     0,  14,  10,   0,  14,  11,   1,   2,  10,   1,   2,  11,   0,   5,   8,   0,   5,   9}
{13IDA:,       "V6", "Valve V6",     0,  14,  12,   0,  14,  13,   1,   2,  12,   1,   2,  13,   0,   5,  12,   0,   5,  13}
{13IDA:,       "BS", "Beamstop",     0,  14,   6,   0,  14,   7,   1,   2,   6,   1,   2,   7,   0,   5,  10,   0,   5,  11}
}          
