file CARSApp/Db/eps_inputs.db, top
{
pattern
{P,        N,   DESC,                           A,  C,  S, ZNAM,              ZSV,        ONAM,                OSV}
{13IDA:,   1,   "DCM user status",              0,  0, 11, "Reboot needed",   "MAJOR",    "Ok",                "NO_ALARM"}
{13IDA:,   2,   "DCM status",                   0,  0,  8, "Ok",              "NO_ALARM", "PLC not RUNning",   "MAJOR"}
{13IDA:,   4,   "13-ID shutter",                0,  2,  1, "Closed",          "MAJOR",    "Open",              "NO_ALARM"}
{13IDA:,   5,   "EPS status",                   0,  2,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,   6,   "PLC run mode",                 0,  2,  3, "Ok",              "NO_ALARM", "PLC not running",   "MAJOR"}
{13IDA:,   7,   "PLC keyswitch",                0,  2,  4, "Remote",          "NO_ALARM", "Local",             "NO_ALARM"}
{13IDA:,   8,   "PLC overrides",                0,  2,  5, "Ok",              "NO_ALARM", "Overrides on",      "MAJOR"}
{13IDA:,   9,   "PLC forces present",           0,  2,  6, "Ok",              "NO_ALARM", "Forces exist",      "NO_ALARM"}
{13IDA:,  10,   "PLC battery low",              0,  2,  7, "Ok",              "NO_ALARM", "Battery low",       "MAJOR"}
{13IDA:,  11,   "Remote inputs",                0,  2,  8, "Ok",              "NO_ALARM", "Comm fault",        "MAJOR"}
{13IDA:,  12,   "Low power mode",               0,  2,  9, "Normal",          "NO_ALARM", "Low power",         "NO_ALARM"}
{13IDA:,  15,   "Be windows (ID-B) water",      0,  4,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  16,   "Be windows water (lat)",       0,  4,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  17,   "Horizontal slit (ID-A) water", 0,  4,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  18,   "Horizontal slits water (lat)", 0,  4,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  19,   "Vertical slit (ID-A) water",   0,  4,  6, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  20,   "Vertical slits water (latch)", 0,  4,  7, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  21,   "Slit tank (ID-A) vacuum (CC)", 0,  8,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  22,   "Slit tank vacuum (CC) (lat)",  0,  8,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  23,   "Slit tank (ID-A) vacuum (PG)", 0,  8,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  24,   "Slit tank vacuum (PG) (lat)",  0,  8,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  25,   "Diagnostic tank vacuum (CC)",  0,  8,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  26,   "Diagnostic tank vacuum (CC)l", 0,  8,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  27,   "Diagnostic tank vacuum (PG)",  0,  8,  6, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  28,   "Diagnostic tank vacuum (PG)l", 0,  8,  7, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  29,   "Transport pipe vacuum (CC)",   0,  8,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  30,   "Transport vacuum (CC) (lat)",  0,  8,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  31,   "Transport pipe vacuum (PG)",   0,  8, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  32,   "Transport vacuum (PG) (lat)",  0,  8, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  33,   "Valve V2 (ID-A) position",     0, 12,  0, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  34,   "Valve V2 position (latched)",  0, 12,  1, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  35,   "Valve V3 (ID-A) position",     0, 12,  2, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  36,   "Valve V3 position (latched)",  0, 12,  3, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  37,   "Valve V4 (ID-A) position",     0, 12,  4, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  38,   "Valve V4 position (latched)",  0, 12,  5, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  39,   "Beamstop (ID-A) position",     0, 12, 10, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  40,   "Beamstop position (latched)",  0, 12, 11, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  57,   "Front end valve (APS)",        0, 12, 12, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:,  58,   "Front end valve (latched)",    0, 12, 13, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
#2001-oct-30 removed from EPS
# {13IDA:,  59,   "ID-C station water #1",        0,  4,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
# {13IDA:,  60,   "ID-C station water #1 (lat)",  0,  4,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  61,   "Backstop (ID-D) water",        0,  4, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  62,   "Backstop (ID-D) water (lat)",  0,  4, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  63,   "Monochromator (ID-C) water",   0,  4, 12, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  64,   "Mono (ID-C) water (latch)",    0,  4, 13, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
#2001-oct-30 removed from EPS
#{13IDA:,  65,   "Be window (ID-B) helium",      0,  4, 14, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
#{13IDA:,  66,   "Be window (ID-B) he (latch)",  0,  4, 15, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  67,   "He gas farm pressure (left)"   0,  2, 10, "Ok",              "NO_ALARM", "<200 psig",         "MAJOR"}
{13IDA:,  68,   "He gas farm pressure (right)"  0,  2, 11, "Ok",              "NO_ALARM", "<200 psig"          "MAJOR"}
{13IDA:,  69,   "400W pinhole V water",         0,  6,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  70,   "400W pinhole V water (latch)", 0,  6,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  71,   "400W pinhole H water",         0,  6,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  72,   "400W pinhole H water (latch)", 0,  6,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  73,   "100W pinhole&beamstop water",  0,  6,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  74,   "100W pinhole&beamstop(latch)", 0,  6,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  75,   "Valve V1 (ID-A) position",     0, 12,  6, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  76,   "Valve V1 position (latched)",  0, 12,  7, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  77,   "Monochromator vacuum (CC)",    0,  8,  12, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  78,   "Monochromator (CC) (lat)",     0,  8,  13, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  79,   "Monochromator vacuum (PG)",    0,  8,  14, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  80,   "Monochromator (PG) (lat)",     0,  8,  15, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  81,   "Vacuum status",                0,  2,   0, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  82,   "Backstop (ID-C) water",        0,  4,   0, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  83,   "Backstop (ID-C) water (lat)",  0,  4,   1, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
#2001-oct-30 removed from EPS
# {13IDA:,  84,   "ID-C station water #2",        0,  6,   6, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
# {13IDA:,  85,   "ID-C station water #2 (lat)",  0,  6,   7, "Ok",             "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  86,   "Mirror tanks vacuum (CC)",     0, 10,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  87,   "Mirror tanks (CC) (lat)",      0, 10,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  88,   "Mirror tanks vacuum (PG)",     0, 10,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  89,   "Mirror vacuum (PG) (lat)",     0, 10,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  90,   "ID-C pipe vacuum (PG)",        0, 10,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  91,   "ID-C pipe vacuum (PG) (lat)",  0, 10,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  92,   "Vertical mirror water",        0,  6,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  93,   "Vertical mirror water (lat)",  0,  6,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  94,   "Horiz. mirror water",          0,  6, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  95,   "Horiz. mirror water (lat)",    0,  6, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  96,   "Mirror masks water",           0,  6, 12, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  97,   "Mirror masks water (lat)",     0,  6, 13, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  98,   "Valve V5 (ID-B) position",     0, 12,  8, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  99,   "Valve V5 position (latched)",  0, 12,  9, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 100,   "Valve V6 (ID-B) position",     0, 12, 14, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 101,   "Valve V6 position (latched)",  0, 12, 15, "Open",            "NO_ALARM", "Fault",             "MAJOR"}
}
