file "$(CARS)/CARSApp/Db/eps_inputs.db"
{
pattern
{P,        N,   DESC,                           A,  C,  S, ZNAM,              ZSV,        ONAM,                OSV}

# PLC status
{13IDA:,   1,   "DCM user status",              0,  0, 11, "Reboot needed",   "MAJOR",    "Ok",                "NO_ALARM"}
{13IDA:,   2,   "DCM status",                   0,  0,  8, "Ok",              "NO_ALARM", "PLC not RUNning",   "MAJOR"}
{13IDA:,   6,   "PLC run mode",                 0,  2,  3, "Ok",              "NO_ALARM", "PLC not running",   "MAJOR"}
{13IDA:,   7,   "PLC keyswitch",                0,  2,  4, "Remote",          "NO_ALARM", "Local",             "NO_ALARM"}
{13IDA:,   8,   "PLC overrides",                0,  2,  5, "Ok",              "NO_ALARM", "Overrides on",      "MAJOR"}
{13IDA:,   9,   "PLC forces present",           0,  2,  6, "Ok",              "NO_ALARM", "Forces exist",      "NO_ALARM"}
{13IDA:,  10,   "PLC battery low",              0,  2,  7, "Ok",              "NO_ALARM", "Battery low",       "MAJOR"}
{13IDA:,  11,   "Remote inputs",                0,  2,  8, "Ok",              "NO_ALARM", "Comm fault",        "MAJOR"}

# Shutter status
{13IDA:,  25,   "Front end shutter"             0,  2,  9, "Closed",          "MAJOR",    "Open",              "NO_ALARM"}
{13IDA:,  26,   "C/D shutter"                   0,  2, 10, "Closed",          "MAJOR",    "Open"               "NO_ALARM"}
{13IDA:,  27,   "E shutter",                    0,  2, 11, "Closed",          "MAJOR",    "Open",              "NO_ALARM"}

# Water status 1
{13IDA:,  32,   "C/D horiz. slits water",       0,  4,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  33,   "C/D horiz. slits water (lat)", 0,  4,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  34,   "C/D vert. slits water",        0,  4,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  35,   "C/D vert. slits water (lat)",  0,  4,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  36,   "E horiz. slits water",         0,  4,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  37,   "E horiz. slits water (lat)",   0,  4,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  38,   "E vert. slits water",          0,  4,  6, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  39,   "E vert. slits water (lat)",    0,  4,  7, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  40,   "E WBS water",                  0,  4,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  41,   "E WBS water (latch)",          0,  4,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  42,   "E viewer water",               0,  4, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  43,   "E viewer water (latch)",       0,  4, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  44,   "100W horiz. water",            0,  4, 12, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  45,   "100W horiz. water (latch)",    0,  4, 13, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  46,   "100W vert. water",             0,  4, 14, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  47,   "100W vert. water (latch)",     0,  4, 15, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}

# Water status 2
{13IDA:,  48,   "C/D WBS water",                0,  6,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  49,   "C/D WBS water (latch)",        0,  6,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  50,   "C/D viewer water",             0,  6,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  51,   "C/D viewer water (latch)",     0,  6,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  52,   "IDC Be window water",          0,  6,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  53,   "IDC Be window water (latch)",  0,  6,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  54,   "IDC horiz. mirror water",      0,  6,  6, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  55,   "IDC horiz. mirror water (lat)",0,  6,  7, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 100,   "IDC horiz. mirror mask water", 0, 12,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 101,   "IDC horiz. mir msk wat(lat)",  0, 12,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  56,   "IDC backstop water",           0,  6,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  57,   "IDC backstop water (latch)",   0,  6,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  58,   "IDD backstop water",           0,  6, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  59,   "IDD backstop water (latch)",   0,  6, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}

# Vacuum status 1
{13IDA:,  64,   "Slit tank vacuum (CC1)",       0,  8,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  65,   "Slit tank vacuum (CC1) (lat)", 0,  8,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  66,   "Slit tank vacuum (PG1)",       0,  8,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  67,   "Slit tank vacuum (PG1) (lat)", 0,  8,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  68,   "C/D mono vacuum (CC2)",        0,  8,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  69,   "C/D mono vacuum (CC2) (lat)",  0,  8,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  70,   "C/D mono vacuum (PG2)",        0,  8,  6, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  71,   "C/D mono vacuum (PG2) (lat)",  0,  8,  7, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  72,   "E mono vacuum (CC3)",          0,  8,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  73,   "E mono vacuum (CC3) (lat)",    0,  8,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  74,   "E mono vacuum (PG3)",          0,  8, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  75,   "E mono vacuum (PG3) (lat)",    0,  8, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  76,   "E mirror vacuum (CC4)",        0,  8, 12, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  77,   "E mirror vacuum (CC4) (lat)",  0,  8, 13, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  78,   "E mirror vacuum (PG4)",        0,  8, 14, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  79,   "E mirror vacuum (PG4) (lat)",  0,  8, 15, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}

# Vacuum status 2
{13IDA:,  80,   "SSA tank vacuum (CC5)",        0, 10,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  81,   "SSA tank vacuum (CC5) (lat)",  0, 10,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  82,   "SSA tank vacuum (PG5)",        0, 10,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  83,   "SSA tank vacuum (PG5) (lat)",  0, 10,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  84,   "C/D vert. mirror (CC6)",       0, 10,  4, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  85,   "C/D vert. mirror (CC6) (lat)", 0, 10,  5, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  86,   "C/D vert. mirror (PG6)",       0, 10,  6, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  87,   "C/D vert. mirror (PG6) (lat)", 0, 10,  7, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  88,   "E shutter vacuum (CC7)",       0, 10,  8, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  89,   "E shutter vacuum (CC7) (lat)", 0, 10,  9, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  90,   "E shutter vacuum (PG7)",       0, 10, 10, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  91,   "E shutter vacuum (PG7) (lat)", 0, 10, 11, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  92,   "E transport vac. (PG8)",       0, 10, 12, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  93,   "E transport vac. (PG8) (lat)", 0, 10, 13, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  94,   "C/D horiz. mirror (CC9)",      0, 10, 14, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  95,   "C/D horiz. mirror (CC9)(lat)", 0, 10, 15, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}

# Vacuum status 3
{13IDA:,  96,   "C/D horiz. mirror (PG9)",      0, 12,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  97,   "C/D horiz. mirror (PG9) (lat)",0, 12,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  98,   "C/D trans. vac. (PG10)",       0, 12,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:,  99,   "C/D trans. vac. (PG10) (lat)", 0, 12,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}

# Valve status
{13IDA:, 112,   "Valve V2 position",            0, 14,  0, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 113,   "Valve V2 position (latched)",  0, 14,  1, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 114,   "Valve V3 position",            0, 14,  2, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 115,   "Valve V3 position (latched)",  0, 14,  3, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 116,   "Valve V4 position",            0, 14,  4, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 117,   "Valve V4 position (latched)",  0, 14,  5, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 118,   "Valve V5 position",            0, 14,  6, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 119,   "Valve V5 position (latched)",  0, 14,  7, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 120,   "Valve V6 position",            0, 14,  8, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 121,   "Valve V6 position (latched)",  0, 14,  9, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 122,   "Valve V7 position",            0, 14, 10, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 123,   "Valve V7 position (latched)",  0, 14, 11, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 124,   "Valve V8 position",            0, 14, 12, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 125,   "Valve V8 position (latched)",  0, 14, 13, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 126,   "Front end valve position",     0, 14, 14, "Open",            "NO_ALARM", "Closed",            "MAJOR"}
{13IDA:, 127,   "Front end valve pos. (lat)",   0, 14, 15, "Open",            "NO_ALARM", "Closed",            "MAJOR"}


# Other status
{13IDA:, 192,   "FOE EPS status",               1,  8,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 193,   "C/D EPS status",               1,  8,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 194,   "E EPS status",                 1,  8,  2, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 195,   "Vacuum status",                1,  8,  3, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 200,   "E vert. low power",            1,  8,  8, "Normal",          "NO_ALARM", "Low power",         "MINOR"}
{13IDA:, 201,   "E horiz. low power",           1,  8,  9, "Normal",          "NO_ALARM", "Low power",         "MINOR"}
{13IDA:, 202,   "C/D vert. low power",          1,  8, 10, "Normal",          "NO_ALARM", "Low power",         "MINOR"}
{13IDA:, 203,   "C/D horiz. low power",         1,  8, 11, "Normal",          "NO_ALARM", "Low power",         "MINOR"}
{13IDA:, 204,   "C/D Mono 111 position",        1,  8, 12, "Out",             "NO_ALARM", "In",                "MINOR"}
{13IDA:, 205,   "C/D Mono 311 position",        1,  8, 13, "Out",             "NO_ALARM", "In",                "MINOR"}
{13IDA:, 206,   "C/D Mono center position",     1,  8, 14, "Out",             "NO_ALARM", "In",                "MINOR"}
{13IDA:, 207,   "E viewer position",            1,  8, 15, "In",                 "MINOR", "Out",            "NO_ALARM"}
{13IDA:, 208,   "C/D viewer position",          1, 10,  0, "In",                 "MINOR", "Out",            "NO_ALARM"}
{13IDA:, 209,   "SSA viewer position",          1, 10,  1, "In",                 "MINOR", "Out",            "NO_ALARM"}
{13IDA:, 210,   "He gas farm pressure (left)"   1, 10,  2, "Ok",              "NO_ALARM", "<200 psig",         "MAJOR"}
{13IDA:, 211,   "He gas farm pressure (right)"  1, 10,  3, "Ok",              "NO_ALARM", "<200 psig"          "MAJOR"}
{13IDA:, 212,   "C/D QBPM position",            1, 10,  4, "In",                 "MINOR", "Out",            "NO_ALARM"}
{13IDA:, 213,   "C/D Pump Status",              1, 10,  5, "Off",                "MAJOR", "On",             "NO_ALARM"}
{13IDA:, 214,   "C/D Vent Status",              1, 10,  6, "Closed",          "NO_ALARM", "Open",              "MAJOR"}
{13IDA:, 215,   "E Pump Status",                1, 10,  7, "Off",                "MAJOR", "On",             "NO_ALARM"}
{13IDA:, 216,   "E Vent Status",                1, 10,  8, "Closed",          "NO_ALARM", "Open",              "MAJOR"}
# Air pressure not currently used
#{13IDA:, 217,   "Air pressure status",          1, 10,  9, "Low",                "MAJOR", "OK",             "NO_ALARM"}
{13IDA:, 218,   "SSA viewer",                   1, 10, 10, "OK",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 219,   "SSA viewer (latched)",         1, 10, 11, "OK",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 220,   "Battery switch Status",        1, 10, 12, "Battery A",       "NO_ALARM", "Battery B",      "NO_ALARM"}
{13IDA:, 221,   "IDD CO2 laser water",          1, 10, 13, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 222,   "IDD CO2 polarizer water",      1, 10, 14, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 223,   "IDD LVP slits water",          1, 10, 15, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 224,   "IDD fiber laser water",        1, 12,  0, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 225,   "IDD DAC stage water",          1, 12,  1, "Ok",              "NO_ALARM", "Fault",             "MAJOR"}
{13IDA:, 226,   "IDE gas pressure (left)"       1, 12,  2, "Ok",              "NO_ALARM", "Low",               "MAJOR"}
{13IDA:, 227,   "IDE gas pressure (right)"      1, 12,  3, "Ok",              "NO_ALARM", "Low"                "MAJOR"}
{13IDA:, 228,   "E Mono E-Stop"                 1, 12,  4, "Fault",              "MAJOR", "OK"              "NO_ALARM"}
}
