file "$(CARS)/CARSApp/Db/eps_valves.db"
{
pattern
# OS=Opened status
# CS=Closed status
# OP=Open permit
# CP=Close permit
# OR=Open request
# CR=Close request
{P,       NAME,       DESC,   A_OS,C_OS,S_OS,A_CS,C_CS,S_CS,A_OP,C_OP,S_OP,A_CP,C_CP,S_CP,A_OR,C_OR,S_OR,A_CR,C_CR,S_CR}
{13IDA:,  "V2", "Valve V2",     1,   2,   0,   1,   2,   1,   1,   4,   0,   1,   4,   1,   0,   5,   0,   0,   5,   1}
{13IDA:,  "V3", "Valve V3",     1,   2,   2,   1,   2,   3,   1,   4,   2,   1,   4,   3,   0,   5,   2,   0,   5,   3}
{13IDA:,  "V4", "Valve V4",     1,   2,   4,   1,   2,   5,   1,   4,   4,   1,   4,   5,   0,   5,   4,   0,   5,   5}
{13IDA:,  "V5", "Valve V5",     1,   2,   6,   1,   2,   7,   1,   4,   6,   1,   4,   7,   0,   5,   6,   0,   5,   7}
{13IDA:,  "V6", "Valve V6",     1,   2,   8,   1,   2,   9,   1,   4,   8,   1,   4,   9,   0,   5,   8,   0,   5,   9}
{13IDA:,  "V7", "Valve V7",     1,   2,  10,   1,   2,  11,   1,   4,  10,   1,   4,  11,   0,   5,  10,   0,   5,  11}
{13IDA:,  "V8", "Valve V8",     1,   2,  12,   1,   2,  13,   1,   4,  12,   1,   4,  13,   0,   5,  12,   0,   5,  13}
}          
