file CARSApp/Db/mono_pid_control.db, top
{
pattern
{P,      PID,       INP,                   OUT,      LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,   KI,   KD,  SCAN,          SHUT_STATUS,  SHUT_CONTROL}
{13IDA:, mono_pid1, 13IDC:IP330_2.VAL, 13IDA:DAC1_3,   0,      5,    -5,    5,     3,     0.2,  3.,   0.,  ".1 second",13IDA:eps_mbbi4, 13IDA:OpenFEShutter }
}

#file ip330App/Db/fast_pid_control.db, ip330
#{
#pattern
#{P,      PID,   C,  SERVER,     LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,  KI,   KD,  DT, SCAN}
#{13LAB:, PID2,  1, Ip330PID_1,  0,    65535,  1024,  3072,   3,    .02,  100.,  0., .001, ".1 second"}
#}
