# This is the pitch feedback
file "$(CARS)/CARSApp/Db/mono_pid_control.db"
{
pattern
{P,      PID,       INP,                   OUT,      LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,   KI,   KD,  SCAN,          SHUT_STATUS}
{13IDA:, mono_pid1, 13IDC:IP330_2.VAL, 13IDA:DAC1_2,   0,      5,    -5,    5,     3,     0.2,  3.,   0.,  ".1 second", 13IDA:eps_mbbi4}
}

# This is the roll feedback
file "$(CARS)/CARSApp/Db/mono_pid_control.db"
{
pattern
{P,      PID,       INP,                   OUT,      LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,   KI,   KD,  SCAN,          SHUT_STATUS}
{13IDA:, mono_pid2, 13IDC:IP330_5.VAL, 13IDA:DAC1_3,   0,      5,    -5,    5,     3,     0.2,  3.,   0.,  ".1 second", 13IDA:eps_mbbi4}
}

file "$(CARS)/CARSApp/Db/mono_fast_pid_control.db"
{
pattern
{P,                 PID,   INPUT, ICHAN,           IDATA,      IINTERVAL, OUTPUT, OCHAN,         ODATA,   LOPR,  HOPR, DRVL,  DRVH,  PREC,   KP,    KI,  KD,   DT,        SCAN}
{13IDA:, fast_pitch_pid,  APS_EM,     9,  QE_DOUBLE_DATA,  QE_SAMPLE_TIME,   DAC1,     1,  DOUBLE_DATA, -32767, 32767,    0,  4095,     3,  .02,  100.,  0., .001, ".1 second"}
{13IDA:,  fast_roll_pid,  APS_EM,    10,  QE_DOUBLE_DATA,  QE_SAMPLE_TIME,   DAC1,     2,  DOUBLE_DATA, -32767, 32767,    0,  4095,     3,  .02,  100.,  0., .001, ".1 second"}
}
