file "$(ASYN)/db/asynRecord.db"
{
pattern
{P            R         PORT    ADDR    OMAX  IMAX}
{13Laser:     serial1   serial1    0     80  80}
{13Laser:     serial2   serial2    0     80  80}
{13Laser:     serial3   serial3    0     80  80}
{13Laser:     serial4   serial4    0     80  80}
{13Laser:     serial5   serial5    0     80  80}
}
