file "$(CARS)/db/asynMotor.db"
{
pattern
{P,         M,     DTYP,     PORT,   ADDR,   DESC,        EGU,    DIR,  VELO,   VBAS,   ACCL,  BDST,   BVEL,   BACC,   SREV,    UREV,  PREC,  DHLM, DLLM}
# Note: this UT100 stage seems strange, it is moving twice as far per step as all others, so UREV=-.2, rather than -.1
{13Laser:, m1, "asynMotor", "MCB4B_1", 0, "Vertical Y",    mm,    Pos,   0.07,   .01,    .07,     0,      1,     .2,     48,  .001176,   3,   12.4,  -12.4}
{13Laser:, m2, "asynMotor", "MCB4B_1", 1, "HoriZontal X",  mm,    Neg,   0.2,    .01,     .2,     0,      1,     .2,     48,  .003546,   3,   12.4,  -12.4}
{13Laser:, m3, "asynMotor", "MCB4B_1", 2, "Focus Z",       mm,    Pos,   0.2,    .01,     .2,     0,      1,     .2,     48,  .003546,   3,   12.4,  -12.4}
{13Laser:, m4, "asynMotor", "MCB4B_1", 3, "Shaper",        mm,    Pos,   2.0,    .1,      .5,     0,      1,     .2,    200,     -.10,   3,    100,      0}
{13Laser:, m5, "asynMotor", "Agilis1", 0, "Y piezo",       mm,    Neg,    0.5,   0.1,     .25,    0,      1,     .2,      1,  0.0001,    4,    28,    -1}
{13Laser:, m6, "asynMotor", "MCB4B_2", 1, "rotary",       deg,    Pos,    10.,   0.05,    .5,     0,      1,     .2,    400,       4.,   3,    360,   -360}
{13Laser:, m7, "asynMotor", "MCB4B_2", 2, "rotary",       deg,    Pos,    10.,   0.05,    .5,     0,      1,     .2,    400,       4.,   3,    360,   -360}
{13Laser:, m8, "asynMotor", "MCB4B_2", 3, "rotary",       deg,    Pos,    10.,   0.05,    .5,     0,      1,     .2,    400,       4.,   3,    360,    -360}
}

