file "$(SSCAN)/db/scanParms.db"
{
{P=13Laser:,SCANREC=13Raman:scan1,Q=m1,POS=m1.VAL,RDBK=m1.RBV}
{P=13Laser:,SCANREC=13Raman:scan1,Q=m2,POS=m2.VAL,RDBK=m2.RBV}
{P=13Laser:,SCANREC=13Raman:scan1,Q=m3,POS=m3.VAL,RDBK=m3.RBV}
}
