file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,         M,      DTYP,        C, S,  DESC,    EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,         PREC, DHLM, DLLM}
{13xps3:,   m1,   "XPSC8",       0, 0,  "X",      mm,    Pos,     .4,     .1,     1.,    0,      1,     .2,    1,     0.000048828,    4,   12,    0}
{13xps3:,   m2,   "XPSC8",       0, 1,  "Y",      mm,    Pos,     .2,     .1,     1.,    0,      1,     .2,    1,     0.000147750,    4,   25,    0}
}

