file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,         M,      DTYP,       PORT, ADDR,  DESC,     EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,    PREC, DHLM, DLLM}
{13XPS:,   m1,   "asynMotor",   XPS1, 0,     "M1",      mm,    Pos,     5,     .1,     .2,    0,      1,     .2,    1,     0.0001,    4,   75,    -75}
{13XPS:,   m2,   "asynMotor",   XPS1, 1,     "M2",      mm,    Pos,     5,     .1,     .2,    0,      1,     .2,    1,     0.0001,    4,   25,    -25}
{13XPS:,   m3,   "asynMotor",   XPS1, 2,     "M3",      mm,    Pos,     5,     .1,     .2,    0,      1,     .2,    1,     0.0001,    4,   25,    -25}
}

file "$(MOTOR)/motorApp/Db/profileMoveController.template"
{
pattern
{P,       R,      PORT, NAXES, NPOINTS, NPULSES, TIMEOUT}
{13XPS:,  Prof1:, XPS1,     3,    2000,    2000,       1}
}

file "$(MOTOR)/db/profileMoveControllerXPS.template"
{
pattern
{P,         R,    PORT, NAXES, NPOINTS, NPULSES, TIMEOUT}
{13XPS:,  Prof1:, XPS1,     3,    2000,    2000,       1}
}

file "$(MOTOR)/motorApp/Db/profileMoveAxis.template"
{
pattern
{P,       R,      M,  PORT, ADDR,NPOINTS, NREADBACK,    MOTOR, PREC, TIMEOUT}
{13XPS:,  Prof1:, 1,  XPS1,    0,   2000,      2000, 13XPS:m1,   4,       1}
{13XPS:,  Prof1:, 2,  XPS1,    1,   2000,      2000, 13XPS:m2,   4,       1}
{13XPS:,  Prof1:, 3,  XPS1,    2,   2000,      2000, 13XPS:m3,   4,       1}
}

file "$(MOTOR)/motorApp/Db/profileMoveAxisXPS.template"
{
pattern
{P,       R,      M,  PORT, ADDR,NPOINTS, NREADBACK, PREC, TIMEOUT}
{13XPS:,  Prof1:, 1,  XPS1,    0,   2000,      2000,    4,       1}
{13XPS:,  Prof1:, 2,  XPS1,    1,   2000,      2000,    4,       1}
{13XPS:,  Prof1:, 3,  XPS1,    2,   2000,      2000,    4,       1}
}
