file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13GE3:,SCANREC=13GE3:scan1,Q=m1,POS=m1.VAL,RDBK=m1.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m2,POS=m2.VAL,RDBK=m2.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m3,POS=m3.VAL,RDBK=m3.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m4,POS=m4.VAL,RDBK=m4.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m5,POS=m5.VAL,RDBK=m5.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m6,POS=m6.VAL,RDBK=m6.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m7,POS=m7.VAL,RDBK=m7.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m8,POS=m8.VAL,RDBK=m8.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m9,POS=m9.VAL,RDBK=m9.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m10,POS=m10.VAL,RDBK=m10.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m11,POS=m11.VAL,RDBK=m11.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m12,POS=m12.VAL,RDBK=m12.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m13,POS=m13.VAL,RDBK=m13.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m14,POS=m14.VAL,RDBK=m14.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m15,POS=m15.VAL,RDBK=m15.RBV}
{P=13GE3:,SCANREC=13GE3:scan1,Q=m16,POS=m16.VAL,RDBK=m16.RBV}
}
