file "$(STD)/db/pid_control.db"
{
pattern
{P,         PID,  INP,                                  OUT,                       LOPR,  HOPR,  DRVL, DRVH, PREC,   KP,    KI,   KD,   SCAN}
{13PECELL:, PID1, 13PECELL:PS66xxA:PS1:SR:powerOutPut, 13PECELL:PS66xxA:PS1:setV,    0,   100,     0,  100,    3,  .001,    .8,   0.,  ".1 second"}
}
