# motor template file for 13-ID-C
#
# This IOC controls 4 Galil DMC-4183 controllers and 2 Newport XPS controllers
#
# Motor Numbers     Type        Port   Driver Type
# -------------   ----------   -------  -----------
#   1-8           Galil DMC    GALIL3   Galil D4040
#   9-16          Galil DMC    GALIL1   Step Pak, Patch Panel K
#  17-24          Galil DMC    GALIL4   Galil D4040
#  25-32          Newport-XPS   XPS1    Diffractometer rotation
#  33-40          Newport-XPS   XPS2    Diffractometer base
#  41-56          Undefined, previously BP8000 for inelastic analyzers
#  57-64          Galil DMC    GALIL2   Step Pak, Patch Panel C
# -------------   ----------   -------  -----------
#

file "$(CARS)/db/galil_motor.template"
{
pattern
{P,       M,    DTYP,      CTRL, PORT,  ADDR,  DESC,              EGU,     DIR,  VELO, VBAS, ACCL, BDST,BVEL,BACC, SREV,UREV,PREC,DHLM,DLLM}
# BP-8000 #1, Diffractometer bench slits	
{13IDC:,  m1, "asynMotor", Galil3:, GALIL3, 0, "Hp UpStream",      microns, Pos, 250,  100, .2,  0,  200,  .2,  2064,   250,   1,   5100, -100}
{13IDC:,  m2, "asynMotor", Galil3:, GALIL3, 1, "Hw UpStream",      microns, Pos, 200,  100, .4,  0,  100,  .2,  2064,   635,   1,  10100, -100}
{13IDC:,  m3, "asynMotor", Galil3:, GALIL3, 2, "Vp UpStream",      microns, Neg, 100,   50, .2,  0,  200,  .2,  2064,   250,   1,   5100, -100}
{13IDC:,  m4, "asynMotor", Galil3:, GALIL3, 3, "Vw UpStream",      microns, Pos, 200,  100, .4,  0,  100,  .2,  2064,   635,   1,  10100, -100}
{13IDC:,  m5, "asynMotor", Galil3:, GALIL3, 4, "Hw DownStream",    microns, Pos, 200,  100, .2,  0,  100,  .2,  2571,  -700,   0,   5100, -100}
{13IDC:,  m6, "asynMotor", Galil3:, GALIL3, 5, "Hp DownStream",    microns, Pos, 100,  100, .2,  0,  100,  .2,  2571,  -350,   0,  10100, -100}
{13IDC:,  m7, "asynMotor", Galil3:, GALIL3, 6, "Vw DownStream",    microns, Pos, 200,  100, .2,  0,  100,  .2,  2571,  -700,   0,   5100, -100}
{13IDC:,  m8, "asynMotor", Galil3:, GALIL3, 7, "Vp DownStream",    microns, Neg, 100,  100, .2,  0,  100,  .2,  2571,  -350,   0,  10100, -100}

# Patch Panel K
{13IDC:,  m9, "asynMotor", Galil1:, GALIL1, 0, "Shutter X",         microns, Pos, 200.0,   10,   .2,    0,    1,   .2,   48,   3.546,    1,  8e3,    0}
{13IDC:, m10, "asynMotor", Galil1:, GALIL1, 1, "Shutter Y",         microns, Pos, 200.0,   10,   .2,    0,    1,   .2,   48,   3.546,    1,  8e3,    0}
{13IDC:, m11, "asynMotor", Galil1:, GALIL1, 2,  "Film Gap",         microns, Neg, 200.0,   10,   .2,    0,    1,   .2,   48,   3.546,    1,  8e3,    0}
{13IDC:, m12, "asynMotor", Galil1:, GALIL1, 3,  "Vial_Rot",             deg, Pos,   15.,  0.0,   .5,    0,    1.,   .2, 200,   -0.10,    3,   360, -360} 
{13IDC:, m13, "asynMotor", Galil1:, GALIL1, 4,  "Vortex X",              mm, Pos,   10.,   1.,   .5,    0,    5,   .5,  400,    0.52,    4,   80,  -80}
{13IDC:, m14, "asynMotor", Galil1:, GALIL1, 5,  "Vortex Y",              mm, Pos,   10.,   1.,   .5,    0,    5,   .5,  400,    0.52,    4,   80,  -80}
{13IDC:, m15, "asynMotor", Galil1:, GALIL1, 6,  "Vortex Z",              mm, Pos,   10.,   1.,   .5,    0,    5,   .5,  400,    0.52,    4,   80,  -80}
{13IDC:, m16, "asynMotor", Galil1:, GALIL1, 7,     "CRL Y",              mm, Pos,  .100,  .01  , .2,    0,    1,   .2,   48, .003546,    3,    8,    0}

{13IDC:, m17, "asynMotor", Galil4:, GALIL4, 0, "Inboard Det",             mm,  Pos,    1.5,   .01,   .2,    0,    1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13IDC:, m18, "asynMotor", Galil4:, GALIL4, 1, "Outboard Det",            mm,  Pos,    1.5,   .01,   .2,    0,    1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13IDC:, m19, "asynMotor", Galil4:, GALIL4, 2, "Top Det",                 mm,  Neg,    1.5,   .01,   .2,    0,    1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13IDC:, m20, "asynMotor", Galil4:, GALIL4, 3, "Bottom Det",              mm,  Neg,    1.5,   .01,   .2,    0,    1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13IDC:, m21, "asynMotor", Galil4:, GALIL4, 4, "Pinhole Pitch",          rev,  Pos,     .1,     0,   .2,    0,   .1,   .2,   6768,            1,    4,     30,    -30}
{13IDC:, m22, "asynMotor", Galil4:, GALIL4, 5, "Pinhole Yaw",            rev,  Pos,     .1,     0,   .2,    0,   .1,   .2,   6768,            1,    4,     30,    -30}
{13IDC:, m23, "asynMotor", Galil4:, GALIL4, 6, "unused",                 rev,  Pos,     .1,     0,   .2,    0,   .1,   .2,   6768,            1,    4,     30,    -30}
{13IDC:, m24, "asynMotor", Galil4:, GALIL4, 7, "unused",                 rev,  Pos,     .1,     0,   .2,    0,   .1,   .2,   6768,            1,    4,     30,    -30}

# PE Cell motors panel C:
{13IDC:, m57, "asynMotor",  Galil2:, GALIL2, 0,  "PE Cleanup X",          mm, Pos,   .100, .01, .2,  0,  1,   .2,    48, .003546,  3,    8,    0}
{13IDC:, m58, "asynMotor",  Galil2:, GALIL2, 1,  "PE Cleanup Y",          mm, Neg,   .100, .01, .2,  0,  1,   .2,    48, .003546,  3,    8,    0}
{13IDC:, m59, "asynMotor",  Galil2:, GALIL2, 2,  "PE Cleanup Z",          mm, Neg,     2., .01, .5,  0,  5,   .5,   400,    .200,  3,  100,    0}
{13IDC:, m60, "asynMotor",  Galil2:, GALIL2, 3,  "PE Cell X",             mm, Pos,     2.,  1., .5,  0,  5,  1.0,  1600,     1.0,  3,   80,  -80}
{13IDC:, m61, "asynMotor",  Galil2:, GALIL2, 4,  "PE Cell Y",             mm, Pos,     .2, .03, .5,  0, 1.,   .2,   400,    -.02,  3,   40,    0}
{13IDC:, m62, "asynMotor",  Galil2:, GALIL2, 5,  "PE Cell Z",             mm, Pos,     2.,  1., .5,  0,  5,  1.0,  1600,     1.0,  3,   80,  -80}
{13IDC:, m63, "asynMotor",  Galil2:, GALIL2, 6,  "CRL X",                 mm, Neg,   .100, .01, .2,  0,  1,   .2,    48, .003546,  3,    8,    0}
{13IDC:, m64, "asynMotor",  Galil2:, GALIL2, 7,  "CRL Y",                 mm, Pos,   .100, .01, .2,  0,  1,   .2,    48, .003546,  3,    8,    0}
}

# Horizontal detector slit
file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,    mXp,  mXn}
{13IDC:, Slit1H,  m18,  m17}
}

# Vertical detector slit
file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,    mXp,  mXn}
{13IDC:, Slit1V,  m19,  m20}
}
