#file "laser_pid.db"
file "$(STD)/db/pid_control.db"
{
pattern
{P,      PID,       INP,             OUT,    LOPR,  HOPR,  DRVL, DRVH, PREC,   KP,    KI,    KD,  SCAN}
{13BMD:, PID3,  13BMD:IP330_3.VAL,  13BMD:m76.RLV,   0,     10,   -20,   20,    3,    1,     1,     0.,  ".1 second"}
}

