file "$(ASYN)/db/asynRecord.db"
{
pattern
{P            R         PORT       ADDR    OMAX  IMAX}
{13GasLoad:   serial1   serial1    0     80  80}
{13GasLoad:   serial2   serial2    0     80  80}
#{13GasLoad:   serial3   serial3    0     80  80}
{13GasLoad:   serial4   serial4    0     80  80}
}
