# Motor template file for gas loading system

file "$(CARS)/db/galil_motor.template"
{
pattern
{P,          M,      DTYP,      CTRL,   PORT, ADDR,  DESC,              EGU,      DIR,    VELO,   VBAS,   ACCL, BDST,   BVEL,  BACC,  SREV,      UREV,  PREC,  DHLM, DLLM}
# m1 and m2 not used because cables are too short
{13GasLoad:, m1, "asynMotor",  Galil1:, GALIL1, 0, "Motor1",             mm,      Pos,    0.2,     10,     .2,    0,     10,     .2, 327680,      0.5,    3,  27000, -150}
{13GasLoad:, m2, "asynMotor",  Galil1:, GALIL1, 1, "Motor2",             mm,      Pos,    0.2,     10,     .2,    0,     10,     .2, 327680,      0.5,    3,  27000, -150}
# These are Newport CMA stages.  They have 20 steps/rev, 0.5mm leadscrew, 256:1 gear reducer.  We are half-stepping
{13GasLoad:, m3, "asynMotor",  Galil1:, GALIL1, 2, "Laser_X",            mm,      Pos,    0.2,     10,     .2,    0,     10,     .2, 327680,      0.5,    3,  27000, -150}
{13GasLoad:, m4, "asynMotor",  Galil1:, GALIL1, 3, "Laser_Z",            mm,      Pos,    0.2,     10,     .2,    0,     10,     .2, 327680,      0.5,    3,  27000, -150}
{13GasLoad:, m5, "asynMotor",  Galil1:, GALIL1, 4, "Focus",              mm,      Pos,    0.2,     10,     .2,    0,     10,     .2, 131946,      1.0,    3,  27000, -150}
{13GasLoad:, m6, "asynMotor",  Galil1:, GALIL1, 5, "Motor6",             mm,      Pos,    0.2,     10,     .2,    0,     10,     .2, 327680,      0.5,    3,  27000, -150}
# m7 and m8 are the rotary feedthroughs for the gas loading apparatus.
# User units are revolutions of the feedthrough shaft.  Assume half-step motor and 50:1 gear reducer.
# m8 has opposite sign from M7, so they both tighten with positive move
{13GasLoad:, m7, "asynMotor",  Galil1:, GALIL1, 6, "Feedthrough 1",     rev,      Pos,    .02,    .001,    .1,    0,      1,     .2,  12800,     -.02,    4,     20,  -20}
{13GasLoad:, m8, "asynMotor",  Galil1:, GALIL1, 7, "Feedthrough 2",     rev,      Pos,    .02,    .001,    .1,    0,      1,     .2,  12800,     -.02,    4,     20,  -20}
}

# Pseudomotors to move motors together and opposed
file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,           M,   DINP,                          OUT,                           RDBL,                                 STOO,                           DESC,        EGU,  DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}

{13GasLoad:,  pm1, "13GasLoad:Cell:Done NPP NMS", "13GasLoad:pm1DVAL.VAL PP MS", "13GasLoad:Cell:Readback.G NPP NMS", "13GasLoad:Cell:Stop PP MS",    "Together",   rev,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,     1.0,  4,    100, -100}
{13GasLoad:,  pm2, "13GasLoad:Cell:Done NPP NMS", "13GasLoad:pm2DVAL.VAL PP MS", "13GasLoad:Cell:Readback.H NPP NMS", "13GasLoad:Cell:Stop PP MS",    "Opposed",    rev,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,     1.0,  4,    100, -100}
}
file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,          T,     SUM, DIFF,   M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13GasLoad:, Cell:, pm1, pm2,    m7.VAL,   m7.RBV,  m8.VAL,  m8.RBV,  m7.STOP,  m7.DMOV,  m8.STOP,  m8.DMOV, 4}
}
