# This database handles the gas valves.  It only allows sensible combinations
# of valve positions
# The following are the bit masks for the supply valve positions
# 0x10  Ne
# 0x20  Vent
# 0x40  He
# 0x80  User

# The following are the bit masks for the lecture valve positions
# 0x01  Ne
# 0x02  Vent1
# 0x04  He
# 0x08  Vent2

record(mbbo,"$(P)$(R)") {
    field(DTYP,"asynUInt32Digital")
    field(OUT, "@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(NOBT,"8")
    field(ZRST,"Helium/Helium")
    field(ZRVL,"0x44")
    field(ONST,"Helium/Vent2")
    field(ONVL,"0x48")
    field(TWST,"Neon/Vent2")
    field(TWVL,"0x18")
    field(THST,"Neon/Neon")
    field(THVL,"0x11")
    field(FRST,"Neon/Vent1")
    field(FRVL,"0x12")
    field(FVST,"Vent/Vent1")
    field(FVVL,"0x22")
    field(SXST,"Helium/Vent1")
    field(SXVL,"0x42")
}
