# This database handles the gas valves.  It only allows sensible combinations
# of valve positions
# The following are the bit masks for the lecture valve positions
# 0x01  Ne
# 0x02  Vent1
# 0x04  He
# 0x08  Vent2

record(mbbi,"$(P)$(R)") {
    field(DTYP,"asynUInt32Digital")
    field(INP, "@asynMask($(PORT) $(OFFSET) $(MASK))")
    field(NOBT,"4")
    field(SCAN,"I/O Intr")
    field(ZRST,"Moving")
    field(ZRVL,"0x0")
    field(ONST,"Neon")
    field(ONVL,"0x1")
    field(TWST,"Vent1")
    field(TWVL,"0x2")
    field(THST,"Helium")
    field(THVL,"0x4")
    field(FRST,"Vent2")
    field(FRVL,"0x8")
}
