file "$(CARS)/db/motor.db"
{
pattern
{P,          M,      DTYP,      C, S,  DESC,            EGU,   DIR,     VELO,   VBAS,    ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,  PREC,  DHLM, DLLM}
# m1 and m2 are the rotary feedthroughs for the gas loading apparatus.
# User units are revolutions of the feedthrough shaft.  Assume half-step motor and 50:1 gear reducer.
# M2 has opposite sign from M1, so they both tighten with positive move
{13GasLoad:, m1, "ACS MCB-4B",  0, 0, "Feedthrough 1",  rev,    Pos,    .05,   .001,     .1,    0,      1,     .2,    400,     -.02,    4,     20,  -20}
{13GasLoad:, m2, "ACS MCB-4B",  0, 1, "Feedthrough 2",  rev,    Pos,    .05,   .001,     .1,    0,      1,     .2,    400,     -.02,    4,     20,  -20}
# These are Newport CMA stages.  They have 20 steps/rev, 0.5mm leadscrew, 256:1 gear reducer.  We are half-stepping
{13GasLoad:, m3, "ACS MCB-4B",  0, 2, "Laser_X",    microns,    Pos,   200.,     10,     .2,    0,     10,     .2,  10240,     500,    1,  27000, -150}
{13GasLoad:, m4, "ACS MCB-4B",  0, 3, "Laser_Z",    microns,    Pos,   200.,     10,     .2,    0,     10,     .2,  10240,     500,    1,  27000, -150}
}

# Pseudomotors to move motors together and opposed
file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,           M,   DINP,                          OUT,                           RDBL,                                 STOO,                           DESC,        EGU,  DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}

{13GasLoad:,  pm1, "13GasLoad:Cell:Done NPP NMS", "13GasLoad:pm1DVAL.VAL PP MS", "13GasLoad:Cell:Readback.G NPP NMS", "13GasLoad:Cell:Stop PP MS",    "Together",   rev,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,     1.0,  4,    100, -100}
{13GasLoad:,  pm2, "13GasLoad:Cell:Done NPP NMS", "13GasLoad:pm2DVAL.VAL PP MS", "13GasLoad:Cell:Readback.H NPP NMS", "13GasLoad:Cell:Stop PP MS",    "Opposed",    rev,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,     1.0,  4,    100, -100}
}
file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,          T,     SUM, DIFF,   M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13GasLoad:, Cell:, pm1, pm2,    m1.VAL,   m1.RBV,  m2.VAL,  m2.RBV,  m1.STOP,  m1.DMOV,  m2.STOP,  m2.DMOV, 4}
}

