file "$(DXP)/db/dxpMED.db"
{
pattern
{P,           MCAALL,    INP             } 
{13GE2:med:   mcaAll,    "@asyn(DXP1,-1)"}
}

file "$(MCA)/db/simple_mca.db"
{
pattern
{P,           M,       DTYP,         INP          PREC,  CHANS}
{13GE2:med:   mca1  "asynMCA",   "@asyn(DXP1,0)",   2,     2048}
{13GE2:med:   mca2  "asynMCA",   "@asyn(DXP1,1)",   2,     2048}
{13GE2:med:   mca3  "asynMCA",   "@asyn(DXP1,2)",   2,     2048}
{13GE2:med:   mca4  "asynMCA",   "@asyn(DXP1,3)",   2,     2048}
{13GE2:med:   mca5  "asynMCA",   "@asyn(DXP1,4)",   2,     2048}
{13GE2:med:   mca6  "asynMCA",   "@asyn(DXP1,5)",   2,     2048}
{13GE2:med:   mca7  "asynMCA",   "@asyn(DXP1,6)",   2,     2048}
{13GE2:med:   mca8  "asynMCA",   "@asyn(DXP1,7)",   2,     2048}
{13GE2:med:   mca9  "asynMCA",   "@asyn(DXP1,8)",   2,     2048}
{13GE2:med:   mca10 "asynMCA",   "@asyn(DXP1,9)",   2,     2048}
{13GE2:med:   mca11 "asynMCA",   "@asyn(DXP1,10)",  2,     2048}
{13GE2:med:   mca12 "asynMCA",   "@asyn(DXP1,11)",  2,     2048}
{13GE2:med:  mcaAll "asynMCA",   "@asyn(DXP1,-1)",  2,     2048}
}

# DXP records
file "$(DXP)/db/dxp2x_reset.db"
{
pattern
{P,           R,        INP       }
{13GE2:med:   dxp1   "@asyn(DXP1,0)"}
{13GE2:med:   dxp2   "@asyn(DXP1,1)"}
{13GE2:med:   dxp3   "@asyn(DXP1,2)"}
{13GE2:med:   dxp4   "@asyn(DXP1,3)"}
{13GE2:med:   dxp5   "@asyn(DXP1,4)"}
{13GE2:med:   dxp6   "@asyn(DXP1,5)"}
{13GE2:med:   dxp7   "@asyn(DXP1,6)"}
{13GE2:med:   dxp8   "@asyn(DXP1,7)"}
{13GE2:med:   dxp9   "@asyn(DXP1,8)"}
{13GE2:med:   dxp10  "@asyn(DXP1,9)"}
{13GE2:med:   dxp11  "@asyn(DXP1,10)"}
{13GE2:med:   dxp12  "@asyn(DXP1,11)"}
}
