file CARSApp/Db/singleDAC.db, top
{
pattern
{P,      D, N, C, IPSLOT, S,  EGUL, DRVL, LOPR, EGUF, DRVH, HOPR, PREC, LINR,  VAL}
{13BMD:, 1, 1, 1,   d,    0, -10.0,  0.,   0.,   10.,  10,  10,    3,  LINEAR, 0.0}
}
