file CARSApp/Db/singleDAC.db, top
{
pattern
{P,      D, N, C, IPSLOT, S,  EGUL, DRVL, LOPR, EGUF, DRVH, HOPR, PREC, LINR,  VAL}

# Channel 1 is used for LVP furnace control - set range  0V to +10V = 0V to 10V
{13BMD:, 1, 1, 0,   d,    0, -10.0,  0.,   0.,   10.,  10,  10,    3,  LINEAR, 0.0}

# Channel 8 is used for LVP pressure speed control - set range  0V to +10V=0 to 100%
#{13BMD:, 1, 8, 0,   d,    7, -100.0,  0.,   0.,  100., 100.,  100.,    2,  LINEAR, 0.0}
#}

# Channel 6, test - set range  -10V to +10V = -100% to 100%
{13BMD:, 1, 6, 0,   d,    5, -100.0,  -100.,  -100.,  100., 100.,  100.,    2,  LINEAR, 0.}

# Channel 8 is used for LVP pressure speed control - set range  -10V to +10V = -100% to 100%
{13BMD:, 1, 8, 0,   d,    7, -100.0,  -100.,  -100.,  100., 100.,  100.,    2,  LINEAR, 0.}
}
