file "$(STD)/db/pid_control.db"
{
pattern
{P,      PID,       INP,                   OUT,       LOPR,  HOPR,  DRVL, DRVH, PREC,   KP,    KI,   KD,   SCAN}
{13BMD:, PID2,  13BMD:DMM3Ch4_calc.VAL, 13BMD:DAC1_2,   0,    100,     0,  100,   3,    .1,     1.,   0.,  ".5 second"}
}
