file ipApp/Db/IpUnidigLi.db, ip
{
pattern
{P,       R,       C,   IPSLOT}
{13BMD:,  Unidig,  0,   c}
}

file ipApp/Db/IpUnidigBi.db, ip
{
pattern
{P,       R,       BIT}
{13BMD:,  Unidig,  0}
{13BMD:,  Unidig,  1}
{13BMD:,  Unidig,  2}
{13BMD:,  Unidig,  3}
{13BMD:,  Unidig,  4}
{13BMD:,  Unidig,  5}
{13BMD:,  Unidig,  6}
{13BMD:,  Unidig,  7}
{13BMD:,  Unidig,  8}
{13BMD:,  Unidig,  9}
{13BMD:,  Unidig,  10}
{13BMD:,  Unidig,  11}
{13BMD:,  Unidig,  12}
{13BMD:,  Unidig,  13}
{13BMD:,  Unidig,  14}
{13BMD:,  Unidig,  15}
{13BMD:,  Unidig,  16}
{13BMD:,  Unidig,  17}
{13BMD:,  Unidig,  18}
{13BMD:,  Unidig,  19}
{13BMD:,  Unidig,  20}
{13BMD:,  Unidig,  21}
{13BMD:,  Unidig,  22}
{13BMD:,  Unidig,  23}
}

file ipApp/Db/IpUnidigBo.db, ip
{
pattern
{P,       R,       C, IPSLOT, BIT}
{13BMD:,  Unidig,  0,    c,    0}
{13BMD:,  Unidig,  0,    c,    1}
{13BMD:,  Unidig,  0,    c,    2}
{13BMD:,  Unidig,  0,    c,    3}
{13BMD:,  Unidig,  0,    c,    4}
{13BMD:,  Unidig,  0,    c,    5}
{13BMD:,  Unidig,  0,    c,    6}
{13BMD:,  Unidig,  0,    c,    7}
{13BMD:,  Unidig,  0,    c,    8}
{13BMD:,  Unidig,  0,    c,    9}
{13BMD:,  Unidig,  0,    c,    10}
{13BMD:,  Unidig,  0,    c,    11}
{13BMD:,  Unidig,  0,    c,    12}
{13BMD:,  Unidig,  0,    c,    13}
{13BMD:,  Unidig,  0,    c,    14}
{13BMD:,  Unidig,  0,    c,    15}
{13BMD:,  Unidig,  0,    c,    16}
{13BMD:,  Unidig,  0,    c,    17}
{13BMD:,  Unidig,  0,    c,    18}
{13BMD:,  Unidig,  0,    c,    19}
{13BMD:,  Unidig,  0,    c,    20}
{13BMD:,  Unidig,  0,    c,    21}
{13BMD:,  Unidig,  0,    c,    22}
{13BMD:,  Unidig,  0,    c,    23}
}
