file CARSApp/Db/BM_LVP_pressure.db, top
{
pattern
{P,      R,      C, IPSLOT, CHAN, BAUD, PRTY, DBIT, SBIT, OUT,     KP,    KI,   KD,   SCAN}
{13BMD:, Press_, 0,    a,     4,  9600,  None, 7,     2, DAC1_8,   20,     0.,   0.,  ".5 second"}
}
