# This file contains the motor definitions for motors in 13BMD.
# Here is the correspondence of motor numbers, cards and patch panel positions
# These definitions were changed on Jan. 16, 2001 by Mark Rivers.  This was done for the following reasons:
#     - Move the motors which are on top of the XAS lift table (tomography, etc.) to patch panel A.  This is the
#       only panel (of A-C) which has black, fully wired motor cables, required for home and active limits
#     - Add a seventh OMS so that all 5 patch panels (A-E) and 2 BP8000 units can be used at once.
# This change was done mostly in hardware, so that the motor numbers for a given motor did not change.  The motor numbers which
# did change were the ones for the tomography stages (previously 25-28), the K/B mirrors (previously 33-40), 
# Bruker shutter and crystal X-Y (previously 41-44).
# Current definitions:
# Motors   Card    Patch panel  Common use
#  1-8       0        D         LVP lift table (1-6)
#  9-16      1        E         LVP detector (9,10,12,13,16), CCD detector (11,14,15)
#  17-24     2        B         XAS lift table (17-22), (23-24)free
#  25-32     3        C         LVP entrance slits (x,y: 26-27; open: 28), Hutch slits (29-32)
#  33-40     4        A         Tomography, XAS, DAC sample stages
#  41-48     5        NA        K/B mirror DC stages (33-36), K/B mirror stages (37-38), Bruker shutter (39-40)
#  49-56     6        NA        2nd CARS BP8000  add 20-Sept-2000  PJE
#  57-64     7        F         LVP CCD stage (57-59), D-DIA diff. rams (60: bottom; 61: top), LVP Ion Chamber (62), High-P Tomo Rot. (63: top; 64: bott; both bipolar), 
#  65-72     8	    X	        DAC Brill (65-68), 69 free, Detector position(70), microscope zoom(71), LVP slit laser (72) 
#  73-80     9        NA        3rd CARS BP8000  
#  81-88    10        CC        bipolar microstep stepPack (BM-C rack on roof, front of XAS lift table)

#19-Jul-2004,YW
# Previous definitions:
# Motors   Card    Patch panel  Common use
#  1-8       0        D         LVP lift table (1-6), LVP slits (7-8)
#  9-16      1        E         LVP detector (9,10,12,13,16), CCD detector (11,14,15)
#  17-24     2        A         XAS lift table (17-22), monochromator(23), sample Y (24)
#  25-32     3        C         Tomography, XAS, DAC sample stages (25-28), hutch slits (29-32)
#  33-40     4        NA        K/B mirror DC stages (33-36), K/B mirror stages (37-38), Bruker shutter (39-40)
#  41-48     5        NA        2nd CARS BP8000  add 20-Sept-2000  PJE

file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,       M,     DTYP,        C,  S,   DESC,              EGU,   DIR,   VELO,  VBAS,  ACCL,  BDST, BVEL, BACC, SREV,  UREV,  PREC,  DHLM,  DLLM}

{13BMD:,  m1, "OMS VME58",   0,  0, "Upstream Y",        mm,    Pos,   .2,   .005,   .2,    0.1,  .2,   .2,   400, -0.010583,3,     50,   -50}
{13BMD:,  m2, "OMS VME58",   0,  1, "Inboard Y",         mm,    Pos,   .2,   .005,   .2,    0.1,  .2,   .2,   400, -0.010583,3,     50,   -50}
{13BMD:,  m3, "OMS VME58",   0,  2, "Downstream Y",      mm,    Pos,   .2,   .005,   .2,    0.1,  .2,   .2,   400, -0.010583,3,     50,   -50}
{13BMD:,  m4, "OMS VME58",   0,  3, "Upstream X",        mm,    Pos,   .2,   .005,   .05,   0.1,  .2,   .05,  400,  0.066666,3,     30,   -30}
{13BMD:,  m5, "OMS VME58",   0,  4, "Inboard X",         mm,    Pos,   .2,   .005,   .05,   0.1,  .2,   .05,  400,  0.066666,3,     30,   -30}
{13BMD:,  m6, "OMS VME58",   0,  5, "Z drive",           mm,    Pos,   .2,   .005,   .05,   0.1,  .2,   .05,  400,  0.066666,3,     30,   -30}
# Add new phosphor motor, Bipolar driver card, Nov 21, 2012
{13BMD:,  m7, "OMS VME58",   0,  6, "Phosph. pos.",      mm,    Neg,   0.5,   0.1,   .2,    0,     1,    .2,  400,  2.0,     3,    150,     0}
{13BMD:,  m8, "OMS VME58",   0,  7, "2-theta",           mm,    Neg,   0.5,   0.1,   .2,    0,     1,    .2,  400,    .05,    3,      360,    -360}

{13BMD:,  m9, "OMS VME58",   1,  0, "Detect. X",         mm,    Neg,   .4,   .005,   .1,    0.1,  .4,   .1,   400, -5.08,    3,     50,    0}
{13BMD:,  m10, "OMS VME58",  1,  1, "Detect. Z",         mm,    Pos,   .4,   .005,   .1,    0.1,  .4,   .1,   400, -5.08,    3,     50,    0}
{13BMD:,  m16, "OMS VME58",  1,  7, "Detect. Y",         mm,    Pos,   .4,   .005,   .1,    0.1,  .4,   .1,   4000,  5.08,    3,     50,    0}
{13BMD:,  m12, "OMS VME58",  1,  3, "Simple Two Theta",  deg,   Pos,   .1,   .005,   .1,    0.1,  .2,   .1,   400,  2.00,    3,     10,   -3}
#{13BMD:,  m13, "OMS VME58",  1,  4, "Detector Phi",      deg,   Pos,    .1,  .005,   .1,    0.1,  .2,   .1,   400,  2.00,    3,     10,   -10}
#use m13 to test 250 ton press rotation motor, 1/24/2013, YBW
{13BMD:,  m13, "OMS VME58",  1,  4, "Press Phi",      deg,   Pos,    .1,  .005,   .1,    0.1,  .2,   .1,   200,  0.69230769,    3,     5,   -5}

#LVP ccd stage m11, m14 and 15
#changed by Vitali 11.14.05 for CDW experiment, !!!current 4A!!!
{13BMD:,  m11, "OMS VME58",  1,  2, "horisontal X1",     mm,    Pos,   0.2,   .1,    .25,   0.02,   1,     .2,     400,    .1,  3,      6,     -6}
#Claim back m14 (E6) for LVP phosphor Y, Oct 15, 07
{13BMD:,  m14, "OMS VME58",  1,  5, "Unused",            mm,    Neg,   1.,   1.0,    .5,    1.0,     1.0,     1.,     400,   .2,  3,      70,     0}
   
#changed by Vitali 11.14.05 for CDW experiment, !!!current 4A!!!
{13BMD:,  m15, "OMS VME58",  1,  6, "horisontal X2",     mm,    Pos,   0.2,   .1,    .25,   0.02,   1,     .2,     400,    .1,  3,      6,     -6}

#XAS (upstream) Lift Table
{13BMD:,  m17, "OMS VME58",   2,  0, "M2Y (downstream)",  mm,    Pos,   .2,  .005,   .2,     0,      1,     .2,     400,    0.023813,   3,      50,     0}
{13BMD:,  m18, "OMS VME58",   2,  1, "M1Y (inboard)",     mm,    Pos,   .2,  .005,   .2,     0,      1,     .2,     400,    0.023813,   3,      50,     0}
{13BMD:,  m19, "OMS VME58",   2,  2, "M0Y (outboard)",    mm,    Pos,   .2,  .005,   .2,     0,      1,     .2,     400,    0.023813,   3,      50,     0}
{13BMD:,  m20, "OMS VME58",   2,  3, "M0X (upstream)",    mm,    Pos,   .5,  .005,   .2,     0,      1,     .2,     400,   -0.035278,   3,      79,   -52}
{13BMD:,  m21, "OMS VME58",   2,  4, "M2X (downstream)",  mm,    Pos,   .5,  .005,   .2,     0,      1,     .2,     400,    0.035278,   3,      30,   -75}
{13BMD:,  m22, "OMS VME58",   2,  5, "Base Y",            mm,    Pos,   .5,  .05,    .5,     0.05,   0.05,  .5,     400,   -0.10583,    3,     200,     0}

# DAC microscope X, please do not change
{13BMD:, m23, "OMS VME58",   2,  6, "DAC microscope X",   mm,   Pos,   2.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,     3,     100,     0}
# chanel is not working, vitali 01.22.07
{13BMD:, m24, "OMS VME58",   2,  7, "m24",  mm,     Pos,   2.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,     3,     100,     0}

#Oriel motor used for clean_up slit
#{13BMD:, m24, "OMS VME58",   2,  7, "clean_up Y pos.",   mm,       Pos,   0.5,   .1,    .5,    .1,      1,     .2,     100,     0.10,  3,      25,     0}

# m25-28 don't have home or +5V.
#This is the definition when using the Huber jack for Y on tomography or diffraction
{13BMD:,  m25, "OMS VME58",   3,  0,  "Sample Y",         mm,    Pos,   0.2,  0.03,  .5,    0,      1,     .2,     400,    -.02,   3,      40,     0}
# This is the definition when using the BioCARS jack for Y on tomography
#{13BMD:,  m25, "OMS VME58",   3,  0,  "Sample Y"          mm,    Pos,  1.0,   0.1,   .5,    0,      1,     .2,     400,   -.710,   4,      25,     0}
# LVP Front Slits 15-Sept-2003 TU
{13BMD:,  m26, "OMS VME58",   3,  1,  "Vert. slit Y",  mm,   Pos,   0.5,   .1,    1.0,   0.1,  .1,   .2,   400,  1.0,     3,     25,   -25}
# This is for the sample twirler for some tomography
## MN 2005-Jul-23 set-up huber 410/20xgear reducer for waveplate
### YW 2005-Oct-24 change motor 27 back to LVP entrance stilt x
{13BMD:,  m27, "OMS VME58",   3,  2,  "Hori. slit X",  mm,   Pos,   0.5,   .1,    1.0,   0.1,  .1,   .2,   400,  1.0,     3,     25,   -25}
#{13BMD:,  m27, "OMS VME58",   3,  2,  "WavePlate Chi",  deg,   Neg,   5.0,   .1,  0.5,   0,  1,   .2,   200,  -0.025,     3,    10,-10}
# This is for the sample twirler for some tomography
## MN 2005-Jul-23 set-up huber 410/20xgear reducer for waveplate
#  {13BMD:,  m28, "OMS VME58",   3,  3, "Sample Twirl",      rev,   Pos,   .5,   .03,    3.,    0,      1,     .2,     400,     0.02778,  3,     1e9,   -1e9}
##CDW downstream slit, vitali 11.15.05
#{13BMD:,  m28, "OMS VME58",      3,  3, "V Bottom",   mm,    Pos,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     85,   -4.}

#BMD Hutch Slits
# MLR changed sign of m30 MRES 26-Jul-2000 when a phase wiring problem was found and corrected
{13BMD:,  m29,  "OMS VME58",   3,  4, "Inboard slit",      mm,    Pos,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     85,   -4.}
{13BMD:,  m30,  "OMS VME58",   3,  5, "Outboard slit",     mm,    Neg,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     85,   -4.}
{13BMD:,  m31,  "OMS VME58",   3,  6, "Top slit",          mm,    Neg,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     100,  -4.}
{13BMD:,  m32,  "OMS VME58",   3,  7, "Bottom slit",       mm,    Neg,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     100,  -4.}

# Motors 33-40, patch panel A.  This should only be used for 0.5A motors to save hassle
 
#{13BMD:,  m33, "OMS VME58",   4,  0, "Sample X",   mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
#{13BMD:,  m34, "OMS VME58",   4,  1, "Sample Y",   mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
#{13BMD:,  m35, "OMS VME58",   4,  2, "Sample Z",   mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
									    		      	   
# CCD camera stage 
##< MN Dec-2004 using a 0.1micron y stage
# Borrow m33 for LVP phosphor assembly, Nov 2006, YW
#{13BMD:,  m33, "OMS VME58",   4,  0, "DDIA Phorphor Y",     mm,     Pos,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
## {13BMD:,  m34, "OMS VME58",   4,  1, "CCD Y",     mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  150,  0}
{13BMD:,  m33, "OMS VME58",   4,  0, "CCD X",        mm,     Pos,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
{13BMD:,  m34, "OMS VME58",   4,  1, "CCD Y",        mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
{13BMD:,  m35, "OMS VME58",   4,  2, "CCD Z",        mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
##>  
# Tomography sample stage
{13BMD:,  m36, "OMS VME58",   4,  3, "Bottom X",           mm,     Pos,   2.0,   .1,    .5,    0,      1,     .2,     200,    -0.10,     3,     100,     0}
# This is for a Newport Y stage
#{13BMD:, m37, "OMS VME58",   4,  4, "Sample Y",          mm,     Neg,   2.0,   .1,    .5,     0,      1,     .2,    200,     -0.10,     3,      70,   0}

#m37 sample chi rotation, DAC, V.P., 3/14/2006
{13BMD:,  m37, "OMS VME58",   4,  4, "Sample Chi",        deg,     Pos,    3.,   0.0,    .5,     0,      1,     .2,    200,    -0.10,    3,     360, -360}
{13BMD:,  m38, "OMS VME58",   4,  5, "Sample Omega",       deg,     Pos,  15.,   0.0,    .5,     0,      1,     .2,    200,    -0.50,    3,     360, -360}
#temproray used for DAC bril setup - sept., 2004
#{13BMD:, m39, "OMS VME58",   4,  6, "Sample tilt",      deg,     Pos,    5.,   .1,    .5,     0,      1,     .2,    200,      -.1,      3,     360,   -360}
#MN 3.4.2011 change to drive CCD stage
#{13BMD:,  m39, "OMS VME58",   4,  6, "bril. motor",     mm,       Neg,    2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
#{13BMD:,  m40, "OMS VME58",   4,  7, "Sample Z",         mm,      Neg,    20.,   .1,    1,     0,      1,     .2,    200,      -.1,      3,     360,   -360}
{13BMD:,  m39, "OMS VME58",   4,  6, "CCD Z",            mm,      Neg,    20.,   .1,    1,     0,      1,     .2,    200,    -.01,      3,     50,   -50}
{13BMD:,  m40, "OMS VME58",   4,  7, "Analyzer Y",       mm,      Neg,    20.,   .1,    1,     0,      1,     .2,    200,    -.1,      3,     360,   -360}


#
# KB mirrors  11-Sept-2000  MN
{13BMD:,  m41, "OMS VME58",  5,  1, "Vert. mirror Y pos.",     microns,  Pos,  150.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m42, "OMS VME58",  5,  0, "Vert. mirror rotation",   mrad,     Pos,     10,    .1,  .2,  0,   1, .2,  48, -0.8868,  3,   30,  -30}
{13BMD:,  m43, "OMS VME58",  5,  2, "Vert. force UpStream.",   microns,  Pos,  100.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m44, "OMS VME58",  5,  3, "Vert. force DownStream.", microns,  Pos,  100.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m45, "OMS VME58",  5,  5, "Hor. mirror X pos",       microns,  Pos,    150,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m46, "OMS VME58",  5,  4, "Hor. mirror rotation",    mrad,     Pos,     10,    .1,  .2,  0,   1, .2,  48, -0.8868,  3,   30,  -30}
{13BMD:,  m47, "OMS VME58",  5,  6, "Hor. force UpStream",     microns,  Pos,  100.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m48, "OMS VME58",  5,  7, "Hor. force DownStream",   microns,  Pos,  100.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}

# 2nd CARS BP8000  20-Sept-2000  PJE
# m49 and m50 are now used for DAC clean-up slits, Guoyin - Vitali, 11/1/02
# m49-m52 have been changed from "micron" to "mm" scale, Vitali 9/26/03
#{13BMD:,  m49, "OMS VME58",  6,  0, "Shutter X",  microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
#{13BMD:,  m50, "OMS VME58",  6,  1, "Shutter Y",  microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m49, "OMS VME58",  6,  0, "Clean-up X",    mm,      Neg,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}
{13BMD:,  m50, "OMS VME58",  6,  1, "Clean_up Y",    mm,     Pos,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}
{13BMD:,  m51, "OMS VME58",  6,  2, "Sample Z",    mm,     Neg,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}
{13BMD:,  m52, "OMS VME58",  6,  3, "Sample X",    mm,      Neg,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}
#{13BMD:, m51, "OMS VME58",  6,  2, "Crystal X",   microns,  Neg,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
#{13BMD:, m52, "OMS VME58",  6,  3, "Crystal Y",   microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m53, "OMS VME58",  6,  5, "MicroMo m54", microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m54, "OMS VME58",  6,  4, "MicroMo m54", microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m55, "OMS VME58",  6,  6, "MicroMo m55", microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
{13BMD:,  m56, "OMS VME58",  6,  7, "MicroMo m56", microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
#{13BMD:,  m51, "OMS VME58",  6,  0, "clean_up X", microns,  Neg,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}
#{13BMD:,  m52, "OMS VME58",  6,  1, "clean_up Y", microns,  Pos,  200.0,    10,  .2,  0,   1, .2,  48,   3.546,  1,  8e3,    0}

# Third set of LVP motors, added 26-Sept-2002 MLR
# LVP CCD camera stage 15-Sept-2003 TU
# DDIA diff RAMS, 17-Nov-2003 YW
# Hi-P Tomo Rotations, 19-Jul-2004 YW
{13BMD:,  m57, "OMS VME58",   7,  0, "LVP CCD X",     mm,     Pos,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
{13BMD:,  m58, "OMS VME58",   7,  1, "LVP CCD Y",     mm,     Neg,   2.0,  .1,  .5,    0,   1,   .2,   200, -.10,  3,  100,  0}
{13BMD:,  m59, "OMS VME58",   7,  2, "LVP CCD Z",     mm,     Pos,   2.0,  .1,  .5,    0,   1,   .2,   200,  -.10,  3,  100,  0}
# DDIA diff ram controllers: 14 revol/inch plus 30:1 gear ratio
# Added planetary gear heads, gear ratio 10:1, UREV(new) = UREV(old)/10, 08-June-2004 YBW
{13BMD:,  m60, "OMS VME58",  7,  3, "DIFF RAM Bot",     mm,    Pos,   0.1,  0,  1.0,    0,   1,   .2,   400,   -0.006047619,  3,  150,    0}
{13BMD:,  m61, "OMS VME58",  7,  4, "DIFF RAM Top",     mm,    Pos,   0.1,  0,  1.0,    0,   1,   .2,   400,   -0.006047619,  3,  150,    0}
#Added new motor for ion chamber in LVP entrance slit box, YW 19-Jan-2007
{13BMD:,  m62, "OMS VME58",  7,  5, "Ion Chamber",   mm,    Pos,   1.0,   1.,    .5,   0,  1,   .5,   400,  2.0,     4,     30,   -10}

# Normal Hi-P Tomo rotation: 10:1 right angle gear; 260/80 coupling gear; 160:1 HarmonicDrive, total 5200:1. Angle=360/5200=0.069231 deg/motor rev
{13BMD:,  m63, "OMS VME58",  7,  6, "Top Rot., deg.",    deg,    Pos, 0.05,    0.05,  0.05,  0,   1, .2, 400,   0.069231,  3,  0,    0}
{13BMD:,  m64, "OMS VME58",  7,  7, "Bot Rot., deg.",    deg,    Neg, 0.05,    0.05,  0.05,  0,   1, .2, 400,   0.069231,  3,  0,    0}

#Mar 3, 2010, use temp High-P tomo setup
# Temp Hi-P Tomo rotation: 100:1 right angle gear; 260/80 coupling gear; no HarmonicDrive, total 325:1. Angle=360/325=1.107692308 deg/motor rev
#{13BMD:,  m63, "OMS VME58",  7,  6, "Top Rot., deg.",    deg,    Pos, 0.05,    0.05,  0.05,  0,   1, .2, 400,   1.107692308,  3,  0,    0}
#{13BMD:,  m64, "OMS VME58",  7,  7, "Bot Rot., deg.",    deg,    Neg, 0.05,    0.05,  0.05,  0,   1, .2, 400,   1.107692308,  3,  0,    0}

#{P,       M,     DTYP,        C,  S,   DESC,           EGU,   DIR,   VELO,  VBAS,  ACCL,  BDST, BVEL, BACC, SREV,  UREV,  PREC,  DHLM,  DLLM}
#{13BMD:,  m1, "OMS VME58",   0,  0, "Upstream Y",      mm,    Pos,   .2,   .005,   .2,    0.1,  .2,   .2,   400, -0.010583,3,     50,   -50}

#DAC Brilluon motors
{13BMD:,  m65, "OMS VME58",  8,  0, "Vertical Brillouin",    mm,  Pos, 1,   1,  .2,  0,   1, .2,   10000,   5,        3,  150, 0}
{13BMD:,  m66, "OMS VME58",  8,  1, "Horizontal Brillouin",  mm,  Neg, 1,   1,  .2,  0,   1, .2,   10000,   5,        3,  450, 0}
{13BMD:,  m67, "OMS VME58",  8,  2, "Horizontal Laser",      mm,  Neg, 1,   1,  .2,  0,   1, .2,   10000,   5,        3,  450, 0}
{13BMD:,  m68, "OMS VME58",  8,  3, "Vertical Laser",        mm,  Pos, 1,   1,  .2,  0,   1, .2,   10000,   5,        3,  150, 0}
#DAC DS4 stage, ministepper, current, 0.5A, step 1/8, vitali 1/24/2007
#{13BMD:,  m69, "OMS VME58",  8,  4, "MAR position X",         mm,    Neg,   2.0,   .5,    .5,    0.1,      1,     .2,   1600,     5.,  3,      10.,     -340}
#new Newport rotary stage, curent 1A !!! 
{13BMD:,  m69, "OMS VME58",  8,  4, "Chi large Newport",         deg,      Pos,    1.0,  1.0,   2.50,    0,      1,     1.0,     100,    1.,     3,      360.,    -360.}

#{13BMD:,  m70, "OMS VME58",  8,  5, "H Out-board",        mm,    Neg,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     85,   -4.}
#{13BMD:,  m71, "OMS VME58",  8,  6, "V top",              mm,    Neg,   1.0,   .1,    .2,    0,    1,    .2,   400,  0.50,    3,     85,   -4.}
# m70 is used for Detector position, 450 mm travel range (vitali, 11.20.05)
{13BMD:, m70, "OMS VME58",   8,  5, "Detector position",   mm,   Pos,   3.0,  .5,    .2,    .1,      1,     .2,     400,     0.20,  3,      450,     0}
# m71 is used for Navitar microscope zoom, (vitali, 11.20.05)
{13BMD:,  m71, "OMS VME58",   8,  6, "Microscope-Zoom",   mm,   Neg,   1.0,   0.2,   .5,    -0.2,      1,     .2,   200,    -.1,     3,      150,    0}


#{13BMD:,  m72, "OMS VME58",  8,  7, "Motor 72",          steps,  Pos, 1000,   1,  .5,  0,   1, .2,   400,   400,           0,  0,    0}
# Added laser driver - motor 24, 2005-Oct-24, YW (5 mm/rev*5)
{13BMD:,  m72, "OMS VME58",   8,  7, "Laser",   mm,  Pos,   1.,  1.,   .5,   0,   1, .5, 400,  2,      4,   30,  -10}

# 3rd CARS BP8000  13-Jan-2005  vitali
#{13BMD:,  m5, "OMS VME58",   0,    4, "Sample-X1",     mm,    Pos,   0.15,  .01, .2,  0.02,   1, .2,   480,    .03546,  3,      24.,    0}

{13BMD:,  m73, "OMS VME58",  9,  0, "Focus Laser",          mm,     Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13BMD:,  m74, "OMS VME58",  9,  1, "Focus Brillouin",      mm,     Neg, 0.3,  .01, .2,  0.02,   1, .2,   48,   0.0116,    3,  25.,    0}
{13BMD:,  m75, "OMS VME58",  9,  2, "Stabilization",        deg,    Pos, 10.0,  5.0, 10.0,  0,   1,  5.0,  10,    .1,     3,  360.,  -360.}
{13BMD:,  m76, "OMS VME58",  9,  3, "Polarization",         deg,    Pos, 10.0,  5.0, 10.0,  0,   1,  5.0,  10,    .1,     3,  360.,  -360.}
#MFN newport stage 25 mm travel
{13BMD:,  m77, "OMS VME58",  9,  4, "DAC microscope Z",     mm,     Neg,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}
#Newport actuator, vitali 7-24-2007
{13BMD:,  m78, "OMS VME58",  9,  5, "YAG Focus",        microns, Pos,  200.0,  10  .2,  0, 10,  .2,  10240,  500,   1,    27000,  -150}
#changed by vitali for BS, 4/29/2008
{13BMD:,  m79, "OMS VME58",  9,  6, "Top laser hor",      mm,     Pos,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}
{13BMD:,  m80, "OMS VME58",  9,  7, "Top signal hor",      mm,     Pos,  .2,      .01,  .2,  0,   1, .2,  48, .003546,  3,   24,    0}

# Motors 81-88 are MAXv below, 89-96 are DAC XPS, 97-104 are LVP XPS
{13BMD:,  m105,  "ACS MCB-4B",  0, 0, "Bottom",   mm,   Pos,     1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}
{13BMD:,  m106,  "ACS MCB-4B",  0, 1, "Top",      mm,   Pos,     1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}
{13BMD:,  m107,  "ACS MCB-4B",  0, 2, "Inboard",  mm,   Pos,     1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}
{13BMD:,  m108,  "ACS MCB-4B",  0, 3, "Outboard", mm,   Pos,     1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}

{13BMD:,  m109,  "ACS MCB-4B",  1, 0, "Inboard",   mm,   Pos,    1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}
{13BMD:,  m110,  "ACS MCB-4B",  1, 1, "Outboard",  mm,   Pos,    1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}
{13BMD:,  m111,  "ACS MCB-4B",  1, 2, "Top",       mm,   Neg,    1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}
{13BMD:,  m112,  "ACS MCB-4B",  1, 3, "Bottom",    mm,   Neg,    1,     .1,    0.2,    0,      1,     .2,    400,  -0.4,      3,    8, 0}

}

##
## MAXv motor connectors bipolar microstep, BMC rack, patch panel labeled CC
file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,       M,     DTYP,        C,  S,   DESC,        EGU,   DIR,   VELO,  VBAS,  ACCL,  BDST, BVEL, BACC, SREV,  UREV,  PREC,  DHLM,  DLLM}
{13BMD:,  m81, "OMS MAXv",   0,  0, "Y",             mm,    Neg,   10,    0,     1,     0,     1,   .5,   400,  0.52,   4,     157.5, 0.5}
{13BMD:,  m82, "OMS MAXv",   0,  1, "X",             mm,    Pos,   10,    0,     1,     0,     1,   .5,   400,  0.52,   4,     157.5, 0.5}
{13BMD:,  m83, "OMS MAXv",   0,  2, "Z",             mm,    Pos,   10,    0,     1,     0,     1,   .5,   400,  0.52,   4,     250,  -250}
{13BMD:,  m84, "OMS MAXv",   0,  3, "CCD Y bipolar", mm,    Pos,   10,    0,     1,     0.0,   1,   .5,   400,  0.52,   4,     155,   -5}
# Tomo sample X.  8 mini steps, 2mm leadscrew pitch
{13BMD:,  m85, "OMS MAXv",   0,  4, "Sample X",      mm,    Pos,   10,    0.0,  0.5,    0.0,   1,   .5,  1600,  2.00,   4,     150,   -5}
{13BMD:,  m86, "OMS MAXv",   0,  5, "Unused",        mm,    Pos,   2.0,   0.0,   02,    0.0,  10,   .5,   400,  0.52,   3,     150,   -5}
{13BMD:,  m87, "OMS MAXv",   0,  6, "Unused",        mm,    Pos,   2.0,   0.0,   02,    0.0,  10,   .5,   400,  0.52,   3,     150,   -5}
{13BMD:,  m88, "OMS MAXv",   0,  7, "Unused",        mm,    Pos,   2.0,   0.0,   02,    0.0,  10,   .5,   400,  0.52,   3,     150,   -5}
}

file "$(OPTICS)/opticsApp/Db/2slit.db"
{
pattern
{P,      SLIT,    mXp,  mXn}
{13BMD:, BMDV,   m31,   m32}
{13BMD:, BMDH,   m30,   m29}
}

file "$(OPTICS)/opticsApp/Db/2slit.db"
{
pattern
{P,      SLIT,       mXp,  mXn}
{13BMD:, BMD_CDWV,   m71,   m28}
{13BMD:, BMD_CDWH,   m70,   m69}
}

# LVP detector slits
file "$(OPTICS)/opticsApp/Db/2slit.db"
{
pattern
{P,      SLIT,      mXp,   mXn}
{13BMD:, DetSlitV,  m106,   m105}
{13BMD:, DetSlitH,  m108,   m107}
}

# LVP entrance slits (Dec 11, 2012)
file "$(OPTICS)/opticsApp/Db/2slit.db"
{
pattern
{P,      SLIT,      mXp,   mXn}
{13BMD:, EntSlitV,  m111,   m112}
{13BMD:, EntSlitH,  m110,   m109}
}

file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDHp,POS=BMDHxp.VAL,RDBK=BMDHt2.A}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDHn,POS=BMDHxn.VAL,RDBK=BMDHt2.B}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDHsize,POS=BMDHsize.VAL,RDBK=BMDHt2.C}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDHcenter,POS=BMDHcenter.VAL,RDBK=BMDHt2.D}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDVp,POS=BMDVxp.VAL,RDBK=BMDVt2.A}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDVn,POS=BMDVxn.VAL,RDBK=BMDVt2.B}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDVsize,POS=BMDVsize.VAL,RDBK=BMDVt2.C}
{P=13BMD:,SCANREC=13BMD:scan1,Q=BMDVcenter,POS=BMDVcenter.VAL,RDBK=BMDVt2.D}
}

file "$(OPTICS)/opticsApp/Db/table.db"
{
pattern
{P,          Q,      T,          M0X,  M0Y,  M1Y,  M2X,  M2Y,  M2Z,  GEOM}
{13BMD:, LVP:T1,      LVP:t1, m5,   m2,   m3,   m4,   m1,   m6,   GEOCARS}
}
#Above: new motor numbers for LVP table, 10/6/98; commented out the following:
#pattern
#{P,          Q,      T,          M0X,  M0Y,  M1Y,  M2X,  M2Y,  M2Z}
#{13BMD:, LVP:T1,     LVP:t1, m13,  m10,  m11,  m12,  m9,   m14}

file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=LVP:T1X,POS=LVP:t1.X,RDBK=LVP:t1.XRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=LVP:T1Y,POS=LVP:t1.Y,RDBK=LVP:t1.YRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=LVP:T1Z,POS=LVP:t1.Z,RDBK=LVP:t1.ZRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=LVP:T1AX,POS=LVP:t1.AX,RDBK=LVP:t1.AXRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=LVP:T1AY,POS=LVP:t1.AY,RDBK=LVP:t1.AYRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=LVP:T1AZ,POS=LVP:t1.AZ,RDBK=LVP:t1.AZRB}
}

file "$(OPTICS)/opticsApp/Db/table.db"
{
pattern
{P,          Q,      T,          M0X,  M0Y,  M1Y,  M2X,  M2Y,  M2Z,  GEOM}
{13BMD:, XAS:T1, XAS:t1,         m20,  m19,  m18,  m21,  m17,  junk, SRI}
}

file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=XAS:T1X,POS=XAS:t1.X,RDBK=XAS:t1.XRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=XAS:T1Y,POS=XAS:t1.Y,RDBK=XAS:t1.YRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=XAS:T1Z,POS=XAS:t1.Z,RDBK=XAS:t1.ZRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=XAS:T1AX,POS=XAS:t1.AX,RDBK=XAS:t1.AXRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=XAS:T1AY,POS=XAS:t1.AY,RDBK=XAS:t1.AYRB}
{P=13BMD:,SCANREC=13BMD:scan1,Q=XAS:T1AZ,POS=XAS:t1.AZ,RDBK=XAS:t1.AZRB}
}

file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}

{13BMD:,  pm1, "13BMD:Tcup:Done NPP NMS", "13BMD:pm1DVAL.VAL PP MS", "13BMD:Tcup:Readback.G NPP NMS", "13BMD:Tcup:Stop PP MS", "T-Cup X'",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
{13BMD:,  pm2, "13BMD:Tcup:Done NPP NMS", "13BMD:pm2DVAL.VAL PP MS", "13BMD:Tcup:Readback.H NPP NMS", "13BMD:Tcup:Stop PP MS", "T-Cup Y'",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
{13BMD:,  pm3, "13BMD:pm3Done   NPP NMS", "13BMD:pm3Move     PP MS", "13BMD:pm3Readback     NPP NMS", "13BMD:pm3Stop   PP MS", "Radius",            mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,   1000, -100}
{13BMD:,  pm4, "13BMD:pm3Done   NPP NMS", "13BMD:pm4Move     PP MS", "13BMD:pm4Readback     NPP NMS", "13BMD:pm3Stop   PP MS", "Compound Two-theta",        deg,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    100, -100}
}

file "$(MOTOR)/motorApp/Db/coordTrans2D.db"
{
pattern
{P,      T,     MXP, MYP,    XDRV,    XRBV,      XSTOP,       XDONE,       YDRV,   YRBV,        YSTOP,       YDONE,    PREC}
{13BMD:, Tcup:, pm1, pm2, LVP:t1.X, LVP:t1.EX, LVP:T1:stop, LVP:T1:done, LVP:t1.Y, LVP:t1.EY, LVP:T1:stop, LVP:T1:done, 3}
}

#<--
#    KB mirror setup of pseudomotors  11-Sept-2000
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}

{13BMD:,  pm5, "13BMD:KBH:Done NPP NMS", "13BMD:pm5DVAL.VAL PP MS", "13BMD:KBH:Readback.G NPP NMS", "13BMD:KBH:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
{13BMD:,  pm6, "13BMD:KBH:Done NPP NMS", "13BMD:pm6DVAL.VAL PP MS", "13BMD:KBH:Readback.H NPP NMS", "13BMD:KBH:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
{13BMD:,  pm7, "13BMD:KBV:Done NPP NMS", "13BMD:pm7DVAL.VAL PP MS", "13BMD:KBV:Readback.G NPP NMS", "13BMD:KBV:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
{13BMD:,  pm8, "13BMD:KBV:Done NPP NMS", "13BMD:pm8DVAL.VAL PP MS", "13BMD:KBV:Readback.H NPP NMS", "13BMD:KBV:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  1,    10000, -10000}
}
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMD:, KBH:,  pm5, pm6,    m47.VAL,  m47.RBV,  m48.VAL, m48.RBV, m47.STOP, m47.DMOV, m48.STOP, m48.DMOV, 1}
{13BMD:, KBV:,  pm7, pm8,    m43.VAL,  m43.RBV,  m44.VAL, m44.RBV, m43.STOP, m43.DMOV, m44.STOP, m44.DMOV, 1}
}
#-->

#  pseudomotors for LVP tomo
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,                        DESC,           EGU, DIR, VELO, VBAS,   ACCL, BDST, BVEL, BACC, MRES,  RRES,   PREC, DHLM, DLLM}

{13BMD:,  pm9,  "13BMD:LVPtomo:Done NPP NMS", "13BMD:pm9DVAL.VAL PP MS",  "13BMD:LVPtomo:Readback.G NPP NMS", "13BMD:LVPtomo:Stop PP MS",  "Tomo Mode, deg.",     deg,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001730775,   1.0,  8,    10000, -10000}
{13BMD:,  pm10, "13BMD:LVPtomo:Done NPP NMS", "13BMD:pm10DVAL.VAL PP MS", "13BMD:LVPtomo:Readback.H NPP NMS", "13BMD:LVPtomo:Stop PP MS",  "Twist Mode, deg.",    deg,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001730775,   1.0,  8,    10000, -10000}
}
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,         SUM, DIFF,    M1DRV,    M1RBV,    M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMD:, LVPtomo:,  pm9, pm10,    m63.VAL,  m63.RBV,  m64.VAL, m64.RBV, m63.STOP, m63.DMOV, m64.STOP, m64.DMOV, 6}
}

#  pseudomotors for LVP table
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                        STOO,                DESC,       EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC,    DHLM, DLLM}

{13BMD:,  pm11, "13BMD:LVP:T1:done NPP NMS", "13BMD:LVP:t1.X PP MS",  "13BMD:LVP:t1.EX NPP NMS", "13BMD:LVP:T1:stop PP MS",  "Table X",     mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    10000, -10000}
{13BMD:,  pm12, "13BMD:LVP:T1:done NPP NMS", "13BMD:LVP:t1.Y PP MS",  "13BMD:LVP:t1.EY NPP NMS", "13BMD:LVP:T1:stop PP MS",  "Table Y",     mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,   1.0,  3,    10000, -10000}
}


file "$(CARS)/CARSApp/Db/BMD_LVP_Detector.db"
{
pattern
{P,      X,   Y,   Z,  TH,    TV,  PMR,  PMT}
{13BMD:, m9, m16, m10, m13,  m12,  pm3,  pm4}
}

file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm1,POS=pm1.VAL,RDBK=pm1RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm2,POS=pm2.VAL,RDBK=pm2RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm3,POS=pm3.VAL,RDBK=pm3RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm4,POS=pm4.VAL,RDBK=pm4RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm5,POS=pm5.VAL,RDBK=pm5RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm6,POS=pm6.VAL,RDBK=pm6RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm7,POS=pm7.VAL,RDBK=pm7RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=pm8,POS=pm8.VAL,RDBK=pm8RBV}
}

#  pseudomotors for laser horizontal
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern  
{P,       M,           DINP,                        OUT,                       RDBL,                                 STOO,                           DESC,            EGU, DIR, VELO, VBAS,   ACCL, BDST, BVEL, BACC, MRES,   RRES,   PREC,    DHLM, DLLM}

{13BMD:,  pm13,  "13BMD:LaserHoriz:Done NPP NMS", "13BMD:pm13DVAL.VAL PP MS", "13BMD:LaserHoriz:Readback.G NPP NMS", "13BMD:LaserHoriz:Stop PP MS",  "Laser horiz.",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,   1.0,       3,    10000, -10000}
{13BMD:,  pm14,  "13BMD:LaserHoriz:Done NPP NMS", "13BMD:pm14DVAL.VAL PP MS", "13BMD:LaserHoriz:Readback.H NPP NMS", "13BMD:LaserHoriz:Stop PP MS",  "Laser horiz.",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,   1.0,       3,    10000, -10000}
}
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,            SUM, DIFF,   M1DRV,    M1RBV,    M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMD:, LaserHoriz:,  pm13, pm14,  m67.VAL,  m67.RBV,  m79.VAL, m79.RBV, m67.STOP, m67.DMOV, m79.STOP, m79.DMOV, 3}
}

#  pseudomotors for signal horizontal
file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern  
{P,       M,           DINP,                        OUT,                       RDBL,                                 STOO,                           DESC,            EGU, DIR, VELO, VBAS,   ACCL, BDST, BVEL, BACC, MRES,   RRES,   PREC,    DHLM, DLLM}

{13BMD:,  pm15,  "13BMD:SignalHoriz:Done NPP NMS", "13BMD:pm15DVAL.VAL PP MS", "13BMD:SignalHoriz:Readback.G NPP NMS", "13BMD:SignalHoriz:Stop PP MS",  "Signal horiz.",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,   1.0,       3,    10000, -10000}
{13BMD:,  pm16,  "13BMD:SignalHoriz:Done NPP NMS", "13BMD:pm16DVAL.VAL PP MS", "13BMD:SignalHoriz:Readback.H NPP NMS", "13BMD:SignalHoriz:Stop PP MS",  "Signal horiz.",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .00005,   1.0,       3,    10000, -10000}
}
file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,      T,             SUM,  DIFF,   M1DRV,    M1RBV,    M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMD:, SignalHoriz:,  pm15, pm16,   m66.VAL,  m66.RBV,  m80.VAL, m80.RBV, m66.STOP, m66.DMOV, m80.STOP, m80.DMOV, 3}
}



