# motor template file for 13-BM-C
#
# This IOC controls 4 Galil DMC-4183 controllers and 2 Newport XPS controllers
#
# Motors   Galil    Patch panel     Common use
#  1-8     GALIL1   A (downstream)  Sample, vial, camera
#  9-16    GALIL2     N.A.          K/B mirror
#  17-24   GALIL3     N.A.          Detector slits
#  25-32   GALIL4     N.A.          Side-deflecting mono
#  33-38    XPS       N.A.          Diffractometer angles
#  39-46    XPS       N.A.          Diffractometer base
#  47-54   GALIL5     N.A.          Large vertical mirror
#  55-62    N.A.      N.A.          DC motors, unused 
#  63-70   GALIL6   B (upstream)    Slits, camera, film gap 
#  71-77   GALIL7     N.A.          DAC viewer, cleanup, zoom

file "$(CARS)/db/galil_motor.template"
{
pattern
{P,       M,    DTYP,        PORT,    CTRL, ADDR,  DESC,              EGU,   DIR,   VELO,   VBAS, ACCL, BDST, BVEL,  BACC,  SREV,        UREV,   PREC, DHLM,    DLLM}
# A panel in rear of hutch
#m1 m2 below for MFN stages on GPD for crystal screening, half step mode, I = 0.2A for both
{13BMC:,  m1,   "asynMotor", GALIL1,  Galil1:, 0, "Long Sample X",      mm,  Neg,     .2,   .01,   .2,    0,    1.,   .2,     48,      .003546,    3,     24,      0}
{13BMC:,  m2,   "asynMotor", GALIL1,  Galil1:, 1, "Long Sample Y",      mm,  Neg,     .2,   .01,   .2,    0,    1.,   .2,     48,      .003546,    3,     24,      0}
# channel 2 (m3) not working
{13BMC:,  m3,   "asynMotor", GALIL1,  Galil1:, 2, "bad channel",       deg,  Pos,    15.,   0.0,   .5,    0,    1.,   .2,    200,        -0.10,    3,    360,   -360}
{13BMC:,  m4,   "asynMotor", GALIL1,  Galil1:, 3, "Translation",        mm,  Neg,    2.0,    .1,   .5,    0,    1.,   .2,    200,        -0.10,    3,    100,      0}
#use channel 4 (m5) for effluence vial rotation
{13BMC:,  m5,   "asynMotor", GALIL1,  Galil1:, 4, "Vial_Rot",          deg,  Pos,     5.,   0.0,   .5,    0,    1.,   .2,    200,        -0.10,    3,    360,   -360}
{13BMC:,  m6,   "asynMotor", GALIL1   Galil1:, 5  "Beamstop Y",    microns,  Pos,  200.0,    10,   .2,    0,   200,   .2,     40,     1.953125,    1,  27000,   -150}
{13BMC:,  m7,   "asynMotor", GALIL1,  Galil1:, 6, "Camera-X",           mm,  Pos,     2.,    .1,   .5,    0,     5,   .5,    400,         -0.2,    4,     80,    -80}
{13BMC:,  m8,   "asynMotor", GALIL1,  Galil1:, 7, "Camera-Y",           mm,  Pos,    10.,    1.,   .5,    0,     5,   .5,    400,         0.52,    4,     80,    -80}

# Connected to the Galil with 4040 drivers in the front of the hutch
{13BMC:, m9,    "asynMotor", GALIL2,  Galil2:  0, "Height DS",          mm,  Pos,    0.5,  0.01,   .2,    0,     1,   .2,    400,      .071429,    4,     19,    -19}
{13BMC:, m10,   "asynMotor", GALIL2,  Galil2:  1, "Moment US",          mm,  Pos,    0.5,  0.01,   .2,    0,     1,   .2,    400,      .071429,    4,     19,    -19}
{13BMC:, m11,   "asynMotor", GALIL2,  Galil2:  2, "Moment DS",          mm,  Pos,    0.5,  0.01,   .2,    0,     1,   .2,    400,      .071429,    4,     19,    -19}
{13BMC:, m12,   "asynMotor", GALIL2,  Galil2:  3, "Height US",          mm,  Pos,    0.5,  0.01,   .2,    0,     1,   .2,    400,      .071429,    4,     19,    -19}
# 200 steps/rev, 16 microsteps/step, X,Z have 1.0 mm pitch leadscrew, Y has 0.5 mm
{13BMC:, m13,   "asynMotor", GALIL2,  Galil2:  4, "ADC X",              mm,  Pos,     4,      0,  1.0,    0,     1,   .2,   3200,          1.0,    4,    100,   -100}
{13BMC:, m14,   "asynMotor", GALIL2,  Galil2:, 5, "ADC Y",              mm,  Pos,     4,      0,  1.0,    0,     1,   .2,   3200,          0.5,    4,     25,    -25}
{13BMC:, m15,   "asynMotor", GALIL2,  Galil2:  6, "ADC Z",              mm,  Neg,     4,      0,  1.0,    0,     1,   .2,   3200,          1.0,    4,      0,     25}
{13BMC:, m16,   "asynMotor", GALIL2,  Galil2:  7, "Unused",             mm,  Neg,   1.5,    .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}
                
# Diffractometer detector slits also a Galil with 4040 drivers                                    
{13BMC:, m17,   "asynMotor", GALIL3,  Galil3:  0, "Pinhole Pitch",     rev,  Pos,     .1,     0,   .2,    0,    .1,   .2,   6768,            1,    4,   -30,      30}
{13BMC:, m18,   "asynMotor", GALIL3,  Galil3:  1, "Pinhole Yaw",       rev,  Pos,     .1,     0,   .2,    0,    .1,   .2,   6768,            1,    4,   -30,      30}
{13BMC:, m19,   "asynMotor", GALIL3,  Galil3:  2, "Inboard Det",        mm,  Pos,    1.0,   .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13BMC:, m20,   "asynMotor", GALIL3,  Galil3:  3, "Outboard Det",       mm,  Pos,    1.0,   .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}
# Channels 4 will not go in reverse swaped 4 and 5 into 2 and 3 8/9/201 7
{13BMC:, m21,   "asynMotor", GALIL3,  Galil3:  4, "Inboard Det",        mm,  Pos,    1.0,   .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13BMC:, m22,   "asynMotor", GALIL3,  Galil3:  5, "Outboard Det",       mm,  Pos,    1.0,   .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13BMC:, m23,   "asynMotor", GALIL3,  Galil3:  6, "Top Det",            mm,  Neg,    0.8,   .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}
{13BMC:, m24,   "asynMotor", GALIL3,  Galil3:  7, "Bottom Det",         mm,  Neg,    0.8,   .01,   .2,    0,     1,   .2,   2064,      1.22115,    4,  10100,   -100}

# Side Mono
# settings for the NAS 12V actuators (m25, m26, m31, m32) Use 8x mini stepiping on ACS 3M with 0.3A
{13BMC:, m25,   "asynMotor", GALIL4,  Galil4:  0, "Fu_311",             mm,  Pos,    0.5,   0.0,  0.2,    0,   0.2,  0.2,    384,       0.3048,    4,  10100,   -1000}
{13BMC:, m26,   "asynMotor", GALIL4,  Galil4:  1, "Fd_311",             mm,  Pos,    0.5,   0.0,  0.2,    0,   0.2,  0.2,    384,       0.3048,    4,  10100,   -1000}
{13BMC:, m27,   "asynMotor", GALIL4,  Galil4:  2, "X",                  mm,  Pos,    1.0,   0.0,   1.,    0,    .0,   .0,  10000,           1.,    4,    100,    -100}
{13BMC:, m28,   "asynMotor", GALIL4,  Galil4:  3, "Theta",             deg,  Pos,    1.0,   0.0,   1.,  .01,    .5,   .5,  10000,           2.,    4,    100,    -100}
{13BMC:, m29,   "asynMotor", GALIL4,  Galil4:  4, "Chi",               deg,  Pos,    1.0,   0.0,   1.,    0,    .0,   .0,  10000,         1.34,    4,    100,    -100}
{13BMC:, m30,   "asynMotor", GALIL4,  Galil4:  5, "Y",                  mm,  Pos,    1.2,   0.1,   1.,    0,     1,   .2,    400,    0.1607717,    4,     95,       5}
{13BMC:, m31,   "asynMotor", GALIL4,  Galil4:  6, "Fu_111",             mm,  Pos,    0.5,   0.0,  0.2,    0,   0.2,  0.2,    384,       0.3048,    4,  10100,   -1000}
{13BMC:, m32,   "asynMotor", GALIL4,  Galil4:  7, "Fd_111",             mm,  Pos,    0.5,   0.0,  0.2,    0,   0.2,  0.2,    384,       0.3048,    4,  10100,   -1000}

# BMC Large Vertical Mirror
{13BMC:,  m47   "asynMotor", GALIL5,  Galil5:  0, "Upstream moment",    mm,  Pos,    1.0,    .1,   .2,    0,    .0,   .0,   1600,       .34737,    4,     40,       0}
{13BMC:,  m48,  "asynMotor", GALIL5,  Galil5:  1, "Downstream moment",  mm,  Pos,    1.0,    .1,   .2,    0,    .0,   .0,   1600,       .34737,    4,     40,       0}
{13BMC:,  m49,  "asynMotor", GALIL5,  Galil5:  2, "Upstream Pitch",     mm,  Neg,     .4,    .0,   2.,    0,    .0,   .0,    400,      .016071,    4,    100,       0}
{13BMC:,  m50,  "asynMotor", GALIL5,  Galil5:  3, "Downstream Pitch",   mm,  Neg,     .4,    .0,   2.,    0,    .0,   .0,    400,      .016071,    4,    100,       0}
{13BMC:,  m51,  "asynMotor", GALIL5,  Galil5:  4, "Upstream Trans.",    mm,  Pos,      5,    .0,   .5,    0,    .0,   .0,    400,           .2,    2,    101,      -1}
{13BMC:,  m52,  "asynMotor", GALIL5,  Galil5:  5, "Downstream Trans.",  mm,  Pos,      5,    .0,   .5,    0,    .0,   .0,    400,           .2,    2,    101,      -1}
{13BMC:,  m53,  "asynMotor", GALIL5,  Galil5:  6, "Gravity Sag",        mm,  Pos,     .5,    .1,   .5,    0,    .0,   .0,    400,          1.0,    3,     50,       0}
{13BMC:,  m54,  "asynMotor", GALIL5,  Galil5:  7, "motor54",            mm,  Neg,     1.,    .1,   .5,    0,    .1,  1.5,    400,         0.50,    3,     50,       0}

# B panel in front of hutch
{13BMC:,  m63,  "asynMotor", GALIL6,  Galil6:   0, "Hp UpStream",       mm,  Neg,    .15,   .01,  1.0,   0.,    .1,   .2,   6768,          .25,    4,    100,    -100}
{13BMC:,  m64,  "asynMotor", GALIL6,  Galil6:   1, "Hw UpStream",       mm,  Pos,    .15,   .01,  1.0,   0.,    .1,   .2,   6768,         .635,    4,    100,    -100}
# Newport TRA25PPD, for DAC alignment camera, 0.2A
{13BMC:,  m65,  "asynMotor", GALIL6,  Galil6:   2, "DAC Cam Y",         mm,  Neg,  100.0,   3.8,   .2,   10,    77,  0.2,   4096,        192.3,    1,  12600,  -12600}
# m66 is bad, only goes in one direction (2017/05/18)
{13BMC:,  m66,  "asynMotor", GALIL6,  Galil6:   3, "Bad",               mm,  Pos,    100,     1,   .2,    0,     1,   .2,  10284,          350,    1,   5100,    -100}
{13BMC:,  m67,  "asynMotor", GALIL6,  Galil6:   4, "Vp UpStream",       mm,  Neg,    .15,   .01,  1.0,   0.,    .1,   .2,   6768,          .25,    4,    100,    -100}
{13BMC:,  m68,  "asynMotor", GALIL6,  Galil6:   5, "Vw UpStream",       mm,  Pos,     .3,   .01,  1.0,   0.,    .1,   .2,   6768,         .635,    4,    100,    -100}
# Newport TRA25PPD, for DAC alignment camera, 0.2 A
{13BMC:,  m69,  "asynMotor", GALIL6,  Galil6:   6, "DAC Cam X",         mm,  Neg,  100.0,   3.8,   .2,   10,    77,  0.2,   4096,        192.3,    1,  12600,  -12600}
{13BMC:,  m70,  "asynMotor", GALIL6,  Galil6:   7, "Film Gap",          mm,  Pos,    200,    10,   .2,    0,   200,   .2,     48,         -3.5,    2,   2000,   -2000}
}

# Galil with 3140 (DC) and 4040 (stepper) drivers
# DC motors are first 4 channels.
file "$(CARS)/db/galil_motor.template"
{
pattern
{P,       M,    DTYP,          PORT,   CTRL,  ADDR,   DESC,            EGU,  DIR,  PCOF,  ICOF,  DCOF, VELO,  VBAS,  ACCL,  BDST,  BVEL,  BACC,    SREV,   UREV,   PREC,  DHLM,   DLLM}
{13BMC:,  m71, "asynMotor",  GALIL7,  Galil7:,  0, "DAC_Cleanup_X",     mm,  Pos, 0.020, 0.001,  0.00,  2.5,    .1 ,  0.5,     0,     1,    .2,   56499,      1,      4,   25.,      0}
{13BMC:,  m72, "asynMotor",  GALIL7,  Galil7:,  1, "DAC_Cleanup_Y",     mm,  Pos, 0.020, 0.001,  0.00,  2.5,    .1,   0.5,     0,     1,    .2,   56499,      1,      4,   25.,      0}
{13BMC:,  m73, "asynMotor",  GALIL7,  Galil7:,  2, "DAC_Cleanup_Z",     mm,  Pos,  0.20,  0.01,  0.00,  2.5,    .1,   0.5,     0,     1,    .2,   10000,      1,      4,  100.,      0}
{13BMC:,  m74, "asynMotor",  GALIL7,  Galil7:,  3, "NAV-ZOOM",          mm,  Pos,  0.20,  0.01,  0.00, 0.75,    .1,  0.75,     0,     1,    .2,   16768,      1,      4,  100.,      0}
}

file "$(CARS)/db/galil_motor.template"
{
pattern
{  P,       M,    DTYP,        PORT,    CTRL, ADDR,  DESC,             EGU,  DIR,   VELO,  VBAS, ACCL, BDST,  BVEL,  BACC,  SREV,   UREV,  PREC, DHLM,    DLLM}
# X=UTS100PP, Z=UTS50PP. 16 microsteps/s, 2mm pitch; Y=UTM100PE(?), full step=1 micron
{13BMC:,  m75, "asynMotor",  GALIL7,  Galil7:,  4, "DAC_View_X",        mm,  Pos,     2.,    .1,  0.5,    0,     1,   .2,   3200,      2,    4,   100.,       0}
{13BMC:,  m76, "asynMotor",  GALIL7,  Galil7:,  5, "DAC_View_Y",        mm,  Neg,     2.,    .1,  0.5,    0,     1,   .2,  16000,      1,    4,    50.,       0}
{13BMC:,  m77, "asynMotor",  GALIL7,  Galil7:,  6, "DAC_View_Z",        mm,  Pos,     2.,    .1,  0.5,    0,     1,   .2,   3200,      2,    4,    50.,       0}
{13BMC:,  m78, "asynMotor",  GALIL7,  Galil7:,  7, "Unused",            mm,  Pos,    0.75,   .1,  0.75,   0,     1,   .2,  16768,      1,    4,   100.,       0}
}

file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                   OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13BMC:,  pm1, "13BMC:KBVB:Done NPP NMS", "13BMC:pm1DVAL.VAL PP MS", "13BMC:KBVB:Readback.G NPP NMS", "13BMC:KBVB:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm2, "13BMC:KBVB:Done NPP NMS", "13BMC:pm2DVAL.VAL PP MS", "13BMC:KBVB:Readback.H NPP NMS", "13BMC:KBVB:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm3, "13BMC:KBVP:Done NPP NMS", "13BMC:pm3DVAL.VAL PP MS", "13BMC:KBVP:Readback.G NPP NMS", "13BMC:KBVP:Stop PP MS",    "Height (Sum)",       mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm4, "13BMC:KBVP:Done NPP NMS", "13BMC:pm4DVAL.VAL PP MS", "13BMC:KBVP:Readback.H NPP NMS", "13BMC:KBVP:Stop PP MS",    "Pitch (Diff)",       mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm5, "13BMC:KBVT:Done NPP NMS", "13BMC:pm5DVAL.VAL PP MS", "13BMC:KBVT:Readback.G NPP NMS", "13BMC:KBVT:Stop PP MS",    "Translation (Sum)",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm6, "13BMC:KBVT:Done NPP NMS", "13BMC:pm6DVAL.VAL PP MS", "13BMC:KBVT:Readback.H NPP NMS", "13BMC:KBVT:Stop PP MS",    "Rotation (Diff)",    mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
}

file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMC:, KBVB:,  pm1, pm2,    m48.VAL,  m48.RBV,  m47.VAL, m47.RBV, m48.STOP, m48.DMOV, m47.STOP, m47.DMOV, 3}
{13BMC:, KBVP:,  pm3, pm4,    m49.VAL,  m49.RBV,  m50.VAL, m50.RBV, m49.STOP, m49.DMOV, m50.STOP, m50.DMOV, 3}
{13BMC:, KBVT:,  pm5, pm6,    m52.VAL,  m52.RBV,  m51.VAL, m51.RBV, m52.STOP, m52.DMOV,  m51STOP, m51.DMOV, 3}
}

############################################
file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                   OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13BMC:,  pm7,  "13BMC:F111:Done NPP NMS", "13BMC:pm7DVAL.VAL PP MS",  "13BMC:F111:Readback.G NPP NMS", "13BMC:F111:Stop PP MS", "Curvature_111",      mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm8,  "13BMC:F111:Done NPP NMS", "13BMC:pm8DVAL.VAL PP MS",  "13BMC:F111:Readback.H NPP NMS", "13BMC:F111:Stop PP MS", "Ellipticity_111",      mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm9,  "13BMC:F311:Done NPP NMS", "13BMC:pm9DVAL.VAL PP MS",  "13BMC:F311:Readback.G NPP NMS", "13BMC:F311:Stop PP MS", "Curvature_311",      mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMC:,  pm10, "13BMC:F311:Done NPP NMS", "13BMC:pm10DVAL.VAL PP MS", "13BMC:F311:Readback.H NPP NMS", "13BMC:F311:Stop PP MS", "Ellipticity_311",      mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
}

file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMC:, F111:,  pm7, pm8,    m32.VAL,  m32.RBV,  m31.VAL, m31.RBV, m32.STOP, m32.DMOV, m31.STOP, m31.DMOV, 3}
{13BMC:, F311:,  pm9, pm10,   m26.VAL,  m26.RBV,  m25.VAL, m25.RBV, m26.STOP, m26.DMOV, m25.STOP, m25.DMOV, 3}
}

file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                   OUT,                            RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13BMC:,  pm11,  "13BMC:CHI311:Done NPP NMS", "13BMC:pm11DVAL.VAL PP MS",  "13BMC:CHI311:Readback.G NPP NMS", "13BMC:CHI311:Stop PP MS", "X_311",      mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  4,    10000, -10000}
{13BMC:,  pm12,  "13BMC:CHI311:Done NPP NMS", "13BMC:pm12DVAL.VAL PP MS",  "13BMC:CHI311:Readback.H NPP NMS", "13BMC:CHI311:Stop PP MS", "CHI_311",   deg,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  4,    10000, -10000}
}

file "$(CARS)/db/dispRot2D.db"
{
pattern
{P,      T,         MXP,  MCHIP,      M1DRV,    M1RBV,    M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMC:, CHI311:,  pm11,   pm12,    m27.VAL,  m27.RBV,  m29.VAL, m29.RBV, m27.STOP, m27.DMOV, m29.STOP, m29.DMOV,    4}
}

###                                          ###
################################################
### Horizontal KB Miror: pm13, pm14, pm15, pm16  ###

file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,      M,        DINP,                    OUT,                     RDBL,                        STOO,               DESC,    EGU, DIR,VELO,VBAS,ACCL,BDST,BVEL,BACC,MRES,RRES PREC,DHLM, DLLM}
{13BMC:, pm13, "13BMC:HF:Done NPP NMS", "13BMC:pm13DVAL.VAL PP MS","13BMC:HF:Readback.G NPP NMS", "13BMC:HF:Stop PP MS", "Curvature",  mm, Pos, 1, .1, .1, 0, 1, .1, .0001, 1.0, 3, 10000, -10000}
{13BMC:, pm14, "13BMC:HF:Done NPP NMS", "13BMC:pm14DVAL.VAL PP MS","13BMC:HF:Readback.H NPP NMS", "13BMC:HF:Stop PP MS", "Ellipticity",mm, Pos, 1, .1, .1, 0, 1, .1, .0001, 1.0, 3, 10000, -10000}
{13BMC:, pm15, "13BMC:HP:Done NPP NMS", "13BMC:pm15DVAL.VAL PP MS","13BMC:HP:Readback.G NPP NMS", "13BMC:HP:Stop PP MS", "Height",     mm, Pos, 1, .1, .1, 0, 1, .1, .0001, 1.0, 3, 10000, -10000}
{13BMC:, pm16, "13BMC:HP:Done NPP NMS", "13BMC:pm16DVAL.VAL PP MS","13BMC:HP:Readback.H NPP NMS", "13BMC:HP:Stop PP MS", "Pitch",      mm, Pos, 1, .1, .1, 0, 1, .1, .0001, 1.0, 3, 10000, -10000}
}

file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,      T,      SUM,  DIFF,   M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}

{13BMC:, HF:,  pm13, pm14,   m11.VAL,  m11.RBV,  m10.VAL, m10.RBV, m11.STOP, m11.DMOV, m10.STOP, m10.DMOV, 3}
{13BMC:, HP:,  pm15, pm16,   m9.VAL,  m9.RBV,  m12.VAL, m12.RBV, m9.STOP, m9.DMOV, m12.STOP, m12.DMOV, 3}
}

# Horizontal detector slit
file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,    mXp,  mXn}
{13BMC:, Slit1H,  m22,  m21}
}

# Vertical detector slit
file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,    mXp,  mXn}
{13BMC:, Slit1V,  m23,  m24}
}
