file "$(ASYN)/db/asynRecord.db"
{
pattern
{P            R         PORT     ADDR  OMAX IMAX}
{13Linux:     serial1   serial1    0    256  256}
{13Linux:     serial2   serial2    0    256  256}
{13Linux:     serial3   serial3    0    512  512}
{13Linux:     serial4   serial4    0    256  256} 
}
