file "$(CARS)/db/motor.db"
{
pattern
{P,         M,      DTYP,      C, S,  DESC,    EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,  PREC,  DHLM, DLLM}
#{13Linux:, m1, "ACS MCB-4B",  0, 0, "X",      mm,    Pos,     2,     .1,     1.,    0,      1,     .2,    200,     -.1,    4,   100,    0}
#{13Linux:, m2, "ACS MCB-4B",  0, 1, "Y",      mm,    Pos,     2,     .1,     1.,    0,      1,     .2,    200,     -.1,    4,   100,    0}
#{13Linux:, m3, "ACS MCB-4B",  0, 2, "M3",     steps,  Pos,    2000,   1,     1.,    0,      1,     .2,    400,     400,    0,   1e6, -1e6}
#{13Linux:, m4, "ACS MCB-4B",  0, 3, "M4",     steps,  Pos,    2000,   1,     1.,    0,      1,     .2,    400,     400,    0,   1e6, -1e6}
}

file "$(CARS)/db/asynMotor.db"
{
pattern
{P,         M,   DTYP,      PORT,  ADDR,  DESC,    EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,  PREC,  DHLM, DLLM}
{13Linux:, m5, "asynMotor", MM4000_1, 0, "Omega",  degrees,  Pos,  10.0,  .1,     1.,     0,     1,     .2,     1,     .001,    4,   180, -180}
{13Linux:, m6, "asynMotor", MM4000_1, 1, "Kappa",  degrees,  Pos,  60.0,  .1,     1.5,    0,     1,     .2,     1,     .001,    4,   180, -180}
{13Linux:, m7, "asynMotor", MM4000_1  2, "Phi",    degrees,  Pos,  60.0,  .1,     1.,     0,     1,     .2,     1,     .001,    3,   180, -180}
}

file "$(CARS)/db/dc_motor.db"
{
pattern
{P,       M,    DTYP,      C, S, DESC,      EGU,       DIR,   VELO,   VBAS,   ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV,  PREC,   DHLM,   DLLM,  PCOF,  ICOF,  DCOF}
#{13Linux:, m8, "MCDC2805", 0, 0, "Test",   revs,       Pos,      1,      0,     .5,     0,      1,    .2,     64,  .0038167,  3,     1e6,   -1e6, 0.05,   0.1,   0}
}

