file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,       M,       DTYP,      C,     S,          DESC,    EGU,   DIR,  VELO,   VBAS,     ACCL,  BDST,   BVEL,  BACC,  SREV,     UREV,  PREC,  DHLM, DLLM}
{13Linux:, m1, "MM4000",    0, 0, "Omega",    degrees,  Pos,  10.0,  .1,   1., 0,  1,  .2,  1,  .001,    4,   180, -180}
{13Linux:, m2, "MM4000",    0, 1, "Kappa",    degrees,  Pos,  60.0,  .1,   1.5, 0,  1,  .2,  1,  .001,    4,   180, -180}
{13Linux:, m3, "MM4000",    0, 2, "Phi",      degrees,  Pos,  60.0,  .1,   1., 0,  1,  .2,  1,  .001,    3,   180, -180}
}

