file "$(ASYN)/db/asynRecord.db"
{
pattern
{P          R         PORT    ADDR    OMAX  IMAX}
{13LAB2:     serial1   serial1    0     80  80}
{13LAB2:     serial2   serial2    0     80  80}
{13LAB2:     serial3   serial3    0     80  80}
{13LAB2:     serial4   serial4    0     80  80}
{13LAB2:     serial5   serial5    0     80  80}
{13LAB2:     serial6   serial6    0     80  80}
{13LAB2:     serial7   serial7    0     80  80}
{13LAB2:     serial8   serial8    0     80  80}
{13LAB2:     serial9   serial9    0     80  80}
{13LAB2:     serial10  serial10   0     80  80}
{13LAB2:     serial11  serial11   0     80  80}
{13LAB2:     serial12  serial12   0     80  80}
{13LAB2:     serial13  serial13   0     80  80}
{13LAB2:     serial14  serial14   0     80  80}
{13LAB2:     serial15  serial15   0     80  80}
{13LAB2:     serial16  serial16   0     80  80}
}
