file CARSApp/Db/motor.db, top
{
pattern
{P,       M,       DTYP,      C,     S,          DESC,    EGU,   DIR,  VELO,   VBAS,     ACCL,  BDST,   BVEL,  BACC,  SREV,     UREV,  PREC,  DHLM, DLLM}
{13LAB2:,  m1,  "OMS VME58",   0,     0,     "Mirror-Fu",  mm,   Pos,  1,      .0,       1,     0,       .0,    .0,  2000,   -.34737,  4,    40,     0}
{13LAB2:,  m2,  "OMS VME58",   0,     1,     "Mirror-Fd",  mm,   Pos,  1,      .0,       1,     0,       .0,    .0,  2000,   -.34737,  4,    40,     0}
{13LAB2:,  m3,  "OMS VME58",   0,     2,     "Mirror-Yu",  mm,   Pos, .5,      .0,       2.,    0,       .0,    .0,  400,     .016071, 4,    100,    0}
{13LAB2:,  m4,  "OMS VME58",   0,     3,     "Mirror-Yd",  mm,   Pos, .5,      .0,       2.,    0,       .0,    .0,  400,     .016071, 4,    100,    0}
{13LAB2:,  m5,  "OMS VME58",   0,     4,     "Upstream-X",  mm,    Pos,  1,      .0,     .5,     0,       .0,    .0,  400,      .02,   2,    101,  -1}
{13LAB2:,  m6,  "OMS VME58",   0,     5,     "Downstream-X",mm,    Pos,  1,      .0,     .5,     0,       .0,    .0,  400,      .02,   2,   101,   -1}
{13LAB2:,  m7,  "OMS VME58",   0,     6,     "Slit-1",      mm,   Neg,  1,     .0,      .5,     0,       .0,    .0,  400,     .5,      3,  100,   -10}
{13LAB2:,  m8,  "OMS VME58",   0,     7,     "Slit-2",      mm,   Neg,  1,     .0,      .5,     0,       .0,    .0,  400,     .5,      3,  100,   -10}
}

file stdApp/Db/table.db, std
{
pattern
{P,            Q,      T,  M0X,  M1X,    M2X,  M0Y,   M1Y,    M2Y,    M2Z,  GEOM}
{13LAB2:, MON:T1, MON:t1, junk, junk,   junk,   m6,    m7,     m5,   junk,   SRI}
}

file stdApp/Db/table.db, std
{
pattern
{P,            Q,      T,  M0X,  M1X,    M2X,  M0Y,   M1Y,    M2Y,    M2Z,  GEOM}
{13LAB2:, MIR:T1, MIR:t1, junk, junk,   junk,   m4,  junk,     m3,   junk,   SRI}
}


file CARSApp/Db/pseudoMotor.db, top
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13LAB2:,  pm1, "13LAB2:KBH:Done NPP NMS", "13LAB2:pm1DVAL.VAL PP MS", "13LAB2:KBH:Readback.G NPP NMS", "13LAB2:KBH:Stop PP MS",
"Height (Sum)",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
{13LAB2:,  pm2, "13LAB2:KBH:Done NPP NMS", "13LAB2:pm2DVAL.VAL PP MS", "13LAB2:KBH:Readback.H NPP NMS", "13LAB2:KBH:Stop PP MS",
"Pitch (Diff)",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
}

file CARSApp/Db/sumDiff2D.db, top
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13LAB2:, KBH:,  pm1, pm2,    m3.VAL,  m3.RBV,  m4.VAL, m4.RBV, m3.STOP, m3.DMOV, m4.STOP, m4.DMOV, 3}
}

