file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,         M,          DTYP,  C,  S, DESC,                EGU,  DIR,  VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,     UREV,  PREC,  DHLM, DLLM}
{13LAB2:,   m1,  "OMS VME58",  0,  0, "Bad step pak",       mm,  Pos,   2.0,    0.1,    .5,     0,      1,    .2,   400, 0.1607717,    4,    95,    5}
{13LAB2:,   m2,  "OMS VME58",  0,  1, "Side_Mono_Y",        mm,  Pos,   1.2,    0.1,    1.,     0,      1,    .2,   400, 0.1607717,    4,    95,    5}
{13LAB2:,   m3,  "OMS VME58",  0,  2, "Kozhu_X",            mm,  Pos,   5.0,     .2,    1.,     0,     .0,    .0,  2000,        2.,    4,   100, -100}
{13LAB2:,   m4,  "OMS VME58",  0,  3, "Kozhu_Theta",       deg,  Pos,   5.0,     .2,    1.,     0,     .0,    .0,  2000,        2.,    4,   100, -100}
{13LAB2:,   m5,  "OMS VME58",  0,  4, "Kozhu_Chi",         deg,  Pos,   2.0,     .1,    1.,     0,     .0,    .0,  2000,      1.33,    4,   101,   -1}
{13LAB2:,   m6,  "OMS VME58",  0,  5, "Upstream moment",    mm,  Pos,     1,     .0,    1,      0,     .0,    .0,  2000,   -.34737,    4,    40,    0}
{13LAB2:,   m7,  "OMS VME58",  0,  6, "Upstream moment",    mm,  Pos,     1,     .0,    1,      0,     .0,    .0,  2000,   -.34737,    4,    40,    0}
{13LAB2:,   m8,  "OMS VME58",  0,  7, "Motor8",             mm,  Neg,    10,     .0,    .5,     0,     .0,    .0,   400,        .5,    3,   100,  -10}
}


file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13LAB2:,  pm1, "13LAB2:KBH:Done NPP NMS", "13LAB2:pm1DVAL.VAL PP MS", "13LAB2:KBH:Readback.G NPP NMS", "13LAB2:KBH:Stop PP MS",
"Height (Sum)",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
{13LAB2:,  pm2, "13LAB2:KBH:Done NPP NMS", "13LAB2:pm2DVAL.VAL PP MS", "13LAB2:KBH:Readback.H NPP NMS", "13LAB2:KBH:Stop PP MS",
"Pitch (Diff)",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
}

file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
pattern
{P,       T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13LAB2:, KBH:,  pm1, pm2,     m3.VAL,   m3.RBV,  m4.VAL,  m4.RBV,  m3.STOP,  m3.DMOV,  m4.STOP,  m4.DMOV, 3}
}
