file "$(CARS)/db/13ID_mono_position.template"
{
pattern
{P,      EN,      EPS_111,                 EPS_311,                 EPS_WHITE,              THETA_MOTOR,  HEIGHT_MOTOR, PITCH_MOTOR, ROLL_MOTOR}
{13IDA:, E:En:,  13IDA_EMONO:userTran1.A, 13IDA_EMONO:userTran1.B, 13IDA_EMONO:userTran1.C, 13IDA:m81, 13IDA:m66, 13IDA:m67, 13IDA:m68}
}
