file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m73,POS=m73.VAL,RDBK=m73.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m74,POS=m74.VAL,RDBK=m74.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m75,POS=m75.VAL,RDBK=m75.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m76,POS=m76.VAL,RDBK=m76.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m77,POS=m77.VAL,RDBK=m77.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m78,POS=m78.VAL,RDBK=m78.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m79,POS=m79.VAL,RDBK=m79.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m80,POS=m80.VAL,RDBK=m80.RBV}
{P=13IDA:,SCANREC=13IDA_PMAC1:scan1,Q=m81,POS=m81.VAL,RDBK=m81.RBV}
}
