file "$(SSCAN)/db/scanParms.db"
{
{P=13BMC:,SCANREC=13BMC:scan1,Q=m33,POS=m33.VAL,RDBK=m33.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m34,POS=m34.VAL,RDBK=m34.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m35,POS=m35.VAL,RDBK=m35.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m36,POS=m36.VAL,RDBK=m36.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m37,POS=m37.VAL,RDBK=m37.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m38,POS=m38.VAL,RDBK=m38.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m39,POS=m39.VAL,RDBK=m39.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m40,POS=m40.VAL,RDBK=m40.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m41,POS=m41.VAL,RDBK=m41.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m42,POS=m42.VAL,RDBK=m42.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m43,POS=m43.VAL,RDBK=m43.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m44,POS=m44.VAL,RDBK=m44.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m45,POS=m45.VAL,RDBK=m45.RBV}
{P=13BMC:,SCANREC=13BMC:scan1,Q=m46,POS=m46.VAL,RDBK=m46.RBV}
}
