file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m89,POS=m89.VAL,RDBK=m89.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m90,POS=m90.VAL,RDBK=m90.RBV}
{P=13BMD:,SCANREC=13BMD_XPS:scan1,Q=m91,POS=m91.VAL,RDBK=m91.RBV}
}
