file "$(SSCAN)/db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=m97,POS=m97.VAL,RDBK=m97.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m98,POS=m98.VAL,RDBK=m98.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m99,POS=m99.VAL,RDBK=m99.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m100,POS=m100.VAL,RDBK=m100.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m101,POS=m101.VAL,RDBK=m101.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m102,POS=m102.VAL,RDBK=m102.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m103,POS=m103.VAL,RDBK=m103.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m104,POS=m104.VAL,RDBK=m104.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m105,POS=m105.VAL,RDBK=m105.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m106,POS=m106.VAL,RDBK=m106.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m107,POS=m107.VAL,RDBK=m107.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m108,POS=m108.VAL,RDBK=m108.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m109,POS=m109.VAL,RDBK=m109.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m110,POS=m110.VAL,RDBK=m110.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m111,POS=m111.VAL,RDBK=m111.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m112,POS=m112.VAL,RDBK=m112.RBV}
}
