file "$(CARS)/db/asynMotor.db"
{
pattern
{P,         M,      DTYP,       PORT, ADDR,  DESC,        EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,   SREV, UREV, PREC, DHLM, DLLM}
{13BMD:,  m97,   "asynMotor",   XPS1,   0, "Det. Y",     mm,   Neg,      1.0,     0.,   2.0,     0,      1,    .2,  10000,    1,    4,  410,   -1}
{13BMD:,  m98,   "asynMotor",   XPS1,   1, "Press Y",    mm,   Pos,      0.2,     0.,   4.0,     0,    0.1,   1.0,  10000,    1,    4,  410,   -1}
{13BMD:,  m99,   "asynMotor",   XPS1,   2, "Press X",    mm,   Neg,      1.0,     0.,   2.0,     0,    0.1,   1.0,  10000,    1,    4,  410,   -1}
{13BMD:, m100,   "asynMotor",   XPS1,   3, "Det. X",     mm,   Neg,      2.0,     0.,   2.0,     0,      1,    .2,  10000,    1,    4,  410,   -1}
{13BMD:, m101,   "asynMotor",   XPS1,   4, "Det. Z",     mm,   Neg,      2.0,     0.,   2.0,     0,      1,    .2,  10000,    1,    4,  410,   -1}
{13BMD:, m102,   "asynMotor",   XPS1,   5, "Press Z",    mm,   Neg,      1.0,     0.,   2.0,     0,    0.1,   1.0,  10000,    1,    4,  410,   -1}
{13BMD:, m103,   "asynMotor",   XPS1,   6, "Det. Tilt", deg,   Neg,      0.5,     0.,   1.0,     0,      1,    .2,  46692,    1,    4,   30,   -30}
{13BMD:, m104,   "asynMotor",   XPS1,   7, "Det. Rot.", deg,   Neg,      0.4,     0.,   1.0,     0,      1,    .2,   4000,    1,    4,  180,  -180}

# Motors 81-88 are MAXv below, 89-96 are DAC XPS, 97-104 are LVP XPS
{13BMD:,  m105,  "asynMotor",  MCB4B_1, 0, "Bottom",     mm,   Pos,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}
{13BMD:,  m106,  "asynMotor",  MCB4B_1, 1, "Top",        mm,   Pos,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}
{13BMD:,  m107,  "asynMotor",  MCB4B_1, 2, "Inboard",    mm,   Pos,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}
{13BMD:,  m108,  "asynMotor",  MCB4B_1, 3, "Outboard",   mm,   Pos,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0} 
{13BMD:,  m109,  "asynMotor",  MCB4B_2, 0, "Inboard",    mm,   Pos,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}
{13BMD:,  m110,  "asynMotor",  MCB4B_2, 1, "Outboard",   mm,   Pos,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}
{13BMD:,  m111,  "asynMotor",  MCB4B_2, 2, "Top",        mm,   Neg,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}
{13BMD:,  m112,  "asynMotor",  MCB4B_2, 3, "Bottom",     mm,   Neg,     1.0,      0.,   0.2,     0,      1,     .2,   400,  -0.4,   3,    8,  0}

}

# LVP detector slits
file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,      mXp,   mXn}
{13BMD:, DetSlitV,  m106,   m105}
{13BMD:, DetSlitH,  m108,   m107}
}

# LVP entrance slits
file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,      mXp,   mXn}
{13BMD:, EntSlitV,  m111,   m112}
{13BMD:, EntSlitH,  m110,   m109}
}
