file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,         M,      DTYP,       PORT, ADDR,  DESC,        EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,   SREV, UREV, PREC, DHLM, DLLM}
{13BMD:,  m97,   "asynMotor",   XPS1, 0,     "Det. Y",     mm,   Neg,      1.0,     0.,   2.0,     0,      1,    .2,  10000,    1,    4,  410,   -1}
{13BMD:,  m98,   "asynMotor",   XPS1, 1,     "Press Y",    mm,   Pos,      0.2,     0.,   4.0,     0,    0.1,   1.0,  10000,    1,    4,  410,   -1}
{13BMD:,  m99,   "asynMotor",   XPS1, 2,     "Press X",    mm,   Neg,      1.0,     0.,   2.0,     0,    0.1,   1.0,  10000,    1,    4,  410,   -1}
{13BMD:, m100,   "asynMotor",   XPS1, 3,     "Det. X",     mm,   Neg,      2.0,     0.,   2.0,     0,      1,    .2,  10000,    1,    4,  410,   -1}
{13BMD:, m101,   "asynMotor",   XPS1, 4,     "Det. Z",     mm,   Neg,      2.0,     0.,   2.0,     0,      1,    .2,  10000,    1,    4,  410,   -1}
{13BMD:, m102,   "asynMotor",   XPS1, 5,     "Press Z",    mm,   Neg,      1.0,     0.,   2.0,     0,    0.1,   1.0,  10000,    1,    4,  410,   -1}
{13BMD:, m103,   "asynMotor",   XPS1, 6,     "Det. Tilt", deg,   Neg,      0.5,     0.,   1.0,     0,      1,    .2,  46692,    1,    4,   30,   -30}
{13BMD:, m104,   "asynMotor",   XPS1, 7,     "Det. Rot.", deg,   Neg,      0.4,     0.,   1.0,     0,      1,    .2,   4000,    1,    4,  180,  -180}
}
