file "$(SSCAN)/db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=m97,POS=m97.VAL,RDBK=m97.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m98,POS=m98.VAL,RDBK=m98.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m99,POS=m99.VAL,RDBK=m99.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m100,POS=m100.VAL,RDBK=m100.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m101,POS=m101.VAL,RDBK=m101.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m102,POS=m102.VAL,RDBK=m102.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m103,POS=m103.VAL,RDBK=m103.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m104,POS=m104.VAL,RDBK=m104.RBV}
}
