file "$(CARS)/db/asynMotor.db"
{
pattern
{P,         M,        DTYP,      PORT, ADDR,    DESC,        EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV, PREC, DHLM, DLLM}
{13BMD:,  m113,   "asynMotor",   HEX1,   6,      "Hex Z",     mm,   Pos,      5.0,     0.,   1.0,     0,      1,     1,  1000000,    1,    4,  25,   -25}
{13BMD:,  m114,   "asynMotor",   HEX1,   7,      "Hex X",     mm,   Pos,      5.0,     0.,   1.0,     0,      1,     1,  1000000,    1,    4,  25,   -25}
{13BMD:,  m115,   "asynMotor",   HEX1,   8,      "Hex Y",     mm,   Pos,      5.0,     0.,   1.0,     0,      1,     1,  1000000,    1,    4, 12.5, -12.5}
{13BMD:,  m116,   "asynMotor",   HEX1,   9,   "Hex Roll",    deg,   Pos,      5.0,     0.,   1.0,     0,      1,     1,  1000000,    1,    4,  7.5,  -7.5}
{13BMD:,  m117,   "asynMotor",   HEX1,  10,  "Hex Pitch",    deg,   Pos,      5.0,     0.,   1.0,     0,      1,     1,  1000000,    1,    4,  7.5,  -7.5}
{13BMD:,  m118,   "asynMotor",   HEX1,  11,    "Hex Yaw",    deg,   Pos,      5.0,     0.,   1.0,     0,      1,     1,  1000000,    1,    4,  7.5,  -7.5}
{13BMD:,  m119,   "asynMotor",   HEX1,  12,      "Theta",    deg,   Pos,     45.0,     0.,   0.5,     0,      1,     1,   657778,    1,    4,  360,  -360}
}
