file "$(SSCAN)/db/scanParms.db"
{
{P=13BMD:,SCANREC=13BMD:scan1,Q=m113,POS=m113.VAL,RDBK=m113.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m114,POS=m114.VAL,RDBK=m114.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m115,POS=m115.VAL,RDBK=m115.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m116,POS=m116.VAL,RDBK=m116.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m117,POS=m117.VAL,RDBK=m117.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m118,POS=m118.VAL,RDBK=m118.RBV}
{P=13BMD:,SCANREC=13BMD:scan1,Q=m119,POS=m119.VAL,RDBK=m119.RBV}
}
