#MN: commented these out 21-March-2012
# {P,         M,          DTYP,  C,  S, DESC,  EGU,  DIR,  VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,     UREV,  PREC,  DHLM, DLLM}
# {13LAB2:,   m1,  "OMS VME58",  0,  0, "Hp",   mm,  Pos,   2.0,    0.1,    .5,     0,      0,    .0,   400, 0.222222,    4,    95,    5}
# {13LAB2:,   m2,  "OMS VME58",  0,  1, "Hw",   mm,  Pos,   2.0,    0.1,    .5,     0,      0,    .0,   400, 0.1607717,   4,    95,    5}
# {13LAB2:,   m3,  "OMS VME58",  0,  2, "Vp",   mm,  Pos,   2.0,    0.1,    .5,     0,     .0,    .0,   400, 0.222222,    4,   100, -100}
# {13LAB2:,   m4,  "OMS VME58",  0,  3, "Vw",   mm,  Pos,   2.0,    0.1,    .5,     0,     .0,    .0,   400,        2.,    4,   100, -100}
# {13LAB2:,   m5,  "OMS VME58",  0,  4, "m5",   mm,  Pos,   2.0,     .1,    1.,     0,     .0,    .0,   400,      1.33,    4,   101,   -1}
# {13LAB2:,   m6,  "OMS VME58",  0,  5, "m6",   mm,  Pos,     1,     .0,    1,      0,     .0,    .0,   400,   -.34737,    4,    40,    0}
# {13LAB2:,   m7,  "OMS VME58",  0,  6, "m7",   mm,  Pos,     1,     .0,    1,      0,     .0,    .0,   400,   -.34737,    4,    40,    0}
# {13LAB2:,   m8,  "OMS VME58",  0,  7, "m8",   mm,  Neg,    10,     .0,    .5,     0,     .0,    .0,   400,        .5,    3,   100,  -10}
# 

file "$(CARS)/db/motor.db"
{
pattern
{P,  M,  DTYP,  C,  S,    DESC,  EGU,  DIR,  VELO, VBAS, ACCL, BDST, BVEL, BACC, SREV, UREV, PREC, DHLM, DLLM}
# OFF=-4.097780
{13LAB2:, m1, "OMS VME58", 0, 0, "H IN  pos", mm, Pos, 2.00, 0.100, 0.500, 0.000, 0.100, 0.100, 400, 0.222222, 4, 95.00, -15.00}
# OFF=-0.142500
{13LAB2:, m2, "OMS VME58", 0, 1, "H IN  wid", mm, Pos, 2.00, 0.100, 0.500, 0.000, 0.100, 0.100, 400, 1.0000,   4, 95.00, -100.00}
{13LAB2:, m3, "OMS VME58", 0, 2, "V IN  pos", mm, Pos, 2.00, 0.100, 0.500, 0.000, 0.100, 0.100, 400, 0.222222, 4, 95.00, -15.00}
{13LAB2:, m4, "OMS VME58", 0, 3, "V IN  wid", mm, Pos, 2.00, 0.100, 0.500, 0.000, 0.100, 0.100, 400, 1.0000,   4, 95.00, -100.00}
# OFF=-3.100200,
{13LAB2:, m5, "OMS VME58", 0, 4, "H OUT pos", mm, Pos, 0.300, 0.0100, 1.00, 0.00, 0.0100, 0.100, 400, 0.156300, 4, 5.100200, 1.100200}
# OFF=-0.152468, NTM=1
{13LAB2:, m6, "OMS VME58", 0, 5, "H OUT wid", mm, Pos, 0.200, 0.0100, 1.00, 0.00, 0.0100, 0.100, 400, 0.108000, 4, 15.0000, -3.300}
# OFF=-5.564000, NTM=1
{13LAB2:, m7, "OMS VME58", 0, 6, "V OUT pos", mm, Pos, 0.300, 0.0100, 1.00, 0.00, 0.0100, 0.100, 400, 0.156300, 4, 7.564000, 3.564000}
# OFF=-0.439710, NTM=1
{13LAB2:, m8, "OMS VME58", 0, 7, "V OUT wid", mm, Pos, 0.200, 0.0100, 1.00, 0.00, 0.010, 0.100, 400, 0.108000, 4, 15.00, -0.800}
}


file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,           EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC, MRES,   RRES, PREC, DHLM, DLLM}
{13LAB2:,  pm1, "13LAB2:KBH:Done NPP NMS", "13LAB2:pm1DVAL.VAL PP MS", "13LAB2:KBH:Readback.G NPP NMS", "13LAB2:KBH:Stop PP MS",
"Height (Sum)",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
{13LAB2:,  pm2, "13LAB2:KBH:Done NPP NMS", "13LAB2:pm2DVAL.VAL PP MS", "13LAB2:KBH:Readback.H NPP NMS", "13LAB2:KBH:Stop PP MS",
"Pitch (Diff)",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
}

file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,       T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13LAB2:, KBH:,  pm1, pm2,     m3.VAL,   m3.RBV,  m4.VAL,  m4.RBV,  m3.STOP,  m3.DMOV,  m4.STOP,  m4.DMOV, 3}
}
