file "$(SSCAN)/db/scanParms.db"
{
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m1,POS=m1.VAL,RDBK=m1.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m2,POS=m2.VAL,RDBK=m2.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m3,POS=m3.VAL,RDBK=m3.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m4,POS=m4.VAL,RDBK=m4.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m5,POS=m5.VAL,RDBK=m5.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m6,POS=m6.VAL,RDBK=m6.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m7,POS=m7.VAL,RDBK=m7.RBV}
{P=13LAB2:,SCANREC=13LAB2:scan1,Q=m8,POS=m8.VAL,RDBK=m8.RBV}
}
