file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,          M,         DTYP,   PORT, ADDR,           DESC,     EGU, DIR,  VELO,  VBAS,  ACCL,  BDST,   BVEL, BACC,  SREV,  UREV,  PREC, DHLM,   DLLM}
{13AERO1:,   m1, "asynMotor", AeroE1,    0, "IDE_Rotation",     rev, Pos,     5,     0,    .2,     0,    0.1,   .1,  4000,   1.0,     4,   25,    -25}
}
