file "$(STD)/db/pid_control.db"
{
pattern
{P,      PID,       INP,                   OUT,       LOPR,  HOPR,  DRVL, DRVH, PREC,   KP,    KI,   KD,   SCAN}
{13LAB:, PID2,  13LAB:DMM1Ch4_calc.VAL, 13LAB:DAC1_2,   0,    100,     0,  100,   3,    .1,     1.,   0.,  ".5 second"}
}
