file ipApp/Db/IpUnidigLi.db ip
{
pattern
{P,       R,       C,   IPSLOT}
{13LAB:,  Unidig,  0,   b}
}

file ipApp/Db/IpUnidigBi.db
{
pattern
{P,       R,       BIT}
{13LAB:,  Unidig,  0}
{13LAB:,  Unidig,  1}
{13LAB:,  Unidig,  2}
{13LAB:,  Unidig,  3}
{13LAB:,  Unidig,  4}
{13LAB:,  Unidig,  5}
{13LAB:,  Unidig,  6}
{13LAB:,  Unidig,  7}
{13LAB:,  Unidig,  8}
{13LAB:,  Unidig,  9}
{13LAB:,  Unidig,  10}
{13LAB:,  Unidig,  11}
{13LAB:,  Unidig,  12}
{13LAB:,  Unidig,  13}
{13LAB:,  Unidig,  14}
{13LAB:,  Unidig,  15}
{13LAB:,  Unidig,  16}
{13LAB:,  Unidig,  17}
{13LAB:,  Unidig,  18}
{13LAB:,  Unidig,  19}
{13LAB:,  Unidig,  20}
{13LAB:,  Unidig,  21}
{13LAB:,  Unidig,  22}
{13LAB:,  Unidig,  23}
}

file ipApp/Db/IpUnidigBo.db
{
pattern
{P,       R,       C, IPSLOT, BIT}
{13LAB:,  Unidig,  0,    b,    0}
{13LAB:,  Unidig,  0,    b,    1}
{13LAB:,  Unidig,  0,    b,    2}
{13LAB:,  Unidig,  0,    b,    3}
{13LAB:,  Unidig,  0,    b,    4}
{13LAB:,  Unidig,  0,    b,    5}
{13LAB:,  Unidig,  0,    b,    6}
{13LAB:,  Unidig,  0,    b,    7}
{13LAB:,  Unidig,  0,    b,    8}
{13LAB:,  Unidig,  0,    b,    9}
{13LAB:,  Unidig,  0,    b,    10}
{13LAB:,  Unidig,  0,    b,    11}
{13LAB:,  Unidig,  0,    b,    12}
{13LAB:,  Unidig,  0,    b,    13}
{13LAB:,  Unidig,  0,    b,    14}
{13LAB:,  Unidig,  0,    b,    15}
{13LAB:,  Unidig,  0,    b,    16}
{13LAB:,  Unidig,  0,    b,    17}
{13LAB:,  Unidig,  0,    b,    18}
{13LAB:,  Unidig,  0,    b,    19}
{13LAB:,  Unidig,  0,    b,    20}
{13LAB:,  Unidig,  0,    b,    21}
{13LAB:,  Unidig,  0,    b,    22}
{13LAB:,  Unidig,  0,    b,    23}
}
