# Just to load the Jadd data base.
#
file "$(CARS)/CARSApp/Db/Jadd.db"
{
pattern
{P,      JA,	m1,	transform,	addvar1}
{13LAB:, JA:,	m1,	transform,	addvar1}
{13LAB:, JA:,	m3,	transform2,	addvar2}

}


