# To find the slide position with the minimum angle error.
# To practice writing a .db control system.

#----- Read the Laser Autocollimator -------
file "$(CARS)/CARSApp/Db/JLAE500.db"
{
pattern
{P,     R,	PORT}
{13LAB:, JAM:,serial2}

}
#--  All the control variable dbs and the main body of functions calc etc.
file "$(CARS)/CARSApp/Db/JAngleMinimize.db"
{
pattern
{P,     JAM}
{13LAB:, JAM:}

}

