# Just to load the JDataStore for 2 axis .
#
file "$(CARS)/CARSApp/Db/JDataStore.db"
{
pattern
{P,      JD,	data,	scandata}
{13LAB:, JD:,	data2,	13LAB:scan1.D01DA}
{13LAB:, JD:,	data3,	13LAB:scan1.D02DA}
{13LAB:, JD:,	data1,	13LAB:scan1.P1RA}

}

#file "$(CARS)/CARSApp/Db/Jblankao.db"
#{
#pattern
#{P,  	JD,	name}
#{13LAB:,JD:,resetcounter}	
#}
