file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,       M,       DTYP,      C,     S,          DESC,    EGU,   DIR,  VELO,   VBAS,     ACCL,  BDST,   BVEL,  BACC,  SREV,     UREV,  PREC,  DHLM, DLLM}
# Diffractometer bench slits		       		  	      	     	   	       
#{13LAB:, m1, "OMS VME58",    0, 0, "Hw UpStream",      microns, Pos,    200,     0,        1,     0,     1,     .2,   10240,    -1000,   0,   5100, -100}
{13LAB:,  m1,  "OMS VME58",  0,   0,  "Huntington",       mm,     Pos,  100.0,   10,        .2,    0,      1,    .2,    200,      1.27,   1,    8e3,   -10000}
#{13LAB:, m2, "OMS VME58",    0,  1, "Hp UpStream",      microns, Pos,    100,     0,        1,     0,     1,     .2,   10240,    -500,    0,  10100, -100}
{13LAB:, m2,  "OMS VME58",   0,  1,      "Microscope Y",    microns, Pos,  50,     0,        1,     0,     1,     .2,   10240,    -1000,   0,   5100, -100}
{13LAB:, m3, "OMS VME58",    0, 2, "Vw UpStream",      microns, Pos,    200,     0,        1,     0,     1,     .2,   10240,    -1000,   0,   5100, -100}
{13LAB:, m4, "OMS VME58",    0, 3, "Vp UpStream",      microns, Pos,    100,     0,        1,     0,     1,     .2,   10240,    -500,    0,  10100, -100}
{13LAB:, m5, "OMS VME58",    0, 4, "Hw DownStream",    microns, Pos,    200,     0,        1,     0,     1,     .2,   10240,    -1000,   3,   5100, -100}
{13LAB:, m6, "OMS VME58",    0, 5, "Hp DownStream",    microns, Pos,    200,     0,        1,     0,     1,     .2,   10240,    -500,    3,  10100, -100}
{13LAB:, m7, "OMS VME58",    0, 6, "Vw DownStream",    microns, Pos,    200,     0,        1,     0,     1,     .2,   10240,    -1000,   3,   5100, -100}
{13LAB:, m8, "OMS VME58",    0, 7, "Vp DownStream",    microns, Pos,    200,     0,        1,     0,     1,     .2,   10240,    -500,    3,  10100, -100}
{13LAB:,  m9     "ACS MCB-4B",   0,    0, "Motor 9",    steps,   Pos,   2000,     0,       .2,     0,      1,     .2,    1,       1,      0,      1e6, -1e6}
{13LAB:,  m10     "ACS MCB-4B",  0,    1, "Motor 10",   steps,   Pos,   2000,     0,       .2,     0,      1,     .2,    1,       1,      0,      1e6, -1e6}
{13LAB:,  m11     "ACS MCB-4B",  0,    2, "Motor 11",   steps,   Pos,   2000,     0,       .2,     0,      1,     .2,    1,       1,      0,      1e6, -1e6}
{13LAB:,  m12     "ACS MCB-4B",  0,    3, "Motor 12",   steps,   Pos,   2000,     0,       .2,     0,      1,     .2,    1,       1,      0,      1e6, -1e6}
#
{13LAB:, m13, "MM4000",    0, 0, "Omega",    degrees,  Pos,  10.0,  .1,   1., 0,  1,  .2,  1,  .001,    4,   180, -180}
{13LAB:, m14, "MM4000",    0, 1, "Kappa",    degrees,  Pos,  60.0,  .1,   1.5, 0,  1,  .2,  1,  .001,    4,   180, -180}
{13LAB:, m15, "MM4000",    0, 2, "Phi",      degrees,  Pos,  60.0,  .1,   1., 0,  1,  .2,  1,  .001,    3,   180, -180}
{13LAB:, m16, "MM4000",    0, 3, "Unused",   degrees,  Pos,  60.0,  .1,   1., 0,  1,  .2,  1,  .001,    3,   180, -180}
}

#file "$(STD)/stdApp/Db/table.db"
#{
#pattern
#{P,          Q,      T,  M0X,  M1X,    M2X,    M0Y,   M1Y,    M2Y,   M2Z,  GEOM}
#{13LAB:, MON:T1, MON:t1, junk, junk,   junk,   m2,    m1,     m3,    junk,    SRI}
#}

# Pseudo-motors
file "$(CARS)/CARSApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,     DESC, EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL,                    BACC, MRES,   RRES, PREC,  DHLM, DLLM}
{13LAB:,  pm1, "13LAB:KBV:Done NPP NMS", "13LAB:pm1DVAL.VAL PP MS", "13LAB:KBV:Readback.G NPP NMS", "13LAB:KBV:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
{13LAB:,  pm2, "13LAB:KBV:Done NPP NMS", "13LAB:pm2DVAL.VAL PP MS", "13LAB:KBV:Readback.H NPP NMS", "13LAB:KBV:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
}
#
file "$(CARS)/CARSApp/Db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,   M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13LAB:, KBV:,  pm1, pm2,    m5.VAL,   m5.RBV,  m6.VAL,  m6.RBV,  m5.STOP,  m5.DMOV,  m6.STOP,  m6.DMOV, 1}
}


file "$(STD)/stdApp/Db/scanParms.db"
{
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1X,POS=MON:t1.X,RDBK=MON:t1.XRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1Y,POS=MON:t1.Y,RDBK=MON:t1.YRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1Z,POS=MON:t1.Z,RDBK=MON:t1.ZRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1AX,POS=MON:t1.AX,RDBK=MON:t1.AXRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1AY,POS=MON:t1.AY,RDBK=MON:t1.AYRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1AZ,POS=MON:t1.AZ,RDBK=MON:t1.AZRB}
}

