file "$(CARS)/db/motor.db"
{
pattern 
{P,       M,        DTYP,   C, S, DESC,       EGU,   DIR,  VELO,   VBAS,   ACCL,  BDST, BVEL, BACC,   SREV,   UREV, PREC,   DHLM,   DLLM}
{13LAB:, m1, "OMS VME58",   0, 0, "Kozhu_X",   mm,   Pos,   0.3,   0.01,     1.,     0,   .0,   .0,   1000,     1.,    4,    100,   -100}
{13LAB:, m2, "OMS VME58",   0, 1, "Vp",        mm,   Pos,   0.3,   0.01,     1.,     0,    0,    0,    400,  .1563,    4,     10,    -10}
{13LAB:, m3, "OMS VME58",   0, 2, "Vw",        mm,   Pos,   0.2,   0.01,     1.,     0,   .0,   .0,    400,  .1080,    4,     10,    -10}
{13LAB:, m4, "OMS VME58",   0, 3, "Fu_111",    mm,   Pos,   0.2,    0.0,    0.2,     0,  0.2,  0.2,  10240,    0.5,    4,  10100,   -1000}
{13LAB:, m5, "OMS VME58",   0, 4, "Fd",        mm,   Pos,   0.5,    0.0,    0.2,     0,  0.2,  0.2,    384, 0.3048,    4,  10100,   -1000}
{13LAB:, m6, "OMS VME58",   0, 5, "Fu",        mm,   Pos,   0.5,    0.0,    0.2,     0,  0.2,  0.2,    384, 0.3048,    4,  10100,   -1000}
{13LAB:, m7, "OMS VME58",   0, 6, "Vp Detector",  microns,  Neg,    100,    100,   .2,     0,    1,     .2,   2064,          250,    1,   5100,   -100}
{13LAB:, m8, "OMS VME58",   0, 7, "Vw Detector",  microns,  Pos,    200,    100,   .2,   200,    1,     .2,   2064,          635,    1,  10100,   -100}
{13LAB:, m9,  "OMS MAXv",   0, 0, "M9",        mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m10, "OMS MAXv",   0, 1, "M10",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m11, "OMS MAXv",   0, 2, "M11",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m12, "OMS MAXv",   0, 3, "M12",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m13, "OMS MAXv",   0, 4, "M13",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m14, "OMS MAXv",   0, 5, "M14",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m15, "OMS MAXv",   0, 6, "M15",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m16, "OMS MAXv",   0, 7, "M16",       mm,   Pos,   1.0,    0.1,     .5,     0,    1,   .2,    200,   0.10,     4,     95,      5}
{13LAB:, m17, "ACS MCB-4B", 0, 0, "Pilatus X", mm,   Pos,  10.0,    1.0,     .1,     0,    1,   .2,   1600,   5.08,     3,      1e6, -1e6}
{13LAB:, m18, "ACS MCB-4B", 0, 1, "Pilatus Y", mm,   Neg,   3.0,    1.0,     .1,     0,    1,   .2,   1600,   1.00,     3,      1e6, -1e6}
{13LAB:, m19, "ACS MCB-4B", 0, 2, "Pilatus Z", mm,   Pos,  20.0,    1.0,     .1,     0,    1,   .2,   1600,   5.00,     3,      1e6, -1e6}
{13LAB:, m20, "ACS MCB-4B", 0, 3, "Motor 12",  mm,   Pos,  2000,      0,     .2,     0,    1,   .2,      1,      1,     3,      1e6, -1e6}
#
#{13LAB:, m21, "MM4000",    0, 0, "Omega",    degrees,  Pos,  10.0,  .1,   1., 0,  1,  .2,  1,  .001,    4,   180, -180}
#{13LAB:, m22, "MM4000",    0, 1, "Kappa",    degrees,  Pos,  60.0,  .1,   1.5, 0,  1,  .2,  1, .001,    4,   180, -180}
#{13LAB:, m23, "MM4000",    0, 2, "Phi",      degrees,  Pos,  60.0,  .1,   1., 0,  1,  .2,  1,  .001,    3,   180, -180}
#{13LAB:, m24, "MM4000",    0, 3, "Unused",   degrees,  Pos,  60.0,  .1,   1., 0,  1,  .2,  1,  .001,    3,   180, -180}
}

# Huber stage with stepper  motors on MAXv
# 48 half steps per rev of motor, 141:1 gearhead, 1mm pitch leadscrew
#file "$(CARS)/db/motor.db"
#{
#pattern 
#{P,       M,    DTYP,      C, S, DESC,      EGU,       DIR,  VELO,   VBAS,   ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV,  PREC,   DHLM,   DLLM}
#{13LAB:, m25, "OMS MAXv",  0, 0, "Tilt1",   degrees,   Pos,   .30,      0,     .2,     0,      1,    .2,   6768,    1.0,     4,     20,    -20}
#{13LAB:, m26, "OMS MAXv",  0, 1, "Tilt2",   degrees,   Pos,   .30,      0,     .2,     0,      1,    .2,   6768,    1.0,     4,     20,    -20}
#{13LAB:, m27, "OMS MAXv",  0, 2, "X",       mm,        Pos,   .30,      0,     .2,     0,      1,    .2,   6768,    1.0,     4,      8,     -8}
#{13LAB:, m28, "OMS MAXv",  0, 3, "Y",       mm,        Pos,   .30,      0,     .2,     0,      1,    .2,   6768,    1.0,     4,      8,     -8}
#}

# Huber stage with DC server motors on MAXv
#file "$(CARS)/db/dc_motor.db"
#{
#pattern 
#{P,       M,    DTYP,      C, S, DESC,      EGU,       DIR,  VELO,   VBAS,   ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV,  PREC,   DHLM,   DLLM,  PCOF,  ICOF,  DCOF}
#{13LAB:, m25, "OMS MAXv",  0, 0, "Tilt1",   degrees,   Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,     20,    -20,   0.6,  0.01,   0.0}
#{13LAB:, m26, "OMS MAXv",  0, 1, "Tilt2",   degrees,   Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,     20,    -20,   0.6,  0.01,   0.0}
#{13LAB:, m27, "OMS MAXv",  0, 2, "X",       mm,        Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,      8,     -8,   0.6,  0.01,   0.0}
#{13LAB:, m28, "OMS MAXv",  0, 3, "Y",       mm,        Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,      8,     -8,   0.6,  0.01,   0.0}
#{13LAB:, m29, "OMS MAXv",  0, 4, "M29",     mm,        Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,      8,     -8,   0.6,  0.01,   0.0}
#{13LAB:, m30, "OMS MAXv",  0, 5, "M30",     mm,        Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,      8,     -8,   0.6,  0.01,   0.0}
#{13LAB:, m31, "OMS MAXv",  0, 6, "M31",     mm,        Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,      8,     -8,   0.6,  0.01,   0.0}
#{13LAB:, m32, "OMS MAXv",  0, 7, "M32",     mm,        Pos,   .07,      0,     .2,     0,      1,    .2,   2000,    1.0,     4,      8,     -8,   0.6,  0.01,   0.0}
#}

#file "$(MOTOR)/db/basic_asyn_motor.db"
#{
#pattern
#{P,        N,  M,      DTYP,           PORT, ADDR,  DESC,      EGU,   DIR,  VELO,  VBAS,  ACCL,  BDST,  BVEL,  BACC,  MRES,  PREC,  DHLM,  DLLM,  INIT}
#{13LAB:,  33,  m$(N),  "asynMotor",   XPS1,  0,  "motor $(N)",  mm,   Pos,  .3,     .1,    .2,    0,     1,     .2,    0.000048828,  5,   62.5,  50,      ""}
#{13LAB:,  34,  m$(N),  "asynMotor",   XPS1,  1,  "motor $(N)",  mm,   Pos,  .3,     .1,    .2,    0,     1,     .2,    0.000147750,  5,     10,   0,      ""}
#{13LAB:,  35,  m$(N),  "asynMotor",   XPS1,  2,  "motor $(N)",  mm,   Pos,  .3,     .1,    .2,    0,     1,     .2,    0.000048828,  5,   62.5,  50,      ""}
#}
#file "$(MOTOR)/db/XPS_extra.db"
#{
#pattern
#{P,        R,  PORT,  ADDR}
#{13LAB:,  m33, XPS1,  0}
#{13LAB:,  m34, XPS1   1}
#{13LAB:,  m35, XPS1   2}
#}

#file "$(OPTICS)/opticsApp/Db/table.db"
#{
#pattern
#{P,          Q,      T,  M0X,  M1X,    M2X,    M0Y,   M1Y,    M2Y,   M2Z,  GEOM}
#{13LAB:, MON:T1, MON:t1, junk, junk,   junk,   m2,    m1,     m3,    junk,    SRI}
#}

# Pseudo-motors
file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,     DESC, EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL,                    BACC, MRES,   RRES, PREC,  DHLM, DLLM}
{13LAB:,  pm1, "13LAB:KBV:Done NPP NMS", "13LAB:pm1DVAL.VAL PP MS", "13LAB:KBV:Readback.G NPP NMS", "13LAB:KBV:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
{13LAB:,  pm2, "13LAB:KBV:Done NPP NMS", "13LAB:pm2DVAL.VAL PP MS", "13LAB:KBV:Readback.H NPP NMS", "13LAB:KBV:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .1,     1.0,  3,    10000, -10000}
}
#
file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,   M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13LAB:, KBV:,  pm1, pm2,    m7.VAL,   m7.RBV,  m8.VAL,  m8.RBV,  m7.STOP,  m7.DMOV,  m8.STOP,  m8.DMOV, 1}
}


file "$(SSCAN)/db/scanParms.db"
{
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1X,POS=MON:t1.X,RDBK=MON:t1.XRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1Y,POS=MON:t1.Y,RDBK=MON:t1.YRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1Z,POS=MON:t1.Z,RDBK=MON:t1.ZRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1AX,POS=MON:t1.AX,RDBK=MON:t1.AXRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1AY,POS=MON:t1.AY,RDBK=MON:t1.AYRB}
{P=13LAB:,SCANREC=13LAB:scan1,Q=MON:T1AZ,POS=MON:t1.AZ,RDBK=MON:t1.AZRB}
}

