file ipApp/Db/fast_pid_control.db ip
{
pattern
{P,      PID,   C,  SERVER,     LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,  KI,   KD,  DT, SCAN}
{13LAB:, PID2,  1, Ip330PID_1,  0,    65535,  1024,  3072,   3,    .02,  100.,  0., .001, ".1 second"}
}
