file mcaApp/Db/simple_mca.db mca
{
pattern
{P,           M,          DTYP,           INP, PREC, CHANS}
{13LAB:str:  mca1, "Struck STR7201 MCS", "#C0 S0", 3,  2048}
{13LAB:str:  mca2, "Struck STR7201 MCS", "#C0 S1", 3,  2048}
{13LAB:str:  mca3, "Struck STR7201 MCS", "#C0 S2", 3,  2048}
{13LAB:str:  mca4, "Struck STR7201 MCS", "#C0 S3", 3,  2048}
{13LAB:str:  mca5, "Struck STR7201 MCS", "#C0 S4", 3,  2048}
{13LAB:str:  mca6, "Struck STR7201 MCS", "#C0 S5", 3,  2048}
{13LAB:str:  mca7, "Struck STR7201 MCS", "#C0 S6", 3,  2048}
{13LAB:str:  mca8, "Struck STR7201 MCS", "#C0 S7", 3,  2048}
{13LAB:str:  mca9, "Struck STR7201 MCS", "#C0 S8", 3,  2048}
{13LAB:str:  mca10, "Struck STR7201 MCS", "#C0 S9", 3,  2048}
{13LAB:str:  mca11, "Struck STR7201 MCS", "#C0 S10", 3,  2048}
{13LAB:str:  mca12, "Struck STR7201 MCS", "#C0 S11", 3,  2048}
{13LAB:str:  mca13, "Struck STR7201 MCS", "#C0 S12", 3,  2048}
{13LAB:str:  mca14, "Struck STR7201 MCS", "#C0 S13", 3,  2048}
{13LAB:str:  mca15, "Struck STR7201 MCS", "#C0 S14", 3,  2048}
{13LAB:str:  mca16, "Struck STR7201 MCS", "#C0 S15", 3,  2048}
{13LAB:str:  mca17, "Struck STR7201 MCS", "#C0 S16", 3,  2048}
{13LAB:str:  mca18, "Struck STR7201 MCS", "#C0 S17", 3,  2048}
{13LAB:str:  mca19, "Struck STR7201 MCS", "#C0 S18", 3,  2048}
{13LAB:str:  mca20, "Struck STR7201 MCS", "#C0 S19", 3,  2048}
{13LAB:str:  mca21, "Struck STR7201 MCS", "#C0 S20", 3,  2048}
{13LAB:str:  mca22, "Struck STR7201 MCS", "#C0 S21", 3,  2048}
{13LAB:str:  mca23, "Struck STR7201 MCS", "#C0 S22", 3,  2048}
{13LAB:str:  mca24, "Struck STR7201 MCS", "#C0 S23", 3,  2048}
{13LAB:str:  mca25, "Struck STR7201 MCS", "#C0 S24", 3,  2048}
{13LAB:str:  mca26, "Struck STR7201 MCS", "#C0 S25", 3,  2048}
{13LAB:str:  mca27, "Struck STR7201 MCS", "#C0 S26", 3,  2048}
{13LAB:str:  mca28, "Struck STR7201 MCS", "#C0 S27", 3,  2048}
{13LAB:str:  mca29, "Struck STR7201 MCS", "#C0 S28", 3,  2048}
{13LAB:str:  mca30, "Struck STR7201 MCS", "#C0 S29", 3,  2048}
{13LAB:str:  mca31, "Struck STR7201 MCS", "#C0 S30", 3,  2048}
{13LAB:str:  mca32, "Struck STR7201 MCS", "#C0 S31", 3,  2048}
}
