file "$(ASYN)/db/asynRecord.db"
{
pattern
{P         R        PORT    ADDR    OMAX  IMAX}
{13LU:   serial1   serial1    0     80     80}
{13LU:   serial2   serial2    0     80     80}
{13LU:   serial3   serial3    0     80     80}
{13LU:   serial4   serial4    0     80     80}
}
