file "$(ASYN)/db/asynRecord.db"
{
pattern
{P            R         PORT    ADDR    OMAX  IMAX}
{13Mirror:     serial4   serial4    0     80  80}
{13Mirror:     serial5   serial5    0     80  80}
{13Mirror:     serial6   serial6    0     80  80}
{13Mirror:     serial7   serial7    0     80  80}
}
