file "$(CARS)/db/asynMotor.db"
{
pattern
{P,         M,     DTYP,     PORT,   ADDR,   DESC,        EGU,    DIR,  VELO,   VBAS,   ACCL,  BDST,   BVEL,   BACC,   SREV,    UREV,  PREC,  DHLM, DLLM}
# Note: this UT100 stage seems strange, it is moving twice as far per step as all others, so UREV=-.2, rather than -.1
{13Mirror:, m1, "asynMotor", "Agilis1", 0, "Dn_hor",       deg,    Pos,    0.5,   0.1,     .25,    0,      1,     .2,      1,  0.0001,    4,    7.5,    -7.5}
{13Mirror:, m2, "asynMotor", "Agilis2", 0, "Dn_ver",       deg,    Pos,    0.5,   0.1,     .25,    0,      1,     .2,      1,  0.0001,    4,    7.5,    -7.5}
{13Mirror:, m3, "asynMotor", "Agilis3", 0, "Up_hor",       deg,    Pos,    0.5,   0.1,     .25,    0,      1,     .2,      1,  0.0001,    4,    7.5,    -7.5}
{13Mirror:, m4, "asynMotor", "Agilis4", 0, "Up_ver",       deg,    Pos,    0.5,   0.1,     .25,    0,      1,     .2,      1,  0.0001,    4,    7.5,    -7.5}
}

