file "$(CARS)/db/GSE_MonoEnergy.db"
{
pattern
{P,      MONO,   DESC,           EGU,  PREC,  SCANREC,     USEID,   ID,       TWEAK}
{13IDE:,  En,  "Energy (ID-E)",   eV,    5,   13IDA:scan1,     1,   ID13us:,  10.00}
}
