# XPS Stages
file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,      N,   M,     DTYP,    PORT, ADDR, DESC,       EGU,  DIR, VELO, VBAS, ACCL, BDST,BVEL,BACC, SREV,  UREV,      PREC,  DHLM,   DLLM}
{13IDA:, 1, m65, "asynMotor", XPS1, 0,   "Theta",     deg,  Pos,  1.0,   0,   0.5,   0,   1, .2,    1,   0.0001,          4,   40,      -5}
# 200 full steps/rev, 25:1 gear box, 1mm lead screw pitch = 1mm/200/25= .0002
{13IDA:, 2, m66, "asynMotor", XPS1, 1,   "Height",     mm,  Pos,  0.3,   0,   0.5,   0,   1, .2,    1,   0.0002,          4,    8,       0}
# 200 full steps/rev, 28:1 gear box, 1mm lead screw pitch = 1mm/200/28= 0.0001785714
{13IDA:, 3, m67, "asynMotor", XPS1, 2,   "Pitch",      mm,  Pos,  0.3,   0,   0.5,   0,   1, .2,    1,   0.0001785714,    4,    4,       0}
# 200 full steps/rev, 28:1 gear box, 1mm lead screw pitch = 1mm/200/28= 0.0001785714
{13IDA:, 4, m68, "asynMotor", XPS1, 3,   "Roll",       mm,  Pos,  0.2,   0,   0.5,   0,   1, .2,    1,   0.0001785714,    4,    4,       0}
{13IDA:, 5, m69, "asynMotor", XPS1, 4,   "Hp",         mm,  Neg,  0.2,   0,   0.5,   0,   1, .2,    1,   0.0002,          4,    8,       0}
{13IDA:, 6, m70, "asynMotor", XPS1, 5,   "Hw",         mm,  Neg,  0.2,   0,   0.5,   0,   1, .2,    1, 0.00027778,        4,    8,       0}
{13IDA:, 7, m71, "asynMotor", XPS1, 6,   "Vp",         mm,  Pos,  0.2,   0,   0.5,   0,   1, .2,    1,   0.0002,          4,    8,       0}
{13IDA:, 8, m72, "asynMotor", XPS1, 7,   "Vw",         mm,  Neg,  0.2,   0,   0.5,   0,   1, .2,    1, 0.00027778,        4,    8,       0}
}

file "$(MOTOR)/motorApp/Db/XPS_extra.db"
{
pattern
{P,     R,  PORT,  ADDR}
{13IDA:,  m65, XPS1,  0}
{13IDA:,  m66, XPS1,  1}
{13IDA:,  m67, XPS1,  2}
{13IDA:,  m68, XPS1,  3}
{13IDA:,  m69, XPS1,  4}
{13IDA:,  m70, XPS1,  5}
{13IDA:,  m71, XPS1,  6}
{13IDA:,  m72, XPS1,  7}
}



