file "$(SSCAN)/db/scanParms.db"
{
{P=13IDA:,SCANREC=13IDA:scan1,Q=m65,POS=m65.VAL,RDBK=m65.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m66,POS=m66.VAL,RDBK=m66.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m67,POS=m67.VAL,RDBK=m67.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m68,POS=m68.VAL,RDBK=m68.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m69,POS=m69.VAL,RDBK=m69.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m70,POS=m70.VAL,RDBK=m70.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m71,POS=m71.VAL,RDBK=m71.RBV}
{P=13IDA:,SCANREC=13IDA:scan1,Q=m72,POS=m72.VAL,RDBK=m72.RBV}
}
