file "$(CARS)/CARSApp/Db/motor.db"
{
pattern
{P,         M,      DTYP,    C,   S,     DESC,     EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV, PREC, DHLM, DLLM}
{13ESP:,   m1,   "ESP300",   0,   0,     "X",      mm,    Pos,     4,      0,    1.0,    0,      1,     .2,  20000,     1.0,    4,  100,   -100}
# 200 steps/rev, 100 microsteps/step, 1.0 mm pitch leadscrew
{13ESP:,   m2,   "ESP300",   0,   1,     "Y",      mm,    Pos,     4,      0,    1.0,    0,      1,     .2,  20000,     1.0,    4,   25,    -25}
{13ESP:,   m3,   "ESP300",   0,   2,     "Z",      mm,    Neg,     4,      0,    1.0,    0,      1,     .2,  20000,     0.5,    4,    0,     25}
}
