file dac128VApp/Db/singleDAC.db, dac128v
{
pattern
{P,      D, N, C, IPSLOT, S,  EGUL,  DRVL, LOPR, EGUF, DRVH, HOPR, PREC, LINR,    VAL}
{13BMA:, 1, 1, 0,   d,    0,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 2, 0,   d,    1,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 3, 0,   d,    2,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 4, 0,   d,    3,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 5, 0,   d,    4,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 6, 0,   d,    5,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 7, 0,   d,    6,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
{13BMA:, 1, 8, 0,   d,    7,  -5.0,  -5.0,  -5.0,   5.,   5.,   5.,  3,  LINEAR,   0}
}
