file CARSApp/Db/motor.db, top
{
pattern
{P,       M,    DTYP,          C,    S,   DESC,         EGU,      DIR,   VELO,  VBAS,  ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV,   PREC,   DHLM,   DLLM}
{13BMA:,  m1,   "OMS VME58",   0,    0, "Top slit",     mm,       Neg,   1.0,   .1,     .2,    0,      1,     .2,     400,    0.50,   3,      50,     0}
{13BMA:,  m2,   "OMS VME58",   0,    1, "Bottom slit",  mm,       Neg,   1.0,   .1,     .2,    0,      1,     .2,     400,    0.50,   3,      50,     0}
{13BMA:,  m3,   "OMS VME58",   0,    2, "Inboard slit", mm,       Neg,   1.0,   .1,     .2,    0,      1,     .2,     400,    0.50,   3,      50,     -4.}
{13BMA:,  m4,   "OMS VME58",   0,    3, "Outboard slit",mm,       Neg,   1.0,   .1,     .2,    0,      1,     .2,     400,    0.50,   3,      50,     -4.}
{13BMA:,  m5,   "OMS VME58",   0,    4, "BM-D filters", mm,       Pos,   2.0,   .1,     .2,    0,      1,     .2,     400,   -0.50,   3,     100,     -1}
{13BMA:,  m6,   "OMS VME58",   0,    5, "Motor 6",      steps,    Pos,   100.,   1.,    .2,    0,      1,     .2,     400,  0.0025,   1,     1e6,   -1e6}
{13BMA:,  m7,   "OMS VME58",   0,    6, "Motor 7",      steps,    Pos,   100.,   1.,    .2,    0,      1,     .2,     400,  0.0025,   1,     1e6,   -1e6}
{13BMA:,  m8,   "OMS VME58",   0,    7, "Diagnostic Flag", mm,    Neg,    0.5,  0.5,    .2,    0,    0.5,     .2,     400,   0.635,   3,     1e6, -1e6}
{13BMA:,  m9,   "OMS VME58",   1,    0, "Motor 9",      steps,    Pos,   100.,   1.,    .2,    0,      1,     .2,     400,  0.0025,   1,     1e6,   -1e6}
{13BMA:,  m10,  "OMS VME58",   1,    1, "Y-Out",        mm,       Neg,    .5,     .0,      1.5,   0.2,    .05,   1.5,  2000,  .347368,     4,    10,    0}
{13BMA:,  m11,  "OMS VME58",   1,    2, "Y-In",         mm,       Neg,    .5,     .0,      1.5,   0.2,    .05,   1.5,  2000,  .347368,     4,    10,    0}
{13BMA:,  m12,  "OMS VME58",   1,    3, "Y-Up",         mm,       Neg,    .5,     .0,      1.5,   0.2,    .05,   1.5,  2000,  .882353,     4,    10,    0}
{13BMA:,  m13,  "OMS VME58",   1,    4, "Cage Y",       mm,       Neg,    .5,     .0,      1.5,     0,     .1,   1.5,  5000,       2.,     3,    25,    0}
{13BMA:,  m14,  "OMS VME58",   1,    5, "Xtal Z",       mm,       Pos,    4.,     .1,      1.5,     0,     .5,    .2,  2000,      2.0,     3,   150,    0}
{13BMA:,  m15,  "OMS VME58",   1,    6, "Motor 15",     steps,    Pos,   100.,    1,    .2,    0,      1,     .2,     400,   .0025,   1,     1e6, -1e6}
{13BMA:,  m16,  "OMS VME58",   1,    7, "Motor 16",     steps,    Pos,   100.,    1,    .2,    0,      1,     .2,     400,   .0025,   1,     1e6, -1e6}
{13BMA:,  m17,  "Mclennan PM304",0,  0, "Monochromator", degrees, Pos,     1.,   0.,    .2,    0,      1,     .2,   20000,       1,   4,      50,   -50}
{13BMA:,  m18,  "OMS VME58",   2,    0, "Upstream moment",  mm,   Pos,     1,      .0,       1,     0,       .0,    .0,  2000,   -.34737,  4,    40,     0}
{13BMA:,  m19,  "OMS VME58",   2,    1, "Downstream moment",mm,   Pos,     1,      .0,       1,     0,       .0,    .0,  2000,   -.34737,  4,    40,     0}
{13BMA:,  m20,  "OMS VME58",   2,    2, "Upstream Pitch",   mm,   Neg,    .5,      .0,       2.,    0,       .0,    .0,  400,     .016071, 4,    100,    0}
{13BMA:,  m21,  "OMS VME58",   2,    3, "Downstream Pitch", mm,   Neg,    .5,      .0,       2.,    0,       .0,    .0,  400,     .016071, 4,    100,    0}
{13BMA:,  m22,  "OMS VME58",   2,    4, "Upstream Translation",mm,Pos,     1,      .0,     .5,     0,       .0,    .0,  400,      .02,   2,    101,  -1}
{13BMA:,  m23,  "OMS VME58",   2,    5, "Downstream Translation",mm,Pos,   1,      .0,     .5,     0,       .0,    .0,  400,   .02,   2,   101,   -1}
{13BMA:,  m24,  "OMS VME58",   2,    6, "BMB top slit", mm,       Neg,    2.,    .1,     0,    0.2,      0.05,     1.5,     400,    0.50,   3,     50,       0}
{13BMA:,  m25,  "OMS VME58",   2,    7, "BMB bottom slit", mm,    Neg,    2.,    .1,     0,    0.2,      0.05,     1.5,     400,    0.50,   3,     50,       0}
}

file stdApp/Db/2slit.db, std
{
pattern
{P,      SLIT,    mXp,  mXn}
{13BMA:, Slit1V,   m1,   m2}
{13BMA:, Slit1H,   m4,   m3}
}

file stdApp/Db/2slit.db, std
{
pattern
{P,      SLIT,    mXp,  mXn}
{13BMA:, Slit2V,   m24,  m25}
}

file stdApp/Db/table.db, std
{
pattern
{P,          Q,      T,  M0X,  M1X,    M2X,    M0Y,   M1Y,    M2Y,   M2Z,  GEOM}
{13BMA:, MON:T1, MON:t1, junk, junk,   junk,   m11,   m10,    m12,   m14,   SRI}
}


#file stdApp/Db/table.db, std
#{
#pattern
#{P,            Q,      T,   M0X,   M0Y,    M1Y,    M2X,   M2Y,   M2Z,	GEOM}
#{13BMA:, VMIR:T1,VMIR:t1,   m23,  junk,   junk,    m22,  junk,  junk,    SRI}
#}


file stdApp/Db/scanParms.db, std
{
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Hp,POS=Slit1Hxp.VAL,RDBK=Slit1Ht2.A}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Hn,POS=Slit1Hxn.VAL,RDBK=Slit1Ht2.B}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Hsize,POS=Slit1Hsize.VAL,RDBK=Slit1Ht2.C}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Hcenter,POS=Slit1Hcenter.VAL,RDBK=Slit1Ht2.D}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Vp,POS=Slit1Vxp.VAL,RDBK=Slit1Vt2.A}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Vn,POS=Slit1Vxn.VAL,RDBK=Slit1Vt2.B}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Vsize,POS=Slit1Vsize.VAL,RDBK=Slit1Vt2.C}
{P=13BMA:,SCANREC=13BMD:scan1,Q=Slit1Vcenter,POS=Slit1Vcenter.VAL,RDBK=Slit1Vt2.D}
}

file CARSApp/Db/Energy.db, top
{
pattern
{P,      EN,   DESC,     EGU,  PREC,  SCANREC,       USEID,  TWEAK}
{13BMA:,  E,  "Energy",   eV,    4,   13BMA:scan1,       0,   1.00}
}

file CARSApp/Db/pseudoMotor.db, top
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,              EGU,  DIR, VELO,  VBAS, ACCL, BDST, BVEL, BACC, MRES, RRES, PREC, DHLM,   DLLM}
{13BMA:,  pm1, "13BMA:KBVB:Done NPP NMS", "13BMA:pm1DVAL.VAL PP MS", "13BMA:KBVB:Readback.G NPP NMS", "13BMA:KBVB:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm2, "13BMA:KBVB:Done NPP NMS", "13BMA:pm2DVAL.VAL PP MS", "13BMA:KBVB:Readback.H NPP NMS", "13BMA:KBVB:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm3, "13BMA:KBVP:Done NPP NMS", "13BMA:pm3DVAL.VAL PP MS", "13BMA:KBVP:Readback.G NPP NMS", "13BMA:KBVP:Stop PP MS",    "Height (Sum)",       mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm4, "13BMA:KBVP:Done NPP NMS", "13BMA:pm4DVAL.VAL PP MS", "13BMA:KBVP:Readback.H NPP NMS", "13BMA:KBVP:Stop PP MS",    "Pitch (Diff)",       mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm5, "13BMA:KBVT:Done NPP NMS", "13BMA:pm5DVAL.VAL PP MS", "13BMA:KBVT:Readback.G NPP NMS", "13BMA:KBVT:Stop PP MS",    "Translation (Sum)",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm6, "13BMA:KBVT:Done NPP NMS", "13BMA:pm6DVAL.VAL PP MS", "13BMA:KBVT:Readback.H NPP NMS", "13BMA:KBVT:Stop PP MS",    "Rotation (Diff)",    mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}

}

file CARSApp/Db/sumDiff2D.db, top
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMA:, KBVB:,  pm1, pm2,    m19.VAL,  m19.RBV,  m18.VAL, m18.RBV, m19.STOP, m19.DMOV, m18.STOP, m18.DMOV, 3}
{13BMA:, KBVP:,  pm3, pm4,    m20.VAL,  m20.RBV,  m21.VAL, m21.RBV, m20.STOP, m20.DMOV, m21.STOP, m21.DMOV, 3}
{13BMA:, KBVT:,  pm5, pm6,    m23.VAL,  m23.RBV,  m22.VAL, m22.RBV, m23.STOP, m23.DMOV, m22.STOP, m22.DMOV, 3}
}


