file "$(CARS)/db/motor.db"
{
pattern
{P,       M,    DTYP,          C,    S,   DESC,                 EGU,    DIR,   VELO,  VBAS,  ACCL,  BDST,   BVEL,  BACC,   SREV,   UREV,   PREC,   DHLM,   DLLM}
{13BMA:,  m18,  "OMS VME58",   2,    0, "Upstream moment",        mm,   Pos,   0.5,   .0,    .5,    0,      .0,    .0,    1600,  -.34737,   4,     40,      0}
{13BMA:,  m19,  "OMS VME58",   2,    1, "Downstream moment",      mm,   Pos,   0.5,   .0,    .5,    0,      .0,    .0,    1600,  -.34737,   4,     40,      0}
{13BMA:,  m20,  "OMS VME58",   2,    2, "Upstream Pitch",         mm,   Neg,    .5,   .0,    2.,    0,      .0,    .0,     400,  .016071,   4,    100,      0}
{13BMA:,  m21,  "OMS VME58",   2,    3, "Downstream Pitch",       mm,   Neg,    .5,   .0,    2.,    0,      .0,    .0,     400,  .016071,   4,    100,      0}
{13BMA:,  m22,  "OMS VME58",   2,    4, "Upstream Translation",   mm,   Pos,     1,   .0,    .5,    0,      .0,    .0,     400,      .02,   2,    101,     -1}
{13BMA:,  m23,  "OMS VME58",   2,    5, "Downstream Translation", mm,   Pos,     1,   .0,    .5,    0,      .0,    .0,     400,      .02,   2,    101,     -1}
{13BMA:,  m24,  "OMS VME58",   2,    6, "BMB top slit",           mm,   Neg,     1.,  .5,    .2,    0,      .1,   1.5,     400,     0.50,   3,     50,      0}
{13BMA:,  m25,  "OMS VME58",   2,    7, "BMB bottom slit",        mm,   Neg,     1.,  .5,    .2,    0,      .1,   1.5,     400,     0.50,   3,     50,      0}
}

file "$(OPTICS)/db/2slit.db"
{
pattern
{P,      SLIT,    mXp,  mXn}
{13BMA:, Slit4H,  m26,  m27}
}

file "$(MOTOR)/db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,                        OUT,                     RDBL,                              STOO,               DESC,              EGU,  DIR, VELO,  VBAS, ACCL, BDST, BVEL, BACC, MRES, RRES, PREC, DHLM,   DLLM}
{13BMA:,  pm1, "13BMA:KBVB:Done NPP NMS", "13BMA:pm1DVAL.VAL PP MS", "13BMA:KBVB:Readback.G NPP NMS", "13BMA:KBVB:Stop PP MS",    "Curvature",          mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm2, "13BMA:KBVB:Done NPP NMS", "13BMA:pm2DVAL.VAL PP MS", "13BMA:KBVB:Readback.H NPP NMS", "13BMA:KBVB:Stop PP MS",    "Ellipticity",        mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm3, "13BMA:KBVP:Done NPP NMS", "13BMA:pm3DVAL.VAL PP MS", "13BMA:KBVP:Readback.G NPP NMS", "13BMA:KBVP:Stop PP MS",    "Height (Sum)",       mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm4, "13BMA:KBVP:Done NPP NMS", "13BMA:pm4DVAL.VAL PP MS", "13BMA:KBVP:Readback.H NPP NMS", "13BMA:KBVP:Stop PP MS",    "Pitch (Diff)",       mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm5, "13BMA:KBVT:Done NPP NMS", "13BMA:pm5DVAL.VAL PP MS", "13BMA:KBVT:Readback.G NPP NMS", "13BMA:KBVT:Stop PP MS",    "Translation (Sum)",  mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}
{13BMA:,  pm6, "13BMA:KBVT:Done NPP NMS", "13BMA:pm6DVAL.VAL PP MS", "13BMA:KBVT:Readback.H NPP NMS", "13BMA:KBVT:Stop PP MS",    "Rotation (Diff)",    mm,  Pos,   1,    .1,   .1,    0,    1,   .1, .0001,  1.0,  3,    10000, -10000}

}

file "$(MOTOR)/db/sumDiff2D.db"
{
pattern
{P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
{13BMA:, KBVB:,  pm1, pm2,    m19.VAL,  m19.RBV,  m18.VAL, m18.RBV, m19.STOP, m19.DMOV, m18.STOP, m18.DMOV, 3}
{13BMA:, KBVP:,  pm3, pm4,    m20.VAL,  m20.RBV,  m21.VAL, m21.RBV, m20.STOP, m20.DMOV, m21.STOP, m21.DMOV, 3}
{13BMA:, KBVT:,  pm5, pm6,    m23.VAL,  m23.RBV,  m22.VAL, m22.RBV, m23.STOP, m23.DMOV, m22.STOP, m22.DMOV, 3}
}


