file "$(CARS)/db/motor.db"
{
pattern
{P,         M,      DTYP,     C, S,  DESC,    EGU,   DIR,     VELO,   VBAS,  ACCL,  BDST,   BVEL,  BACC,  SREV,    UREV,  PREC,  DHLM, DLLM}
# Note: this UT100 stage seems strange, it is moving twice as far per step as all others, so UREV=-.2, rather than -.1
{13Raman:, m1, "ACS MCB-4B",  0, 0, "Vertical Y",    mm,    Neg,     2,     .1,     1.,    0,      1,     .2,    200,     -.2,    3,   -7,   -100}
{13Raman:, m2, "ACS MCB-4B",  0, 1, "Horisontal X",  mm,    Pos,   0.3,    .01,     .2,    0,      1,     .2,     48,  0.0116,    3,   12.4,    -12.4}
{13Raman:, m3, "ACS MCB-4B",  0, 2, "Focus Z",       mm,    Pos,   0.3,    .01,     .2,    0,      1,     .2,     48,  0.0116,    3,   12.4,    -12.4}
{13Raman:, m4, "ACS MCB-4B",  0, 3, "rotary",       deg,    Pos,    10.,   0.05,    .5,     0,      1,     .2,    400,    4.,    3,     360, -360}
}

