file "$(SSCAN)/sscanApp/Db/scanParms.db"
{
{P=13BMC:,SCANREC=13BMC_XPS:scan1,Q=m71,POS=m71.VAL,RDBK=m71.RBV}
{P=13BMC:,SCANREC=13BMC_XPS:scan1,Q=m72,POS=m72.VAL,RDBK=m72.RBV}
{P=13BMC:,SCANREC=13BMC_XPS:scan1,Q=m73,POS=m73.VAL,RDBK=m73.RBV}
{P=13BMC:,SCANREC=13BMC_XPS:scan1,Q=m74,POS=m74.VAL,RDBK=m74.RBV}
{P=13BMC:,SCANREC=13BMC_XPS:scan1,Q=m75,POS=m75.VAL,RDBK=m75.RBV}
}
