file "$(CARS)/CARSApp/Db/mono_pid_control.db"
{
pattern
{P,      PID,       INP,                       OUT,         LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,   KI,   KD,  SCAN,       SHUT_STATUS}
{13XRM:, pitch_pid, 13XRM:pitch_pid_incalc.G, 13IDA:DAC1_7,    0,    10,    -5,    5,    4,  0.2,  3.0,  0.0, "2 second", 13IDA:eps_mbbi25}
}


file "$(CARS)/CARSApp/Db/mono_pid_control.db"
{
pattern
{P,      PID,      INP,                      OUT,         LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,   KI,   KD,  SCAN,       SHUT_STATUS}
{13XRM:, roll_pid, 13XRM:roll_pid_incalc.G, 13IDA:DAC1_8,    0,    10,    -5,     5,    4,  0.2,  3.0,  0.0, "0.1 second", 13IDA:eps_mbbi25}
}

