file "$(CARS)/CARSApp/Db/asynMotor.db"
{
pattern
{P,       N, M,   DTYP,    PORT, ADDR,   DESC,   EGU,  DIR, VELO, VBAS, ACCL, BDST,BVEL,BACC,  SREV, UREV, PREC,  DHLM,     DLLM}
{13XRM:, 1, m1, "asynMotor", XPS1, 0, "finex",    mm,  Pos,  5.,   1,   0.5,   0, 1, .2,     100000,  1,    5,    12.4,    -12.4}
{13XRM:, 2, m2, "asynMotor", XPS1, 1, "finey",    mm,  Pos,  5.,   1,   0.5,   0, 1, .2,      50000,  1,    5,     2.4,     -2.4}
{13XRM:, 3, m3, "asynMotor", XPS1, 2, "theta",   deg,  Pos, 20.,   1,   0.5,   0, 1, .2,       2000,  1,    4, 36000.0, -36000.0}
{13XRM:, 4, m4, "asynMotor", XPS1, 3, "x",        mm,  Pos,  5.,   1,   1.0,   0, 1, .5,       2000,  1,    4,   100.0,   -100.0}
{13XRM:, 5, m5, "asynMotor", XPS1, 4, "z",        mm,  Neg,  5.,   1,   1.0,   0, 1, .5,       2000,  1,    4,   100.0,   -100.0}
{13XRM:, 6, m6, "asynMotor", XPS1, 5, "y",        mm,  Neg,  5.,   1,   1.0,   0, 2, .2,       5000,  1,    4,   292.0,     -8.0}
#{13XRM:, 7, m7, "asynMotor", XPS1, 6, "uts1",    mm,  Pos,  5.,   1,   0.5,   0, 1, .2,       1000,  1,    4,    50.0,    -50.0}
#{13XRM:, 8, m8, "asynMotor", XPS1, 7, "uts2",    mm,  Pos,  5.,   1,   0.5,   0, 1, .2,       1000,  1,    4,    75.0,    -75.0}
}

# file "$(CARS)/CARSApp/Db/asynMotor.db"
# {
# pattern
# {P,   N, M,  DTYP,   PORT, ADDR,  DESC,             EGU,  DIR, VELO, VBAS, ACCL, BDST,BVEL,BACC,  SREV,UREV, PREC,  DHLM,  DLLM}
# {13XRM:, 1, m9,  "asynMotor", XPS2, 0,  "Vortex X",  mm,  Neg,  5.,   1,   0.5,   0, 1, .2,       100, 0.1,    4,  50.0,  -50.0}
# {13XRM:, 2, m10, "asynMotor", XPS2, 1,  "Vortex Y",  mm,  Neg,  5.,   1,   0.5,   0, 1, .2,       100, 0.1,    4,  50.0,  -50.0}
# {13XRM:, 3, m11, "asynMotor", XPS2, 2,  "Vortex Z",  mm,  Neg,  5.,   1,   0.5,   0, 1, .2,       100, 0.1,    4,  50.0,  -50.0}
# #{13XRM:, 4, m12, "asynMotor", XPS2, 3,  "Unused",    mm,  Pos, 20.,   1,   0.5,   0, 1, .2,       200, 0.1,    4,  149.0,   0.0}
# }

file "$(MOTOR)/motorApp/Db/pseudoMotor.db"
{
pattern
{P,       M,           DINP,             OUT,    RDBL,  STOO,DESC, EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL,                    BACC, MRES,   RRES, PREC,  DHLM, DLLM}
{13XRM:,pm1, "13XRM:PM:Done NPP NMS", "13XRM:pm1DVAL.VAL PP MS", "13XRM:PM:Readback.G NPP NMS", "13XRM:PM:Stop PP MS", "outboard", mm, Neg, 5, 1, 1, 0, 1, 0.5, 0.0003, 1, 4, 400, -400}
{13XRM:,pm2, "13XRM:PM:Done NPP NMS", "13XRM:pm2DVAL.VAL PP MS", "13XRM:PM:Readback.H NPP NMS", "13XRM:PM:Stop PP MS", "downstream", mm, Pos, 5, 1, 1, 0, 1, 0.5, 0.0003, 1, 4, 400, -400}
}

file "$(MOTOR)/motorApp/Db/sumDiff2D.db"
{
 pattern
 {P,      T,     SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
 {13XRM:, PM:,  pm1, pm2,      m5.VAL,  m5.RBV,  m4.VAL, m4.RBV, m5.STOP, m5.DMOV, m4.STOP, m4.DMOV, 4}
}

# file "$(MOTOR)/motorApp/Db/energy_psuedomotor.db"
#{
# pattern
# {P,      T,    SUM, DIFF,    M1DRV,    M1RBV,   M2DRV,   M2RBV,   M1STOP,   M1DONE,   M2STOP,   M2DONE,  PREC}
# {13XRM:, EM,   pm1, pm2,      m5.VAL,  m5.RBV,  m4.VAL, m4.RBV, m5.STOP, m5.DMOV, m4.STOP, m4.DMOV, 4}
#}

file "$(MOTOR)/motorApp/Db/profileMoveController.template"
{
pattern
{P,       R,      PORT, NAXES, NPOINTS, NPULSES, TIMEOUT}
{13XRM:,  Prof1:, XPS1,     6,    2000,    2000,       1}
}

file "$(MOTOR)/db/profileMoveControllerXPS.template"
{
pattern
{P,         R,    PORT, NAXES, NPOINTS, NPULSES, TIMEOUT}
{13XRM:,  Prof1:, XPS1,     6,    2000,    2000,       1}
}

file "$(MOTOR)/motorApp/Db/profileMoveAxis.template"
{
pattern
{P,       R,      M,  PORT, ADDR,NPOINTS, NREADBACK,    MOTOR, PREC, TIMEOUT}
{13XRM:,  Prof1:, 1,  XPS1,    0,   2000,      2000, 13XRM:m1,   5,       1}
{13XRM:,  Prof1:, 2,  XPS1,    1,   2000,      2000, 13XRM:m2,   5,       1}
{13XRM:,  Prof1:, 3,  XPS1,    2,   2000,      2000, 13XRM:m3,   4,       1}
{13XRM:,  Prof1:, 4,  XPS1,    3,   2000,      2000, 13XRM:m4,   4,       1}
{13XRM:,  Prof1:, 5,  XPS1,    4,   2000,      2000, 13XRM:m5,   4,       1}
{13XRM:,  Prof1:, 6,  XPS1,    5,   2000,      2000, 13XRM:m6,   4,       1}
}

file "$(MOTOR)/motorApp/Db/profileMoveAxisXPS.template"
{
pattern
{P,       R,      M,  PORT, ADDR,NPOINTS, NREADBACK, PREC, TIMEOUT}
{13XRM:,  Prof1:, 1,  XPS1,    0,   2000,      2000,    5,       1}
{13XRM:,  Prof1:, 2,  XPS1,    1,   2000,      2000,    5,       1}
{13XRM:,  Prof1:, 3,  XPS1,    2,   2000,      2000,    4,       1}
{13XRM:,  Prof1:, 4,  XPS1,    3,   2000,      2000,    4,       1}
{13XRM:,  Prof1:, 5,  XPS1,    4,   2000,      2000,    4,       1}
{13XRM:,  Prof1:, 6,  XPS1,    5,   2000,      2000,    4,       1}
}
