file "$(ASYN)/db/asynRecord.db"
{
pattern
{P              R         PORT    ADDR   OMAX  IMAX}
{13IDD:LVP:     serial1   serial1    0     80  80}
{13IDD:LVP:     serial2   serial2    0     80  80}
{13IDD:LVP:     serial3   serial3    0     80  80}
}
