file "LVP_pid_control.db"
{
pattern
{P,           PID,           INP,             INPV,              INPI,      INPVMODE   OUT,    LOPR,  HOPR,  DRVL, DRVH, PREC,   KP,    KI,   KD,   SCAN,           VOLT,  RESET}
{13IDD:LVP:,  PID1,  DMM3Ch8_calc.VAL, DMM4Ch1_calc.VAL,  DMM4Ch6_calc.VAL,  MC1:Ai0, MC2:Ao1,   0,     200,     0,   1,   3,    .010,     0.8,   0.,  ".5 second", MC2:Ao2, xxx}
}
