file "$(CARS)/db/ID_LVP_pressure.db"
{
pattern
{P,          R,      C,  PORT,  RADIAL_MOTOR,  SYRINGE_MOTOR,  KP,    KI,   KD,   SCAN}
{13IDD:LVP:, Press_, 0, serial1, 13IDD:m56,    13IDD:m54,      20,     0.,   0.,  ".5 second"}
}
