file "$(CARS)/CARSApp/Db/ID_LVP_pressure.db"
{
pattern
{P,          R,      C,  PORT,  RADIAL_DAC,  SYRINGE_DAC,  KP,    KI,   KD,   SCAN}
{13IDD:LVP:, Press_, 0, serial1, MC1:Ao1,     MC1:Ao2,     20,     0.,   0.,  ".5 second"}
}
