# motor template file for 13 Lab
#
file "$(CARS)/db/galil_motor.template"
{
pattern
{P,       M,    DTYP,      CTRL,    PORT,  ADDR,  DESC,        EGU, DIR, VELO, VBAS, ACCL, BDST, BVEL, BACC,  SREV, UREV, PREC, DHLM, DLLM}
# Step-Pak
{13LAB:,  m1, "asynMotor", Galil1:, GALIL1, 0, "Motor 1",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m2, "asynMotor", Galil1:, GALIL1, 1, "Motor 2",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m3, "asynMotor", Galil1:, GALIL1, 2, "Motor 3",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m4, "asynMotor", Galil1:, GALIL1, 3, "Motor 4",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m5, "asynMotor", Galil1:, GALIL1, 4, "Motor 5",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m6, "asynMotor", Galil1:, GALIL1, 5, "Motor 6",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m7, "asynMotor", Galil1:, GALIL1, 6, "Motor 7",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:,  m8, "asynMotor", Galil1:, GALIL1, 7, "Motor 8",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}

# Step-Pak
{13LAB:,  m9, "asynMotor", Galil2:, GALIL2, 0, "Motor 9",      rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m10, "asynMotor", Galil2:, GALIL2, 1, "Motor 10",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m11, "asynMotor", Galil2:, GALIL2, 2, "Motor 11",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m12, "asynMotor", Galil2:, GALIL2, 3, "Motor 12",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m13, "asynMotor", Galil2:, GALIL2, 4, "Motor 13",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m14, "asynMotor", Galil2:, GALIL2, 5, "Motor 14",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m15, "asynMotor", Galil2:, GALIL2, 6, "Motor 15",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}
{13LAB:, m16, "asynMotor", Galil2:, GALIL2, 7, "Motor 16",     rev, Pos,1000.,  0.1,  0.5,    0,    1,   .5,   400,  400,   3,  1000, -1000}

# D4140 drivers, 64 microsteps
{13LAB:, m17, "asynMotor", Galil3:, GALIL3, 0, "Motor 17",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m18, "asynMotor", Galil3:, GALIL3, 1, "Motor 18",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m19, "asynMotor", Galil3:, GALIL3, 2, "Motor 19",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m20, "asynMotor", Galil3:, GALIL3, 3, "Motor 20",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m21, "asynMotor", Galil3:, GALIL3, 4, "Motor 21",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m22, "asynMotor", Galil3:, GALIL3, 5, "Motor 22",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m23, "asynMotor", Galil3:, GALIL3, 6, "Motor 23",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}
{13LAB:, m24, "asynMotor", Galil3:, GALIL3, 7, "Motor 24",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5, 12800, 12800,   3,  1000, -1000}

# D4040 drivers, 16 microsteps
{13LAB:, m25, "asynMotor", Galil4:, GALIL4, 0, "Motor 25",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m26, "asynMotor", Galil4:, GALIL4, 1, "Motor 26",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m27, "asynMotor", Galil4:, GALIL4, 2, "Motor 27",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m28, "asynMotor", Galil4:, GALIL4, 3, "Motor 28",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m29, "asynMotor", Galil4:, GALIL4, 4, "Motor 29",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m30, "asynMotor", Galil4:, GALIL4, 5, "Motor 30",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m31, "asynMotor", Galil4:, GALIL4, 6, "Motor 31",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
{13LAB:, m32, "asynMotor", Galil4:, GALIL4, 7, "Motor 32",     rev, Pos, 1000.,  0.1,  0.5,    0,    1,   .5,  3200, 3200,   3,  1000, -1000}
}
